[2019-04-01 07:50] szepeviktor opened #1 "Add --allow-traits option"
`vendor/bin/phpinsights analyse --allow-traits`

[2019-04-01 07:52] szepeviktor opened #2 "new Insight: Dirty Class Detector"
[code]

[2019-04-01 07:54] szepeviktor commented on #2
Uses nikic/php-parser

[2019-04-01 08:00] szepeviktor opened #3 "Add JSON output"
It could be used in CI.

E.g. alert on usage of global variables.

[2019-04-01 08:02] szepeviktor opened #4 "Add options for Bigger* limits"
like `getMaximumClassLength() > 30`

`--max-class-length 40`

[2019-04-01 10:57] nunomaduro commented on #2
Could you summarise what this code it's doing? It's not clear for me. 🤔

[2019-04-01 11:01] szepeviktor commented on #2
[code]

- it parses the code
- removes interface/class/etc. and everything in it
- if the remaining thing is not a namespace it alerts you: "Dirty Class"

[2019-04-01 11:03] szepeviktor commented on #2
I meet new code bases every month an I need tool to make sure all files contain only **1 class**.

[2019-04-01 11:04] nunomaduro commented on #2
I see. It's a good `Insight`. I will add it!

[2019-04-01 11:04] szepeviktor commented on #2
Thank you.

[2019-04-01 19:42] szepeviktor opened #5 "Distribute through phive"
in a PHAR file phpinsights would not conflict with the project's deps

https://github.com/phar-io/phive

[2019-04-03 22:03] nunomaduro opened #7 "[Insight] Verify if all php files contain `declare(strict_types=1);`"
To solve this issue, you should create a pull request adding the following insight:  Verify if all php files contain `declare(strict_types=1);`.

This will be later an optional `Insight`.

[2019-04-03 22:22] nunomaduro opened #8 "Add optionally a description to an `Insight`"
To solve this issue, you should create an interface called `HasDescription`, that can be added to an `Insight`. The goal: If an `Insight` contains the interface `HasDescription`, then we description somewhere why the `Insight` exists, why is bad, suggestion on how can be fixed; etc.

[2019-04-04 03:20] szepeviktor commented on #1
@mikeerickson Click: https://www.google.com/search?q=php+traits+bad

[2019-04-09 03:00] kattatzu opened #11 "Undefined index: require"
I have run phpinsights but I get the following error:

[code]

  Please use the argument -v to see more details.

[2019-04-09 04:14] szepeviktor commented on #11
This project is WIP.

[2019-04-09 07:44] nunomaduro commented on #11
@kattatzu Can I see your `composer.json` ?

[2019-04-09 07:49] nunomaduro commented on #11
@kattatzu Anyway, should be good now.

[2019-04-09 07:49] #11 closed

[2019-04-09 07:50] nunomaduro opened #12 "[Insight for Laravel] Verify if there no dd() calls"
To solve this issue, you should create a pull request adding the `Insight` described on the title.

[2019-04-09 07:50] nunomaduro opened #13 "[Insight for Laravel] Verify that there is no usages of requests outside FormRequests or Controllers"
To solve this issue, you should create a pull request adding the `Insight` described on the title.

[2019-04-09 07:57] nunomaduro opened #14 "[Insight] Verify if objects are immutable"
To solve this issue, you should create a pull request adding the Insight described on the title.

[2019-04-17 03:46] xuanquynh commented on #7
You can add `declare(strict_types=1); " directive to all php files by using the [friendsofphp/php-cs-fixer](https://packagist.org/packages/friendsofphp/php-cs-fixer) package.

This is the sample of .php_cs file
[code]

[2019-04-17 08:41] nunomaduro commented on #7
I am not find of tools that touch on my code automatically. Specially because that directive changes the behaviour of the code itself. Ideally would be cool to find a phpcs sniff for this, and add it here: https://github.com/nunomaduro/phpinsights/blob/e4530f13eb081e2464748490720624a94fbafb74/src/Domain/Metrics/LinesOfCode/SourceCode.php#L50.

[2019-04-18 03:12] xuanquynh commented on #7
I don't really understand all stuff here. I am a little bit busy, too but I will spend time reading phpinsights source code soon and then try to think about a solution. I have created my own sniffs before. It may be helpful.

[2019-05-07 18:52] nunomaduro commented on #1
This is already possible with the configuration file.

[2019-05-07 18:52] #1 closed

[2019-05-07 18:52] nunomaduro commented on #2
There is already an Insight for this.

[2019-05-07 18:52] #2 closed

[2019-05-07 18:53] nunomaduro commented on #3
No plans at the moment.

[2019-05-07 18:53] #3 closed

[2019-05-07 18:53] nunomaduro commented on #4
You can already do this doing the configuration file.

[2019-05-07 18:53] #4 closed

[2019-05-07 18:53] nunomaduro commented on #5
No plans at the moment.

[2019-05-07 18:53] nunomaduro commented on #7
It's done already.

[2019-05-07 18:53] #7 closed

[2019-05-07 18:54] #14 closed

[2019-05-08 01:45] szepeviktor commented on #2
Very well!!

[2019-05-08 01:49] szepeviktor commented on #5
@nunomaduro I'm very sad.

Modern PHP tools **tend** to go PHAR-only, e.g. PHPStan

There would be only these steps:

- add 1 phive config
- release process: add a phar file
- release process: add a GPG signature

What do you think?

[2019-05-08 04:41] szepeviktor opened #22 "0.0% Complexity score is not aligned"
![kép](https://user-images.githubusercontent.com/952007/57349921-47614e00-715c-11e9-9639-b18ae5bc111d.png)

[2019-05-08 04:45] szepeviktor opened #23 "How not to omit issues?"

[2019-05-08 10:00] nunomaduro commented on #5
It’s a good idea.

It’s just I don’t have plans to do it in the next weeks.

Let’s reconsider this.

On Wed 8 May 2019 at 03:49, Viktor Szépe <notifications@github.com> wrote:

[2019-05-08 10:03] nunomaduro commented on #22
Can I see that source code? 😆

[2019-05-08 10:10] szepeviktor opened #24 "What does phpinsights think of itself?"
I think phpinsights should have a clean output when being executed on itself.

What are you thinking?

[2019-05-08 10:11] szepeviktor commented on #22
No :( 100k sloc and not open-source.

[2019-05-08 10:12] nunomaduro commented on #22
Alright, but 0.0 it’s impossible. Possible a bug.

On Wed 8 May 2019 at 12:11, Viktor Szépe <notifications@github.com> wrote:

[2019-05-08 10:14] szepeviktor commented on #22
I think 1.0% (1-9) would also ruin the output

[2019-05-08 10:27] szepeviktor opened #25 ""Press any key" is really just ENTER"
other keys won't make it continue

[2019-05-08 10:53] pxgamer commented on #24
It's still WIP. So maybe in future. 🤔 Have you tried running it on itself?

[2019-05-08 10:56] szepeviktor commented on #24
[code]

[2019-05-08 14:29] nunomaduro commented on #25
Can you make a pull request to fix this buddy? You just have to edit this line: https://github.com/nunomaduro/phpinsights/blob/9a4ae0ff7975b554102a10fae3cf08c3d6b6c998/src/Application/Console/Style.php#L262.

[2019-05-08 14:30] nunomaduro commented on #24
Ideally, PHP Insights should return a result plus and exit code. Any ideas on this?

[2019-05-08 14:32] szepeviktor commented on #25
I hope you were referring to this solution.

[2019-05-08 14:35] szepeviktor commented on #24
Yes, this force terminal usage may not make it popular in automation.

[2019-05-08 14:39] nunomaduro opened #27 "[art] Add a logo/banner"
If you are a designer and want to contribute to open source would be cool add a logo/banner to this website.

[2019-05-08 14:41] nunomaduro opened #28 "[art] add a website"
If you are a web-developer and want to contribute would be cool to add a website in vue-press / or jigsaw or similar. With the documentation that exists on the readme.

You should perform a pull request here: https://github.com/nunomaduro/phpinsights-website.

[2019-05-08 14:43] nunomaduro commented on #22
Alright, to this issue we just need to make sure that this method https://github.com/nunomaduro/phpinsights/blob/9a4ae0ff7975b554102a10fae3cf08c3d6b6c998/src/Application/Console/Style.php#L277 returns a 5 chars string.

[2019-05-08 14:43] #25 closed

[2019-05-08 14:44] nunomaduro commented on #24
Not sure on that buddy, as we have a quality result out of this.

[2019-05-08 14:51] pxgamer commented on #12
Is there a way to view function call names at the moment? 🤔

[2019-05-08 16:16] szepeviktor commented on #12
it is Squiz.PHP.DiscouragedFunctions.forbiddenFunctions in PHPCS

Could we add dump() and extract, compact and list?

[2019-05-08 17:27] nunomaduro commented on #12
Exactly, good idea @szepeviktor.

@pxgamer You just need to add this code:
[code]

To https://github.com/nunomaduro/phpinsights/blob/c8e1069171bac1c057f08bda73273a5200c4ba6d/src/Application/DefaultPreset.php#L46.

Don't forget to test it locally to see if it works.

[2019-05-08 17:31] nunomaduro opened #29 "Missing pull request template"
If you would like to contribute to PHP Insights, you can try to add the GitHub pull request template.

[2019-05-08 17:31] nunomaduro opened #30 "Missing issue template"
If you would like to contribute to PHP Insights, you can try to add the GitHub issue template.

[2019-05-08 17:31] pxgamer commented on #12
I'll take a look at it later, cheers. :+1:

[2019-05-08 21:20] szepeviktor commented on #30
fantastic resources: https://github.com/humbug/box/tree/master/.github/ISSUE_TEMPLATE

[2019-05-09 00:35] brunocfalcao opened #31 "Dependency version mismatch for Laravel 5.8.x - symfony/finder"
Hi Nuno,

Laravel 5.8.x uses the version ^4.2 of symfony/finder.

But this package needs the 4.3.x-dev, giving the following requirements error:

![image](https://user-images.githubusercontent.com/34269950/57416994-eccefd00-7202-11e9-947c-a0770564c956.png)

Is there a reason to have this 4.3.x-dev version? If not, I would propose to downgrade to 4.2.x.

Thanks, and great work!
Bruno

[2019-05-09 07:08] nunomaduro commented on #31
That's the reason why this package is not released yet. 👌🏻

[2019-05-09 07:08] #31 closed

[2019-05-09 15:28] #12 closed

[2019-05-09 19:19] brunocfalcao commented on #31
Sure, I was testing it because it says on the readme how to use it under the Laravel scope.

No prob, will wait then 👌🏻

[2019-05-09 19:22] nunomaduro commented on #31
@brunocfalcao Don't hesitate to contribute buddy. We are near the launch.

[2019-05-09 20:14] szepeviktor commented on #31
🚀

[2019-05-10 17:38] nunomaduro commented on #31
@brunocfalcao Should be good now, decided to drop the dependency at the moment.

[2019-05-10 19:24] nunomaduro commented on #23
You can now pass the option `-v` to display all issues. https://github.com/nunomaduro/phpinsights/commit/fec71b4efff4d4fb2dd3a5981d80c752621d81c2

[2019-05-10 19:24] #23 closed

[2019-05-10 19:45] szepeviktor commented on #23
Thanks.

[2019-05-12 11:24] nunomaduro opened #34 "[Preset] Yii framework"
To perform this task you just have two:

1. Create a new folder `yii` within: https://github.com/nunomaduro/phpinsights/tree/master/src/Application/Adapters
2. Add a new instruction on the readme.

[2019-05-12 11:24] nunomaduro opened #35 "[Preset] WordPress"
To perform this task you just have two:

1. Create a new folder `WordPress` within: https://github.com/nunomaduro/phpinsights/tree/master/src/Application/Adapters
2. Add a new instruction on the readme.

[2019-05-12 11:25] nunomaduro opened #36 "[Preset] Magento"
To perform this task you just have two:

1. Create a new folder `Magento` within: https://github.com/nunomaduro/phpinsights/tree/master/src/Application/Adapters
2. Add a new instruction on the readme.

[2019-05-12 11:32] szepeviktor commented on #35
Could we name the folder *WordPress*?

[2019-05-12 11:37] nunomaduro commented on #35
Sure, done! Do you work with WordPress buddy?

[2019-05-12 11:38] szepeviktor commented on #35
[Yes](https://github.com/szepeviktor), I run Laravel and WordPress sites.

[2019-05-12 11:38] nunomaduro commented on #35
Nice! Fell free to work in this issue. Should be easy. You can check the example within the Symfony repository.

[2019-05-12 11:41] szepeviktor commented on #35
Free falling is my favorite.

[2019-05-12 11:52] nunomaduro commented on #34
Fixed via https://github.com/nunomaduro/phpinsights/commit/b44f56c51f8a0161193eac2a9fadf9c65ae53486.

[2019-05-12 11:52] #34 closed

[2019-05-12 12:57] ghost opened #37 "Better readability"
Make the results of code, complexity, architecture and style more readable. With the dark color, the results are hard to read.

[2019-05-12 13:10] szepeviktor commented on #37
Could you share a screenshot?

[2019-05-12 16:24] FFDevelopment commented on #37
![Capture](https://user-images.githubusercontent.com/47126617/57585059-162da880-74e3-11e9-8123-48d06a0bcbfe.PNG)

[2019-05-12 16:35] nunomaduro commented on #37
I think that is actually a problem from your theme. Can you tell me the theme of your terminal and the terminal you use?

[2019-05-12 16:37] FFDevelopment commented on #37
I don't have a theme in Laravel Homestead.

[2019-05-12 18:10] FFDevelopment opened #38 "Double checks?"
I'm not sure if this is just a mistake or is it possible that some checks will be executed twice?

Checks like `Nullable type for null default value` or `Useless parentheses`

[2019-05-12 18:42] szepeviktor commented on #38
Could you proved a snippet of your output?

[2019-05-12 19:02] FFDevelopment commented on #38
Duplicates

[Code](https://github.com/nunomaduro/phpinsights/blob/c1a99b3c5c343578c1e87f3beff0a26e48226dca/src/Domain/Metrics/Code/Code.php)
UnusedVariableSniff::class
RequireCombinedAssignmentOperatorSniff::class
UselessParenthesesSniff::class
UselessSemicolonSniff::class

[Comments](https://github.com/nunomaduro/phpinsights/blob/c1a99b3c5c343578c1e87f3beff0a26e48226dca/src/Domain/Metrics/Code/Co

[2019-05-12 19:03] szepeviktor commented on #38
Thank you.

Is a part of the actual output availble for us?

[2019-05-12 19:11] FFDevelopment commented on #38
I have already mentioned which entries occur twice in my result.

[2019-05-12 19:28] szepeviktor commented on #38
That is OK.

It would be highly beneficial to actually see a snippet of the output.

[2019-05-12 23:38] nunomaduro commented on #38
@FFDevelopment Can you try again with the latest version? Perform a `composer update nunomaduro/phpinsights`.

[2019-05-13 05:23] FFDevelopment commented on #38
It has already been updated to the latest version.

[2019-05-13 05:52] nunomaduro commented on #38
Alright, I need you to send me the exact output you get from the console.

[2019-05-13 06:16] FFDevelopment commented on #38
These are the results of 3 different projects

project 1
• [Code] Forbidden public property:
• [Code] 2 unused private attributes:
• [Code] No setter:
• [Code] Useless parentheses:
• [Code] Element name minimal length:
• [Code] Useless overriding method:
• [Code] Disallow empty:
• [Code] Unused parameter:
• [Code] Useless parentheses:
• [Code] Empty comment:
• [Code] Nullable type for null default

[2019-05-13 08:21] nunomaduro commented on #38
Fixed in https://github.com/nunomaduro/phpinsights/commit/676958de0b982a55908b53e2c0e2d0f980f16950.

[2019-05-13 08:21] #38 closed

[2019-05-14 11:22] larsroettig commented on #36
I will implement this for Magento 2

[2019-05-14 11:30] ShawnMcCool opened #40 "Packages defines global functions"
I noticed that phpinsights defines global Laravel functions in your application. So if you've modified these functions to have different behavior etc, then yours fail because composer bootstraps packages first.

So, I can't use it basically.

[2019-05-14 11:32] nunomaduro commented on #40
Thanks for reporting this @ShawnMcCool.

[2019-05-14 11:34] mauxtin opened #41 "Windows support"
First of all, great work with the package 🥇

Just wanted to let you know that when running on windows (bash) the package doesn't work. It only works with Windows Linux subsystem

### What doesn't work
[code]
[code]

Through Windows Linux Subsystem terminal:

[code]

### What works:
Through Windows Linux Subsystem terminal:
[code]

Posting it mostly as a reference for anyone else who have trouble g

[2019-05-14 11:35] nunomaduro commented on #41
@mauxtin Thanks for reporting this. I don't have a Windows machine. Let's wait, maybe someone can give us a hand on this and submit a pull request.

[2019-05-14 11:40] mauxtin opened #42 "Ignore specific files"
Is there any way to ignore specific files/directories?

I want to exclude `_ide_helper.php` 😄

[2019-05-14 11:43] deleugpn opened #43 "iconv(): Wrong charset, conversion from UTF-8 to ASCII//TRANSLIT//IGNORE is not allowed"
When running Insights on my Laravel project, I get the following stack

[code]

I haven't figured out what's the root cause yet.

[2019-05-14 11:46] edhardie opened #44 "Argument 2 passed to SlevomatCodingStandard\Sniffs\Operators\RequireOnlyStandaloneIncrementAndDecrementOperatorsSniff::isStandalone() must be of the type integer, null given"
Hi, interesting looking tool.

I'm getting the following at around 70% on the first Laravel project I tried.

`Argument 2 passed to SlevomatCodingStandard\Sniffs\Operators\RequireOnlyStandaloneIncrementAndDecrementOperatorsSniff::isStandalone() must be of the type integer, null given, called in /[project_path]/vendor/slevomat/coding-standard/SlevomatCodingStandard/Sniffs/Operators/RequireOnlyStand

[2019-05-14 11:49] deleugpn commented on #43
Looks like it's an upstream issue with a dependency. Nette Utils doesn't work properly on Docker Alpine images: https://github.com/nette/utils/issues/109

[2019-05-14 11:50] wirfler opened #45 "Directory is not set correctly in Win environment"
If you try to run phpinsights in a Windows environment, it throws a Runtime Exception saying "The file `composer.json` must exist. You should run PHP Insights from the root of your project.".

Reason:
nunomaduro\phpinsights\src\Application\Console\Commands\AnalyseCommand.php:105

`if ($directory[0] !== DIRECTORY_SEPARATOR) {`

This check does obviously not work if $directoy is something like "C:\f

[2019-05-14 11:51] brunocfalcao opened #47 "Error when using php artisan insights"
Hi Nuno,

Followed the instructions for the Laravel application, but somehow it gives this error when I run the artisan command:

![image](https://user-images.githubusercontent.com/34269950/57695716-45f9bf00-764f-11e9-9501-2a9b9146239b.png)

Thanks

[2019-05-14 11:53] nunomaduro commented on #42
Fixed. https://github.com/nunomaduro/phpinsights/pull/46

[2019-05-14 11:53] #42 closed

[2019-05-14 11:54] nunomaduro commented on #47
Do you have a `composer.json` within your larapush folder?

[2019-05-14 11:55] nunomaduro commented on #45
Can you fork and try to bug fix this? I don't have a windows machine.

[2019-05-14 11:55] nunomaduro commented on #47
Can you fork and try to bug fix this? I don't have a windows machine.

[2019-05-14 11:57] edhardie commented on #44
Turned out to be a syntax error in one of my listener classes, running with `-v` let me track down which file it was failing on and then the error was a bit more obvious to me.

[2019-05-14 11:57] #44 closed

[2019-05-14 12:03] antoniogarcia78 commented on #47
Same error.

[2019-05-14 12:06] nunomaduro commented on #45
@wirfler Can you replace that line by:

[code]

And check if it works?

[2019-05-14 12:07] nunomaduro commented on #47
@brunocfalcao @antoniogarcia78 Can you replace the `nunomaduro\phpinsights\src\Application\Console\Commands\AnalyseCommand.php:105` by:

[code]

And check if it works?

[2019-05-14 12:12] wirfler commented on #45
You were quicker. ;)
Yes, works indeed!

[2019-05-14 12:16] nunomaduro commented on #47
Fixed on the version `v1.0.2`. https://github.com/nunomaduro/phpinsights/commit/8bae26f096f6f9e39e3dc2e6c03ec4acb4e3f802.

Please make sure you perform: `composer update nunomaduro/phpinsights` to get the latest version.

[2019-05-14 12:16] #47 closed

[2019-05-14 12:16] nunomaduro commented on #45
Fixed on the version `v1.0.2`. https://github.com/nunomaduro/phpinsights/commit/8bae26f096f6f9e39e3dc2e6c03ec4acb4e3f802.

Please make sure you perform: `composer update nunomaduro/phpinsights` to get the latest version.

[2019-05-14 12:16] #45 closed

[2019-05-14 12:16] nunomaduro commented on #41
Fixed on the version `v1.0.2`. https://github.com/nunomaduro/phpinsights/commit/8bae26f096f6f9e39e3dc2e6c03ec4acb4e3f802.

Please make sure you perform: `composer update nunomaduro/phpinsights` to get the latest version.

[2019-05-14 12:16] #43 closed

[2019-05-14 12:43] antoniogarcia78 commented on #47
You are fast. I try a fast fix using the constant PHP_OS. The problem is compare the first character with the DIRECTORY_SEPARATOR.
If i use composer update i dont update more that 1.0.1

[2019-05-14 12:44] nunomaduro commented on #47
@antoniogarcia78 Try again. Takes some time.

[2019-05-14 15:03] francislavoie opened #48 "Doesn't run when installed globally"
I tried to install it globally using `composer global require nunomaduro/phpinsights` because I have dependency conflicts in my project (non-Laravel) that I wanted to try it on. When running, I get a ton of autoloader errors.

[code]

[2019-05-14 15:20] szepeviktor commented on #48
That is why modern tools suggest phar distribution.

[2019-05-14 15:22] nunomaduro commented on #48
@szepeviktor Exactly, we need to work on that.

Meanwhile this is fixed. https://github.com/nunomaduro/phpinsights/commit/e18777c76e8fe2de262894043a58ae43f5ee286a

Please perform `composer global update nunomaduro/phpinsights`.

[2019-05-14 15:22] #48 closed

[2019-05-14 15:26] francislavoie commented on #48
Thanks!

It does run now, but I still get lots of notices, then later after running for 4% of the way, it dies again:

[code]

[2019-05-14 15:43] francislavoie commented on #48
I ran it on a Laravel project instead and it seems to work fine. I think it's just weird edgecases running on a crazy legacy project 🤪

[2019-05-14 15:43] ijpatricio commented on #24
If I understood correctly, what could be done are output formats, not only terminal.

Like `--output=html` or `--output=json`, so that integrations could happen smoothly, (CI and more)

[2019-05-14 15:48] ijpatricio commented on #24
Output format, plus the exit code 👍

[2019-05-14 15:54] ijpatricio commented on #13
Maybe leaving the classes where the the request can be used as configurable.

Think for example, DataTransferObjects. In https://github.com/spatie/data-transfer-object , a `fromRequest` constructor is adopted.

There might be more cases, so leaving calss / parent class as configurable might be a good solution.

[2019-05-14 16:53] szepeviktor commented on #24
That was in https://github.com/nunomaduro/phpinsights/issues/3

[2019-05-14 19:48] VladimirBerezkin opened #52 "Wrong 'unused function parameter' issue"
Hi, Nuno! Great package, congrats with release!
I think I found a minor bug when using compact() function in controllers in Laravel, here is the example from BlogPostController:
[code]

Issue that insights give me:
[code]

[2019-05-14 19:57] galloaleonardo commented on #41
The above changes are contemplated in my version, but the error continues. =(

[code]

[2019-05-14 20:00] nunomaduro commented on #41
What error do you have exactly? @galloaleonardo

[2019-05-14 20:13] viezel opened #53 "Missing docs on configure Insights in phpinsights.php"
First of all: Great product!!

im trying to configure the `phpinsights.php` but missing  docs on how to configure built in insights?

e.g. I dont want a space after NOT operator.
`if (!in_array(...))` should be `if (! in_array(...))`

So docs on how to disable it.

[2019-05-14 20:16] galloaleonardo commented on #41
When I run the command: php ./vendor/bin/phpinsights
Is displayed:

[code]

Should I parameterize something?

[2019-05-14 20:18] viezel opened #54 "Fixing Errors Automatically."
Since it relies on **PHPCS and EasyCodingStandard** then it should be able to autofix issues as they both support it.

https://github.com/squizlabs/PHP_CodeSniffer/wiki/Fixing-Errors-Automatically#using-the-php-code-beautifier-and-fixer

[2019-05-14 20:43] mauxtin commented on #41
I can confirm that `$ php  ./vendor/bin/phpinsights` has the same effect as before however I just noticed that simply running `$ ./vendor/bin/phpinsights` (without the `php` in front) works fine on windows (outside the linux subsystem)

[2019-05-14 21:14] nunomaduro commented on #41
@galloaleonardo Can you update the latest version and test again?

[2019-05-15 06:35] karljakober opened #55 "[Laravel] Support lower Laravel version then 5.7"
Minimum Laravel version is currently 5.7 due to the requirement of symfony/console 4.2

Older Laravel versions use much older version (example: L5.1 LTS required 2.7.*)

This may not be the only dependency issue, but is as far as I got when attempting to install the package

[2019-05-15 08:22] vasilvestre opened #56 "Composer issue, package require nette/utils"
My composer.json do not have nette/utils or object-calisthenics/phpcs-calisthenics-rules dependency

[code]

[2019-05-15 09:11] BlackHades commented on #56
In my own case i had this error because i had phpstan in my require-dev, once i removed it, nunomaduro/phpinsights installed fine.

another fix is to add "nette/utils": "^2.5" to your composer.json file in the require-dev section, and run composer update. I hope this helps.

[2019-05-15 09:32] pxgamer commented on #53
You should be able to add `SpaceAfterNotSniff::class` to the `remove` key in your config.

I agree it would be good to document this too (it is mentioned in the [`phpinsights.php`](https://github.com/nunomaduro/phpinsights/blob/78ed2bca258cdff74aa1ed3a5d0c57ccc019fbfc/phpinsights.php#L40) file, but it could perhaps do with some more clarity in the docs). 👍

[2019-05-15 10:33] vasilvestre commented on #56
I want to keep my phpstan ahah

[code]
Doesn't work :/

[2019-05-15 11:16] danielspk commented on #56
Same problem, I also have installed PHPStan in --dev.

[2019-05-15 11:25] rayblair06 commented on #56
Similar issue but with "nunomaduro/larastan", which uses PHPStan.

Uninstalling "nunomaduro/larastan", installing "nunomaduro/phpinsights" then reinstalling "nunomaduro/larastan" on top seems to have fixed the issue.

[2019-05-15 11:25] rajengla opened #58 "Complexity is more than 100% incase of empty projects"
The method to **getComplexity()** reports complexity percentage > 100 when average_complexity_per_method is less than 1.

[2019-05-15 11:51] nunomaduro commented on #58
This is weird, the `average_complexity_per_method` should never be mess than 1.

[2019-05-15 12:09] filipac commented on #55
I have this problem too, tried to install it in a 5.5 LTS app

[2019-05-15 12:11] filipac opened #59 "Undefined offset: 0 | Fatal error: Uncaught TypeError: Argument 2 passed to SlevomatCodingStandard\Helpers\UseStatementHelper::getUseStatementPointers() must be of the type int, null given"
Tried to run it on a Laravel app. Got this fatal error:

[code]

[2019-05-15 12:22] rajengla commented on #58
I ran the PHP Insights analyzer for an empty project or **.php** files with no content. The Divide function inside Collector.php returns zero in case we don't have any method complexity records.

We can report complexity = 100% for such cases.

[2019-05-15 12:29] viezel commented on #53
I see. an idea would be to state which insight class that belongs to the issue. This will help guide the user. e.g.:

[code]

[2019-05-15 15:49] galloaleonardo commented on #41
Thanks for the support, @nunomaduro and @mauxtin. Using `$ ./vendor/bin/phpinsights` without the php prefix the analysis is displayed (outside the linux subsystem).
Congratulations on the project! ;)

[2019-05-15 17:15] nunomaduro opened #60 "Usage in CI tools - implement exit status code"
In order to add `PHP Insights` to CI tools, we should implement the `exit status code` from the console command. All the classes from PHP Insights are internal, so we are able to refactor without making a breaking change.

Would be cool to add the following options to the console commands or to the config file:

`--min-quality`, `--min-complexity`, `--min-architecture`, `--min-style`.

Some exampl

[2019-05-15 17:18] nunomaduro opened #61 "Implement output-format option"
People may want to see the results from PHP Insights within a beautiful `html` page, or may want to check the results using the `json` format.

All the classes from PHP Insights are `internal`, so we are able to refactor without making a breaking change.

[2019-05-15 17:24] thinkspill opened #62 "Return value of ...getCommentContent must be of the type string, boolean returned"
Running against a relatively small Laravel 5.7 app:

[code]

[2019-05-15 17:45] Koopabro opened #63 "Allow memory size exhausted."
This error pops up:

PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 33554440 bytes) in [projectfolder]/vendor/nunomaduro/phpinsights/src/Domain/Collector.php on line 349

[2019-05-15 18:28] nunomaduro commented on #63
Check the readme here: https://github.com/nunomaduro/phpinsights/blob/master/README.md#allowed-memory-size-of-x-bytes-exhausted.

[2019-05-15 18:28] #63 closed

[2019-05-15 18:28] #22 closed

[2019-05-15 19:07] leocavalcante commented on #41
Hi folks, if it helps to clarify:

Composer already handles Windows by it self:
https://getcomposer.org/doc/articles/vendor-binaries.md#what-about-windows-and-bat-files-

![image](https://user-images.githubusercontent.com/183722/57802011-731b9f80-772b-11e9-807b-40bf2a3f782f.png)

[2019-05-15 19:08] nunomaduro commented on #41
Could someone make a pull request on readme about this?

[2019-05-15 19:22] #41 closed

[2019-05-15 20:32] kenowessels commented on #56
works for me with "phpstan/phpstan" instead of "nunomaduro/larastan"

[2019-05-15 22:08] axelitus commented on #56
I'm having this issue also.

[code]

My require-dev looks like:

[code]

Removing `"phpstan/phpstan": "^0.11"` and `"squizlabs/php_codesniffer": "^3.4"` doesn't solve my problem. I'm not able to install PHPInsights.

[2019-05-16 07:19] nunomaduro commented on #58
Can you make a pull request on that?

On Wed 15 May 2019 at 14:22, Rajendra Engla <notifications@github.com>
wrote:

[2019-05-16 08:24] akosglue commented on #62
Same reproduced on laravel 5.8. with a small app:
 56/60 [▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░]  93%
   Symfony\Component\Debug\Exception\FatalThrowableError  : Return value of SlevomatCodingStandard\Sniffs\Commenting\EmptyCommentSniff::getCommentContent() must be of the type string, boolean returned

[2019-05-16 08:27] nunomaduro commented on #62
It's possible to have the source code of your apps? Is open source? Otherwise I can't debug this.

[2019-05-16 08:36] akosglue commented on #62
Just before the error: $commentEndPointer is -1
at that point the file is routes/api.php with this content:
`<?php

use Illuminate\Http\Request;

/*
|--------------------------------------------------------------------------
| API Routes
|--------------------------------------------------------------------------
|
| Here is where you can register API routes for your application. These
| routes are

[2019-05-16 08:38] akosglue commented on #62
Well, as it is not readable:

FAIL: https://imgur.com/ykAuUbD

OK: https://imgur.com/5xnGLM9

[2019-05-16 08:58] akosglue commented on #8
It would be nice by this enhancement if you could include a link to explanations.
For example: if you get this advice: Disallow yoda comparison, there should be a link that will show you the explanation: https://github.com/slevomat/coding-standard#slevomatcodingstandardcontrolstructuresdisallowyodacomparisonrequireyodacomparison-

[2019-05-16 10:57] Sitethief commented on #55
I encountered this issue as well in Laravel 5.5.

[2019-05-16 11:42] hfatahi opened #65 "Command will fail on models that contain only properties with inheritdoc comments"
Running `php artisan insights` on a Laravel 5.8 app, I got the following error message
![image](https://user-images.githubusercontent.com/8626733/57850630-58d5d600-77ac-11e9-8f1c-ab1bb895a44c.png)
The command failed at this file
[code]
I was able to confirm that:
- the command will run successfully if I removed the inheritdoc comment.
- the command will fail only if the model contains no methods,

[2019-05-16 12:03] nunomaduro commented on #65
Thanks for this great description!

[2019-05-16 12:09] PepijnDeWachter opened #66 "insights command hangs at 80%"
Hi, I'm using the laravel preset on windows,
The command hangs at 80% (527/652 files?) with no log or error.

Could you let me know where in the code I could temporarily inject a log function that spits out the currently analyzed file/method?

Thank you

[2019-05-16 12:10] nunomaduro commented on #66
Please try `artisan insights -vvv` to get more information the error.

[2019-05-16 12:28] PepijnDeWachter commented on #66
It seemed to be inside the phpdocx package, which isn't available on a repository so I didn't put that into the vendor folder, excluding the package's folder in the config fixed the issue 👍

[2019-05-16 12:35] #66 closed

[2019-05-16 12:37] fruitl00p opened #68 "Dockerized version"
Hi :)

Just a quick heads up: i've created a [dockerized version](https://hub.docker.com/r/gekkie/phpinsights) to more easily run this in CI / locally or wherever on any type of project so it can more easily help with (i.e.) transitioning code to newer PHP versions.

This also lowers the barrier of getting everything up and running to test it out :)

One can simply run `docker run -v $(pwd):/app g

[2019-05-16 15:46] mjpramos opened #70 "array_keys() expects parameter 1 to be array, null given in src/Application/Adapters/Laravel/Preset.php"
I'm trying to install phpinsights on a non framework project and although my PHP version is 7.2.10 (MAMP on MacOS), I get the error stating that my PHP version is 7.1.23.

[2019-05-16 16:01] nunomaduro commented on #70
That's because you are using a different php binary in your CLI. Let's keep this open, maybe someone would like to help you.

[2019-05-16 16:20] ManojKiranA commented on #70
Hey dude that's​ not issue.Actually I was running my project in php 7.1.23 but still I had installed package and it's was working fine . Just try  ```composer require nunomaduro/phpinsights --dev --ignore-platform-reqs```

[2019-05-16 16:26] mjpramos commented on #70
I updated my PHP CLI following the answer here [url]https://stackoverflow.com/questions/3973271/terminal-displays-wrong-php-version-snow-leopard(url).
Installation ran smoothly.

But now, when I try to use it, it gives me:
[code]

Thanks/Obg

[2019-05-16 16:29] ManojKiranA commented on #70
Are you trying in laravel app or some other can​ you specify that

[2019-05-16 16:35] nunomaduro commented on #70
Can I see your composer.json? I think I know the issue.

[2019-05-16 16:36] mjpramos commented on #70
As I said in my first post, it's non framework. Just some simple PHP classes.
My composer.json:

`{
    "require-dev": {
        "nunomaduro/phpinsights": "^1.0"
    }
}
`

[2019-05-16 16:38] nunomaduro commented on #70
Alright, we need to prepare the class https://github.com/nunomaduro/phpinsights/blob/master/src/Application/ConfigResolver.php and all presets https://github.com/nunomaduro/phpinsights/tree/master/src/Application/Adapters to that type of composer.json.

[2019-05-16 17:33] LorenzoLeonardini opened #72 "Use of undefined constant ICONV_IMPL - assumed 'ICONV_IMPL'"
I've just installed phpinsights with the `composer require` command, but when I run the binary a huge error comes out:
[code]

I have a "vanilla" php project, with just some composer library.

Thank you for your help

[2019-05-16 17:39] ibrunotome opened #73 "Details of globals accesses"
<img width="299" alt="Screen Shot 2019-05-16 at 14 37 44" src="https://user-images.githubusercontent.com/4256471/57874982-2d70dc80-77e8-11e9-8afc-cb998ed9efd6.png">

And that's it, no more details, even with -v

Can you help with some method to see more details of it?

[2019-05-16 18:07] slovenianGooner opened #74 "Failing to install with composer"
I seem to have a problem installing via composer.

    - Installation request for nunomaduro/phpinsights ^1.0 -> satisfiable by nunomaduro/phpinsights[v1.0.0, v1.0.1, v1.0.2, v1.0.3, v1.0.4, v1.0.5].
    - Can only install one of: squizlabs/php_codesniffer[3.x-dev, 3.3.2].
    - Can only install one of: squizlabs/php_codesniffer[3.x-dev, 3.3.2].
    - Can only install one of: squizlabs/php_codesni

[2019-05-16 18:53] garak commented on #56
I also managed to install by removing phpstan and then re-adding it

[2019-05-16 19:04] kayandra opened #77 "Suggestion to fix "If you encounter the error Allowed memory size of XXXXX bytes exhausted" error"
`If you encounter the error Allowed memory size of XXXXX bytes exhausted, the current workaround is to increase the memory limit:`

While reading the docs, I saw this statement and it was something I ran into pretty quickly when adding insights my projects.

I'm only making a suggestion as I have not had the time to make a clone of the repo to see if it is possible. But, I was thinking, this might

[2019-05-16 19:37] nunomaduro commented on #73
This is a feature request, someone would like to help on this? To solve it:

1. Go to [Analyser](https://github.com/nunomaduro/phpinsights/blob/master/src/Domain/Analyser.php) and instead of increment global access we need push the global access information to an array on the [Collector](https://github.com/nunomaduro/phpinsights/blob/master/src/Domain/Collector.php).
2. Adapt metric [ForbiddenGlob

[2019-05-16 20:02] nunomaduro commented on #56
This should be fixed soon: https://github.com/object-calisthenics/phpcs-calisthenics-rules/issues/90.

[2019-05-16 20:06] canvural commented on #74
I have similar issue

[code]

[2019-05-16 20:08] sandulat opened #78 "Missing feature to ignore certain issues"
Hi guys. Thank you so much for developing such an **awesome package**!

When running PHP Insights in Laravel 5.8 I get the following warning:
[code]

My resource class:
[code]

Even though the `$request` variable isn't used, the implementation of Laravel's API resources forces me to indicate this variable.

Would be cool to have feature that allow to ignore certain issues, and maybe include some o

[2019-05-16 20:14] nunomaduro commented on #78
Absolutely, I am open for a pull request on this.

[2019-05-16 20:44] phatsk opened #79 "Cannot run phpinsights, fails to find dependancies"
Installed via `composer` as per the README.

When running `./vendor/bin/phpinsights` using PHP 7.2.14:

`redacted` is my full path, removed for privacy. Assume something like `/Users/phatskat/path/to/project/`

[code]

[2019-05-16 20:46] deleugpn commented on #72
Do you have php7-iconv installed?

[2019-05-16 20:46] phatsk commented on #79
Looks like this is the breaking change: https://github.com/Symplify/EasyCodingStandard/commit/9e313e7d31a1d08b6a9b122116e4857dd64dfd6e

[2019-05-16 20:54] Jibbarth commented on #70
@mjpramos Can you run a `composer update` and tell us if it's fixed for you ?

[2019-05-16 20:59] deleugpn commented on #55
What if you install it globally instead of within your project itself and then use the binary to run on your project?

[2019-05-16 21:02] nunomaduro commented on #79
I am on it.

[2019-05-16 21:26] nunomaduro commented on #79
You should do: `composer require nunomaduro/phpinsights:"^1.1.1"`. Just updated the readme.

[2019-05-16 21:26] #79 closed

[2019-05-16 22:02] ibrunotome commented on #74
@slovenianGooner this is my require-dev working normally

[code]

[2019-05-16 22:04] nunomaduro commented on #74
@slovenianGooner You still have this issue?

[2019-05-16 22:48] mjpramos commented on #70
Thanks! Works perfectly now :)

[2019-05-16 22:51] nunomaduro commented on #70
Thanks @Jibbarth for this!

[2019-05-16 22:51] #70 closed

[2019-05-17 01:16] delta1186 opened #81 "Cmder as Vscode terminal format issue"
Not sure the difference and if it's even an issue with Insight.  Nice tool BTW.  As you can see from the image below when running Cmder alone the formatting displays.  However, I Cmder setup as my Vscode terminal and you can see that the output there appears to be encoded.

![image](https://user-images.githubusercontent.com/421307/57896812-311c5780-7818-11e9-8620-133b5a9dfd48.png)

![image](https:

[2019-05-17 01:27] joseph1125 commented on #61
I would be satisfied with a simple TXT file listing all of the problems

[2019-05-17 03:54] slovenianGooner commented on #74
Will try today at work.

[2019-05-17 05:19] slovenianGooner commented on #62
Have the same issue. Looks like empty comments that don't have a description are the problem. While @akosglue can find the root of his problem, I can't.

[2019-05-17 05:28] daison12006013 commented on #55
You could do it this way.

Create a file `path-to-your-project/phpinsight.sh`

[code]

[2019-05-17 06:52] tomasnorre opened #82 "Overwrite suggested method/properties count"
It would be great if I could overwrite suggested method and properties count, for e.g. domain model and repository.

I see that it should be kept simple, but some models requires way more than 10 properties.

https://twitter.com/enunomaduro/status/1128686091693895682

[2019-05-17 08:07] dsentker commented on #78
Have you tried

[code]

[2019-05-17 08:51] Tjoosten opened #83 "Possible to write to file"
Hi first of all thanks for the great package.

But i'm worndering is there is a possibility to write the output to a file. Because for me personally is it messy to view the output on the terminal.

[2019-05-17 08:59] akosglue commented on #83
I think it will be handled within https://github.com/nunomaduro/phpinsights/issues/61

[2019-05-17 10:05] rajatpatelz opened #84 "Error when using with laravel"
Symfony\Component\Debug\Exception\FatalThrowableError  : Return value of SlevomatCodingStandard\Sniffs\Commenting\EmptyCommentSniff::getCommentContent() must be of the type string, boolean returned

[2019-05-17 10:09] #84 closed

[2019-05-17 11:07] nunomaduro commented on #83
Duplicate of https://github.com/nunomaduro/phpinsights/issues/61.

[2019-05-17 11:07] #83 closed

[2019-05-17 11:39] nunomaduro commented on #62
Source code with the issue: https://github.com/slevomat/coding-standard/blob/8f0ec5009cf9c86d207852f6f7644e34145167e4/SlevomatCodingStandard/Sniffs/Commenting/EmptyCommentSniff.php#L153

[2019-05-17 11:53] #24 closed

[2019-05-17 12:03] jadamec commented on #62
Have the same issue.

[2019-05-17 12:23] vasilvestre commented on #56
https://github.com/object-calisthenics/phpcs-calisthenics-rules/issues/90
Look like it's now fixed! Someone could confirm so I close this ? :D

[2019-05-17 12:31] axelitus commented on #56
I can check on a project I'm working on, just give me an hour to get to the office and test.

[2019-05-17 12:45] killua99 commented on #35
I'm trying to build the Preset for it. I'm getting few errors not quite sure why, perhaps you could provide some help with these

[code]

[2019-05-17 12:58] jadamec commented on #62
Same issue here. :/

[2019-05-17 13:01] atiladelcanton opened #86 "Command "insights" is not defined"
Good morning friends!

I'm having this problem while running the command

`php artisan insights`

[2019-05-17 13:17] nunomaduro commented on #56
It's not fixed, the issue still exists. You should use the latest version php insights 1.2

[2019-05-17 13:22] axelitus commented on #56
Indeed, @nunomaduro is right, it is still not fixed. I'm still getting this error:

[code]

[2019-05-17 13:37] liepumartins commented on #59
Same issue. When running with verbose `-v` option I see that problem happens when tool hits certain `layout.blade.php` file.

[2019-05-17 13:46] andrewnclark commented on #86
You sire you ran `php artisan vendor:publish --provider="NunoMaduro\PhpInsights\Application\Adapters\Laravel\InsightsServiceProvider"`

[2019-05-17 13:48] nunomaduro commented on #86
@atiladelcanton What is `this problem`?

[2019-05-17 14:36] nunomaduro commented on #62
The issue happens when you have non closed docs.

[2019-05-17 15:35] LorenzoLeonardini commented on #72
Thank you, that solved it. I thought it was in some way connected to the `Nette\Utils\Strings` error.

[2019-05-17 15:35] #72 closed

[2019-05-17 15:52] nunomaduro commented on #86
Fell free to re-open the issue if you need help.

[2019-05-17 15:52] #86 closed

[2019-05-17 17:12] jadamec commented on #62
As @akosglue already mentioned, this problem appears when the middleware in routes/api.php is commented as shown in screenshoots. After fixing this, there's another error #59

[2019-05-17 18:17] tarlepp opened #91 "Unused uses is not working as expected"
Eg. I have following

[code]

And I'm getting this:

[code]

[2019-05-17 19:18] nunomaduro commented on #91
Because, indeed, is not used in that file.

[2019-05-17 19:59] nunomaduro commented on #82
Humm, per file?

[2019-05-17 21:13] tarlepp commented on #91
And founded the correct configuration for this:

[code]

There should be some doc about how to find all the used sniff class and those configuration options...

[2019-05-17 21:13] #91 closed

[2019-05-17 22:13] nunomaduro commented on #91
Can you add it here? https://github.com/nunomaduro/phpinsights/blob/master/src/Application/DefaultPreset.php

[2019-05-17 22:47] tomasnorre commented on #82
I don't know how this should be done.

I've thought about,
* Annotation - Don't like the idea that much due to dependency to your tool then
* Configuration - Per file and/or directory perhaps?

[2019-05-18 10:46] stephenlake commented on #37
I can't replicate this on my side, I always natural colours:

![Screenshot from 2019-05-18 12-45-30](https://user-images.githubusercontent.com/1300442/57968437-df381680-796a-11e9-9e04-1f6dbc5c7ffb.png)

[2019-05-18 10:49] stephenlake commented on #61
JSON or any structured format would be appreciated so we can hook up test results to slack/any other post CI integration with notifications to moan at someone for degrading scores.

[2019-05-18 10:50] FFDevelopment commented on #37
@stephenlake which system do you use if you can't replicate this?

[2019-05-18 10:55] stephenlake commented on #37
A little bit of everything, except Windoze. Judging by that font style from your terminal screenshot, I'm guessing you're running homestead on Windoze?

[2019-05-18 10:59] FFDevelopment commented on #37
yes it runs on windows 10

[2019-05-18 13:46] nunomaduro commented on #28
I was thinking about adding vuepress within the docs folder.

[2019-05-18 15:45] #68 closed

[2019-05-18 15:45] nunomaduro commented on #68
This issue is solved.

[2019-05-18 16:06] maxalmonte14 opened #93 "Empty PHP statement: superfluos semicolon duplicated as Disallow multiple statements"
Hi Nuno and the rest of the community 👋, I'm trying Insights in a huge Laravel legacy codebase and I noticed that `Empty PHP statement: superfluos semicolon` is duplicated as `Disallow multiple statements`, I don't know if this is the desired behavior provided that they're are referring to the same issue, and fixing the former also fixes the latter, also a solo semicolon is not an statement at all

[2019-05-18 16:25] maxalmonte14 opened #94 "Disallow short ternary operator and Require short ternary operator both active by default"
Hi Nuno and the rest of the community 👋

It looks like both rules are active by default (at least in Laravel), they cause conflicts with each other in the way the code should look.

[2019-05-18 16:35] maxalmonte14 commented on #93
In a second quick review there's a third rule throwing the same results for this edge-case `Useless semicolon`, here is the output:

[code]

[2019-05-18 17:21] cloudstudio opened #96 "Expected 1 space(s) after NOT operator; 0 found"
Hello Guys! I think maybe is a Bug.

I this this error

``Expected 1 space(s) after NOT operator; 0 found``

With this code :

![Captura de pantalla 2019-05-18 a las 19 20 42](https://user-images.githubusercontent.com/3589377/57972986-0f4edc00-79a2-11e9-948f-9606d75e2543.png)

[2019-05-18 17:27] tarlepp opened #97 "[Code] Type hint declaration with classes that extends some class or implements some interface"
Eg. if I have this

[code]

This tool is giving me following:
[code]

And really I cannot add those types there because that parent class `Voter` doesn't have those.

[code]

[2019-05-18 17:34] nunomaduro commented on #96
That says that you should you should add a space after a NOT condition:

[code]

[2019-05-18 17:34] #96 closed

[2019-05-18 17:37] nunomaduro commented on #94
Fixed via: https://github.com/nunomaduro/phpinsights/commit/7e10c186ed0923423e4650151644f12daa9875ed

[2019-05-18 17:37] #94 closed

[2019-05-18 17:37] cloudstudio commented on #96
This happend in some Laravel core files, so I send some pull request :P

[2019-05-18 17:41] maxalmonte14 commented on #94
Awesome 👏

[2019-05-18 17:49] tarlepp commented on #97
Also noticed that I'm also getting this:

[code]

which is also related to this same.

[2019-05-18 18:15] nunomaduro commented on #93
Can you copy paste the code if this file  `app/Models/AlteredModelName.php` ?

[2019-05-18 18:20] maxalmonte14 commented on #93
I already modified the files, but essentially was something like this:

[code]

[2019-05-18 18:25] nunomaduro commented on #93
Ahh, understood now. I think it's fine, as `Disallow multiple statements` also applies to other kind of things, such us:

[code]

[2019-05-18 18:25] #93 closed

[2019-05-18 18:29] nunomaduro commented on #97
Alright, that is an issue from the util we use behinds the scenes : `phpcs`. There is no really solution for this at the moment.

I think the best would be waiting for this issue: https://github.com/nunomaduro/phpinsights/issues/78.

[2019-05-18 18:33] tarlepp commented on #97
One solution could be to use `easy-coding-standard.yaml` file, I have used ECS quite while and it's configuration I have used following:

[code]

[2019-05-18 18:34] #29 closed

[2019-05-18 18:34] #30 closed

[2019-05-18 18:40] nunomaduro commented on #97
@tarlepp I want something easier, such as adding something on the config file:
[code]

[2019-05-18 18:40] nunomaduro commented on #97
@tarlepp Do you know any alternative to regex that allows todo this?

[2019-05-18 18:57] nunomaduro commented on #96
What version of Laravel?

[2019-05-18 19:34] maxalmonte14 commented on #93
Perfect 👌

[2019-05-18 19:36] #60 closed

[2019-05-18 19:55] tarlepp commented on #97
@nunomaduro not sure what you mean with that. `@inheritdoc` annotation is not relevant within this issue at all.

[2019-05-18 20:08] nunomaduro commented on #97
lol, my bad. I was just saying that this issue will be solved by ignoring errors. Nevermind.

[2019-05-18 21:03] tarlepp commented on #97
not really solved just by ignoring all those errors - people usually want to ignore errors on specified files where they don't have any solutions to solve issues like this.

If people are ignoring that error on project wide - it's useless and basically just generates problems in long run - basically that means that just ignoring all errors you're good - while the real use case totally different on

[2019-05-18 21:13] nunomaduro commented on #97
I am not sure on that, I think it's fine sometimes just ignoring errors. And add the total of ignored errors on the console.

[2019-05-18 21:51] muntasir1677 commented on #86
Please help -

php artisan vendor:publish --provider="NunoMaduro\PhpInsights\Application\Adapters\Laravel\InsightsServiceProvider"

Publishing complete.

php artisan insights

Command "insights" is not defined._

[2019-05-18 21:56] pushpalmazumder commented on #86
I am getting this -

_php artisan vendor:publish --provider="NunoMaduro\PhpInsights\Application\Adapters\Laravel\InsightsServiceProvider"_

**Publishing complete.**

_php artisan insights_

**Command "insights" is not defined.**

Please help.

[2019-05-18 22:02] pushpalmazumder opened #99 "Issue - Command "insights" is not defined."
I am getting this -

_php artisan vendor:publish --provider="NunoMaduro\PhpInsights\Application\Adapters\Laravel\InsightsServiceProvider"_

**Publishing complete.**

_php artisan insights_

**Command "insights" is not defined.**

Please help.

[2019-05-18 22:05] nunomaduro commented on #99
I have no idea on how to solve your problem.

[2019-05-18 22:50] pxgamer commented on #99
What version of Laravel are you using?

[2019-05-18 22:50] nunomaduro commented on #99
@pxgamer Good point. Maybe he needs to register the service provider manually.

[2019-05-19 11:10] #28 closed

[2019-05-19 12:09] tarlepp commented on #97
imho that will make spotting real errors a lot harder. Imagine that you've project which have eg. ~500+ files and in that only those seven (7) files has that "error". So most likely you will miss real errors.

Basically if all those Sniff classes has property `ignoredFiles` would make configuration of this quite easy and user friendly.

[2019-05-19 17:33] adampatterson commented on #99
Same problem for me, I am running Laravel 5.7

[code]

[code]

[2019-05-19 18:09] pushpalmazumder commented on #99
I am using Laravel 5.8.

[2019-05-19 18:43] nunomaduro commented on #99
You have auto discovery enabled?

[2019-05-19 19:22] adampatterson commented on #99
Yes, I deleted my `composer.lock` file and reinstalled. Seems to work now.

[2019-05-19 20:03] FFDevelopment opened #104 "Different results between CI and local development environment"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 1.2.1

I have now added phpinsights as a command to ScrutinizerCI. Actually, I would expect to get the same results in a CI tool and in my local development environment (Laravel Homestead), but that wasn't the case.

These phpinsights rules were active in ScrutinizerCI
• [Code] Fo

[2019-05-19 20:15] acurrieclark commented on #59
I had a look through the `slevomat/coding-standard` package code, and this appears to be to do with php files which do not contain a full opening tag `<?php`.

I ran insights and found it failed on a template file of mine which contained a short `<?=` tag, but no full tag, and it failed with this error. I then added a full tag at the start of the file and then closed it immediately (an empty php b

[2019-05-19 20:37] nunomaduro commented on #99
Great!

[2019-05-19 20:37] #99 closed

[2019-05-19 22:06] nunomaduro opened #105 "Improve docs/website"
Would be cool if someone could work on the website. What do we need? Ideas?

Here is the source code: https://github.com/nunomaduro/phpinsights/tree/master/docs.

Setup locally:

[code]

[2019-05-20 01:48] titomiguelcosta commented on #61
I personally do not like the implementation done in some of the symfony commands, for example, in [lint:twig](https://github.com/symfony/twig-bridge/blob/master/Command/LintCommand.php), the command itself has methods to displayTxt and displayJson.

I do not know how's the internal structure, if the current implementation is coupled with the console, but hopefully there is an abstraction layer, is

[2019-05-20 03:04] tyler36 commented on #56
@rayblair06 worked for me, thanks

[2019-05-20 07:02] liepumartins commented on #59
Yes, short tag is likely explanation.
In my case template contained some legacy spaghetti code such as:
`<?=(preg_match(PRIVILEGES['something'],$user['privileges'])?'<a href="..">aa</a>':'')?>`

Does this tool understand .blade.php files anyway? I could not get my head around if there is a way to exclude some file name patterns / directories. If not, there should be.

[2019-05-20 07:04] nunomaduro commented on #59
The folder `resources` is ignored on the Laravel preset, so your blade views should be ignored. No?

[2019-05-20 07:20] liepumartins commented on #59
Oh, sorry. My project is not Laravel, just blade template component, so the path is different.
I will have to learn how to create project settings/presets. :)

[2019-05-20 07:24] nunomaduro opened #107 "Add changelog to the website"
The idea here is to add dynamically the changelog to the website: https://github.com/nunomaduro/phpinsights/tree/master/docs.

[2019-05-20 07:25] nunomaduro commented on #59
You just have to: `cp vendor/nunomaduro/phpinsights/stubs/config.php phpinsights.php`, than add the blade folder to the `exclude` key.

[2019-05-20 07:26] nunomaduro commented on #59
Actually, we should exclude all `*.blade.php` extensions. Can someone do a pull request on this? Here is the file: https://github.com/nunomaduro/phpinsights/blob/master/src/Infrastructure/Repositories/LocalFilesRepository.php

Don't forget to add tests on this.

[2019-05-20 09:29] deleugpn opened #108 "[Laravel Preset] Job classes use public properties"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | latest

Like the Forbidden Global Constants

[code]

I would like to be able to ignore certain public properties.

[code]

Laravel allows us to specify a Queue Connection as a public property on the job itself (https://github.com/laravel/docs/pull/5200) or even the amount of times

[2019-05-20 09:38] deleugpn opened #109 "[Laravel Preset] Should Insights ignore useless override?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | latest

[code]

Laravel skeleton comes with some 'useless' overrides to show where developers may choose to do things related to Exception Handler or Event configuration. I'd prefer to keep these parts of the skeleton untouched instead of removing them to satisfy the tool, thus k

[2019-05-20 10:01] bop10 opened #110 "[Laravel Preset] Should Insights ignore Telescope Provider?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.3.0

First, i want to thank you for this great package.

I'm using Telescope in a Laravel application, and this appears:
`• [Complexity] Having `classes` with more than 5 cyclomatic complexity is prohibited - Consider refactoring:
  app/Providers/TelescopeServiceProvider.php: 6

[2019-05-20 10:36] nunomaduro commented on #110
Sounds ok, can you pr that into: https://github.com/nunomaduro/phpinsights/blob/master/src/Application/Adapters/Laravel/Preset.php?

[2019-05-20 10:36] nunomaduro commented on #109
I have mixed feelings on this. Let's keep this open.

[2019-05-20 10:50] ibrunotome commented on #74
@nunomaduro Which of the above dependencies are expendable after installation of phpinsights? To avoid double checks.

[2019-05-20 11:02] nunomaduro commented on #74
@ibrunotome The ones that are already on  `https://github.com/nunomaduro/phpinsights/blob/master/composer.json`'s require key.

[2019-05-20 12:21] #110 closed

[2019-05-20 12:32] LeonAlvarez opened #114 "ErrorException : Uninitialized string offset: 1"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.3.0

PHP 7.2.16 Laravel 5.8.10
[code]

[2019-05-20 12:40] nunomaduro commented on #114
Can you output print the value of $tokens when that happens ?

[2019-05-20 13:15] larsroettig commented on #36
Can be closed 👍

[2019-05-20 13:28] #36 closed

[2019-05-20 13:45] LeonAlvarez commented on #114
When it happens $i is 972 and $tokens is:
` 968 =>
  array (
    0 => 323,
    1 => '"P\\x48\\x50\\x53\\x55IT\\x4f\\x5f\\x52\\x4f\\x4fT"',
    2 => 5,
  ),
  969 => ')',
  970 => ')',
  971 => '{',
  972 =>
  array (
    0 => 319,
    1 => 'define',
    2 => 5,
  ),
  973 => '(',
  974 =>
  array (
    0 => 323,
    1 => '"PHPS\\x55IT\\x4f_\\x52O\\x4fT"',
    2 => 5,
  ),`

[2019-05-20 15:35] abishekrsrikaanth opened #117 "FEATURE REQUEST: Can this be change to use as a global composer package so it doesn't have to be required with every project?"
| Q                | A
| ---------------- | -----
| Feature request? | yes

- Can this be changed to use as a global composer package so it doesn't have to be required with every project?
- Also is there a way to get individual scores using an argument without the issues?

For example:

[code]

[2019-05-20 15:40] #117 closed

[2019-05-20 17:17] dinhquochan commented on #108
Same with `public $timestamps = false;` in Model? Should be ignore public properties forbiren?

[2019-05-20 19:44] abishekrsrikaanth commented on #117
@nunomaduro, First off, great project. I was actually planning to do similar stats for an open source project I am working on.

As for the feature request above, I saw that there is an option on `phpinsights` to mention the directory and there was an enhancement for getting the results as `json`. So I kind a closed it.

I was able to install the package using `composer global add` and use it, but

[2019-05-21 01:36] anil3a commented on #74
I am having same problem.

I added `"nunomaduro/phpinsights": "^1.0"` to my `require-dev` and it didn't work for me, instead I got big bunch of errors.

Here is a list of Errors i got in my GIST file.
https://gist.github.com/anil3a/524104a4ce9f82d4491350410d9442f7

[2019-05-21 03:16] mikeerickson commented on #74
Do you use docker. If so, I think that is the best method for using insights as nothing needs to be installed and works across any PHP project.

[2019-05-21 07:55] killua99 opened #118 "[Preset] Feature request Drupal 8"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  https://www.patreon.com/nunomaduro
👉  https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=66BYDWAT92N6L
--

New Preset for Drupal 8

[2019-05-21 09:11] TomKlotzPro opened #119 "Complexity result superior to 100"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.3.1

## Description

In case the project is empty, I get a result of 133.3%.

This will change the style because there is 4 digit.

## What to change :

Put a limit of complexity result to 100.

<img width="675" alt="Screenshot 2019-05-21 at 10 37 47" src="https://user-images.g

[2019-05-21 09:45] AndreasHerss commented on #109
Personally, i like to keep the methods, even if not used, but yeah, the warning is a bit annoying.

perhaps some optional way to disable it, only for the default laravel files?

[2019-05-21 09:47] nunomaduro commented on #109
It's in our plans to add something to ignore this on the future.

[2019-05-21 10:08] LeonAlvarez commented on #119
Already reported #58

[2019-05-21 11:07] TomKlotzPro commented on #119
Thank you @LeonAlvarez

[2019-05-21 11:07] #119 closed

[2019-05-21 11:09] cloudstudio commented on #96
I use in this project :

[code]

[2019-05-21 13:52] JacobDB opened #121 "Add ability to filter specific directories for analysis"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.0.0

I develop custom WordPress themes for many clients, and I'd love to use phpinsights as part of that process. These websites use Composer for PHP, Webpack for JavaScript, and Sass for CSS. To facilitate this, I use NPM/Node/Gulp to help automate my workflow.

I'm not sure i

[2019-05-21 13:56] JacobDB commented on #121
Ah, I completely missed the `config.php` thing. I see there's a way to exclude stuff. I'll try that and re-open if I still have trouble.

[2019-05-21 13:56] #121 closed

[2019-05-21 13:57] nunomaduro commented on #121
@JacobDB Can you take a look on this https://github.com/nunomaduro/phpinsights/pull/87? It's a preset for wordpress to automatically discovery wordpress and ignore folders, etc.

[2019-05-21 14:09] JacobDB commented on #121
I did see that pull request, and will review it and provide feedback when I have some time (hopefully by the end of the week) 🙂

[2019-05-21 19:25] Jibbarth opened #123 "Issue while using shortcut -c for config path"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.3.1

I encouter an exception when using shortcut `-c` for loading a custom config path.

How to reproduce (on this repo):

[code]
throw following exception

[code]

After investigating, I found that it's `EcsContainer::make();` in fault in `InsightFactory`.

In effect, when Esc

[2019-05-21 19:33] godsgood33 commented on #61
I like the idea of optional `--html` or `--json` flags.  But I think definitely, I'd like to see the total summarized at the end of the report.  Meaning, you see the "+x issues omitted", just total all of the items in the category and show that total at the end

[code]

[2019-05-21 22:27] anil3a commented on #74
Unfortunately, I don't use docker.

[2019-05-21 23:46] davi5e opened #124 "[Question] How to configure public param $lineLimit in LineLengthSniff"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | maybe?
| Library version  | 1.3

So, my entire code is intended have <120 characters per line and the default configuration ```LineLengthSniff``` uses is 80.

I know I could add it to ```remove``` and be done with it, but I'd much rather change the public parameter ```$lineLimit``` to enforce this sniff.

[2019-05-22 01:41] davi5e commented on #108
@dinhquochan it's actually more than only ```$timestamps```. From what I could gather, it's ```$incrementing```, ```$exists```, ```$wasRecentlyCreated```, and ```$timestamps```.

[2019-05-22 01:49] dinhquochan commented on #108
So, I think should be removed `ForbiddenPublicPropertySniff` in Laravel Preset. For now, I do it myself.

cc @nunomaduro

[2019-05-22 07:18] TomasVotruba commented on #123
Hi, I'm not sure what the issue is, but the container should be created only by new Kernel:
https://github.com/Symplify/EasyCodingStandard/blob/v5.4.16/bin/container.php#L37

[2019-05-22 10:23] preliot commented on #37
Same here. Followed [https://phpinsights.com/get-started.html#within-laravel](url) to the letter on a Windows 10 64 bits environment for a Laravel application.

Hard to read, because of contrast in the collored boxes for code, complexity, architecture and style. Virtually not readable when in 80-100 scale.

[2019-05-23 08:08] akosglue opened #129 "directory argument conflicts with required files"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | v1.3.1

I try to specify the directory argument, for example:
`php artisan insights app/Models/`

Then I get the error:
`   RuntimeException  : The file `composer.lock` must exist. You should run PHP Insights from the root of your project.
`

And the same for composer.json.

If I

[2019-05-23 15:16] hudsonpereira commented on #129
Have you tried from the root of your project?

[code]

[2019-05-23 15:54] MattWohler commented on #55
Refer to the official documentation on the solution for this:

https://phpinsights.com/get-started.html#display-issues-omitted

Personally, I also add the: --dev, flag when requiring the package itself.

[2019-05-24 06:29] akosglue commented on #129
Yes.
running this: `./vendor/bin/phpinsights app/Models/`
gives me this error:
`Command "app/Models/" is not defined.`

This works as expected: `./vendor/bin/phpinsights -v`

Same error as in my first comment: `./vendor/bin/phpinsights analyze app/Models/`

[2019-05-24 08:54] Boxya opened #130 "Exception when analysing file with unterminated comment"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.3.1

This error appears while analyzing

`Fatal error: Uncaught TypeError: Return value of SlevomatCodingStandard\Sniffs\Commenting\EmptyCommentSniff::getCommentContent() must be of the type string, bool returned in /phpinsights/vendor/slevomat/coding-standard/SlevomatCodingSta

[2019-05-24 14:42] dennis1502 commented on #130
Same problem here

[2019-05-25 08:36] Jibbarth commented on #123
Thanks for your help @TomasVotruba :+1:

[2019-05-25 09:07] TomasVotruba commented on #130
What's the snippet of analyzed code that causes this?
It should be reported at https://github.com/slevomat/coding-standard

[2019-05-25 12:59] spyric opened #134 "Wrong cyclomatic complexity calculation"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.3.1

I found some strange issue with calculating cyclomatic complexity.

It seems to be bug in Analyser class that count any `?` as ternary condition and even optional typehint increase class cyclomatic complexity. For example, next code has complexity equal to 6

[code]
--

[2019-05-25 13:33] nunomaduro commented on #134
Can you try to debug it ?

On Sat 25 May 2019 at 14:59, Egor Talantsev <notifications@github.com>
wrote:

[2019-05-25 13:38] spyric commented on #134
I think it caused by this condition: https://github.com/nunomaduro/phpinsights/blob/c1a99b3/src/Domain/Analyser.php#L104

I will try to understand how parser works and prevent increasing complexity value because of `?` in function declaration

[2019-05-25 13:48] rodrigopedra opened #135 "[Laravel] The `No setter` should not count Models' mutators"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.3.1

Laravel has a convenient way to define mutators on its Models by the defining a method named like this: `setFieldAttribute`. It will use this method dynamically to allow some logic when setting attributes.

(@nunomaduro I know you might know this by heart, I am just descri

[2019-05-25 21:18] axelitus opened #136 "PHP Insights version shown incorrectly"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.3.1

Running `vendor/bin/phpinsights -V`or `vendor/bin/phpinsights --version` outputs the wrong version number: `PHP Insights v1.0.0`

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  https://www.patreon.com/nunomaduro
👉  https://www.paypa

[2019-05-25 21:25] axelitus opened #137 "Output Insight class name for issues"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.3.1

It would be nice if the Insight class would be output along with the issues as to know exactly which insight is evaluating to an error (and make it easier to add it to the exceptions in the config file).

Example:

Improve this:

[code]
Like this:

[code]

<!--
Love PHP In

[2019-05-26 08:38] karljakober commented on #55
It was requested for me to post this as an issue, I believe Nuno may work to make this more compatible, but the workarounds might be the only solution. I cant comment either way. Ive been using a variation of  above script and works fine for me.

[2019-05-27 10:30] LeonAlvarez commented on #114
Issue was caused in some really legacy code wich is not intented to be analyzed anyway, fixed by excluding that files

[2019-05-27 10:31] #114 closed

[2019-05-27 12:40] nunomaduro commented on #137
Good idea, maybe only with the `-v` option. Can you add a pull request on that? I would prefer something like: `src/ValueObject.php:63: (ObjectCalisthenics\Sniffs\NamingConventions\NoSetterSniff) Setters are not allowed.`

[2019-05-27 12:45] nunomaduro commented on #136
Nice catch, can you make a pull request on this? Maybe add a new `RELEASE.md` explaining the steps on release a new version. Because we need to update this file: https://github.com/nunomaduro/phpinsights/blob/1173b539b84106467fc185fa74006e2ad9889108/bin/phpinsights#L28.

[2019-05-27 16:55] Jibbarth commented on #137
@nunomaduro Do you think it's necessary to display Sniff ClassName on each line ?
I was trying to implement it, and it seems that is the same sniff for each group ?

For example:

[code]
See also the full report [phpinsights-full-report.txt](https://github.com/nunomaduro/phpinsights/files/3224523/phpinsights-full-report.txt)

I think adding the SniffClassName once by group is sufficient :thinking:

[2019-05-27 17:10] Jibbarth commented on #123
Fixed in #133

[2019-05-27 17:10] #123 closed

[2019-05-27 18:46] nunomaduro commented on #137
Good idea, yeah, maybe:

• [Style] Else if declaration (PHP_CodeSniffer\Standards\PSR2\Sniffs\ControlStructures\ElseIfDeclarationSniff):

[2019-05-27 22:58] Morkhusz commented on #73
I'm working on it!
Any advice on how to structure the details message?

[2019-05-27 23:05] nunomaduro commented on #73
I trust you for that message. 😊

On Tue 28 May 2019 at 00:58, José Filho <notifications@github.com> wrote:

[2019-05-28 06:32] cpj555 opened #138 "composer require fail"
![image](https://user-images.githubusercontent.com/19289096/58455892-5fbdfa80-8155-11e9-8fa6-b297c04ab7fd.png)

[2019-05-28 06:59] cpj555 commented on #138
php7.3 will throw the  "switch continue"  exception

[2019-05-28 11:23] pxgamer commented on #138
I can't seem to replicate this (with PHP 7.3.5). 🤔

If you require another package, do you get the same error?

[2019-05-28 11:28] nunomaduro commented on #138
@cpj555 Please use `composer require nunomaduro/phpinsights --dev -vvv`. And output the response.

[2019-05-28 16:02] axelitus commented on #137
@Jibbarth you beat me to it! ;) your PR looks great! This will be a great addition

[2019-05-28 16:04] axelitus commented on #136
@nunomaduro Is this the only place where the version number string is used/set/referenced? (I mean as a hard-coded string).

[2019-05-28 16:20] axelitus commented on #136
Done! I've proposed the steps to verify before publishing a new release.

I did not include the fix for the version number as that would be better made upon a new release.

[2019-05-28 18:39] nunomaduro commented on #137
This is now available on the version `v1.4.0`.

[2019-05-28 18:39] #137 closed

[2019-05-28 18:39] nunomaduro commented on #137
Thanks, again @Jibbarth !

[2019-05-28 19:23] Jibbarth commented on #137
My pleasure 😊

[2019-05-28 20:12] nunomaduro commented on #58
This issue has been fixed on the version `v1.5.0`.

[2019-05-28 20:12] #58 closed

[2019-05-28 20:13] nunomaduro commented on #56
This issue has been fixed on the version `v1.5.0`.

[2019-05-28 20:13] #56 closed

[2019-05-28 20:13] nunomaduro commented on #74
This issue has been fixed on the version `v1.5.0`.

[2019-05-28 20:13] #74 closed

[2019-05-28 20:13] nunomaduro commented on #118
This issue has been fixed on the version `v1.5.0`.

Thanks for your work on this.

[2019-05-28 20:13] #118 closed

[2019-05-28 20:14] nunomaduro commented on #138
@cpj555 Please re-open the issue if the problem still exists.

[2019-05-28 20:14] #138 closed

[2019-05-28 20:14] nunomaduro commented on #136
This issue was been fixed. Thanks!

[2019-05-28 20:14] #136 closed

[2019-05-28 21:21] JacobDB opened #141 "How can I track down what a message means, and how to fix it?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 1.4.0

I'm having a hard time understanding some of the warnings, and I can't seem to find any full documentation as to what each specific error indicates. For example, I'm getting the following error:

[code]

For the code:

[code]

I don't understand what it's asking me to fix;

[2019-05-28 21:23] JacobDB commented on #141
Ah, I just saw the reference to `SlevomatCodingStandard`, I'm looking there and will report back if this is helpful...

[2019-05-28 23:05] pxgamer commented on #141
You can apply the type hint to the function, as well as a PHPDoc. That way PHP will actually verify it.

e.g.
[code]

[2019-05-29 12:56] nunomaduro commented on #141
It's a open issue for this: https://github.com/nunomaduro/phpinsights/issues/8

[2019-05-29 13:24] JacobDB commented on #8
I'd very much like this as well &ndash; phpinsights in my first foray in to automated testing of PHP, so I've been routinely confused by the notices that pop up, and unable to track down any documentation for most of them.

[2019-05-29 13:25] JacobDB commented on #141
@pxgamer thanks, that does fix this particular error, but doesn't answer the question of how I can identify what each error is actually saying. I've still got dozens of things I'm trying to track down without much luck.

@nunomaduro thanks for pointing that out, I've subscribed to that issue and added my two cents.

I'll close in favor of #8.

[2019-05-29 13:25] #141 closed

[2019-05-29 14:14] olivernybroe opened #143 "Excluding stuff results in more files scanned (but not reported)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | v1.5.0

So I added in the following to my exclude array
[code]
And it goes from 560 files to 1163 files when scanning.

This also results in it actually crashing with a memory exhaust when more folders are added to the exclude array. So it is using a lot more memory the more file

[2019-05-29 14:15] nunomaduro commented on #143
Can you add that to the default preset?

[2019-05-29 14:20] olivernybroe commented on #143
@nunomaduro Oh sure, that kinda makes sense that it is in there.
However I don't think adding it in is smart to do before we find what is causing it to use more memory when stuff is added to the `exclude` array. As merging it in will prob. result in a lot of users getting memory exhaust.

[2019-05-29 15:05] ijpatricio opened #145 "Added `excludes` to config start to overwrite existing from preset"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.3.5

Running on Laravel 5.8.19.

When I was adding paths on `config/insights.php -> exclude key`
It turns out is not merging, but replacing, taking to erroneous behaviour.

It seems to me, the best way to explain is showing a `dd($config)` on `vendor/nunomaduro/phpinsights/src/

[2019-05-29 15:08] nunomaduro commented on #145
Can you work a pull request to fix this buddy? @ijpatricio

[2019-05-29 15:11] ijpatricio commented on #145
Had to edit the original post, because i put ht e fisrt screenshot worng, still form other experiments lol

Now it's correct picture, and sure, I will try just right ahead to fix this.

[2019-05-29 22:17] karljakober commented on #61
As a workaround just pipe the output of the script to a log file, tail the file in another terminal, then hit enter a few times where you ran the command. worked great for me!

[2019-05-29 22:38] titomiguelcosta commented on #61
@karljakober I normally run `php vendor/bin/phpinsights -n 2> /dev/null` so it does not paginate and hides the progress bar, but the output is not easily parsable, so that's why being able to dump json or xml would be great.

[2019-05-30 09:17] erwinw opened #148 "Test individual file"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes

It would be great to get insights for individual PHP files; that way we can make improvements one file at a time.

[2019-05-30 17:35] Jhnbrn90 opened #151 "Travis CI build failing PHP version 7.1"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 1.5.0

_I guess this question is more related to Travis CI, but here it goes..._

After adding PHP Insights to a project, the Travis CI build for PHP version 7.1 expectedly fails, since this package is PHP 7.2+.

**My question:** Is it possible to run PHP Unit in a PHP 7.1 environ

[2019-05-30 22:52] nunomaduro commented on #151
Maybe @szepeviktor can help you on this.

[2019-05-30 22:56] nunomaduro commented on #130
@TomasVotruba Here is context: https://github.com/slevomat/coding-standard/pull/688. Thanks for asking.

[2019-05-30 22:57] szepeviktor commented on #151
@Jhnbrn90 Please remove phpinsights from require and add it in an if:`composer require ...`

[2019-05-31 05:41] TomasVotruba commented on #130
It's normal behavior there, they sometimes delete my comments when I disagreed :)

In the end you don't need that sniff, fixer does better job. Just replace it

[2019-05-31 06:12] ManojKiranA commented on #135
i am having the same issue

[2019-05-31 06:30] Jhnbrn90 commented on #151
Thanks

[2019-05-31 06:31] #151 closed

[2019-05-31 06:40] nunomaduro commented on #130
We don’t have fixer features yet. 🤗

[2019-05-31 07:58] olivernybroe commented on #143
This is the same issue as #145.

[2019-05-31 07:58] #143 closed

[2019-05-31 10:37] TomasVotruba commented on #130
It's part of ECS :)

[2019-05-31 11:28] nunomaduro commented on #130
Yeah, I don't leverage that yet. Probably for the next major version.

[2019-05-31 11:34] nunomaduro opened #152 "Bringing people on board"
Hey buddies, opening this issue as I would like to add 1 or 2 developers as maintainers of PHP Insights. **Who would like to help**? The goal is adding two developers that are able to perform triage on issues, validate/merge pull requests, and eventually add new releases.

[2019-05-31 11:36] nunomaduro commented on #152
Looking at `https://github.com/nunomaduro/phpinsights/graphs/contributors` looks like @Jibbarth @olivernybroe @szepeviktor @xuanquynh maybe would like to help?

[2019-05-31 12:20] TomasVotruba commented on #130
Why not? It's 1:1 to Sniffer

[2019-05-31 13:11] olivernybroe commented on #152
@nunomaduro I would be up for helping out :)

[2019-05-31 13:36] nuernbergerA commented on #61
an option for Checkstyle xml would be awsome

[2019-05-31 14:59] nuernbergerA commented on #61
@nunomaduro any idea how to implement (structure) different formats?

[2019-05-31 17:33] RobertCordes opened #153 "ErrorException : Undefined offset: 48 in YodaHelper.php:168"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.5.0

I was using PHP Insights with Laravel 5.7.x and everything was working fine. Then I updated Laravel to 5.8.x and now I get the following error when running `php artisan insights`:

[code]

[2019-05-31 20:53] nunomaduro commented on #61
Not yet, I am open for ideas.

[2019-05-31 20:54] nunomaduro commented on #152
@olivernybroe Just added you as collaborator, Thanks! https://github.com/nunomaduro/phpinsights/invitations

[2019-05-31 22:34] olivernybroe commented on #153
Having some trouble reproducing this. Would you be able to make a simple example with this error?

[2019-06-01 01:48] godsgood33 commented on #61
How about something like this for JSON?

[code]

[2019-06-01 06:10] ricardovfreixo commented on #105
minor typo there

I'll see what I can contribute mate

[2019-06-01 08:04] spyric commented on #134
Fixed by #150

[2019-06-01 08:04] #134 closed

[2019-06-01 20:14] nunomaduro commented on #153
@olivernybroe @RobertCordes  I don't think this is our problem. You should report this to: slevomat/coding-standard

[2019-06-01 20:14] #153 closed

[2019-06-02 06:04] nuernbergerA commented on #61
How about an `--format=checkstyle` and `--file=checkstyle-result.xml`.
Without `--file` it will echo to stdout.

Other formats cold be
 * console (default)
 * json
 * html
 * text

We can put each formater in a formaters directory.

All formaters implement an interface.

Naming decisions have to been made.
Possible names are:
 * Format
 * Style
 * Output

[2019-06-02 07:38] olivernybroe commented on #61
Yes, let's go for format, and a interface called format.
There's no need for having our own Output interface, as we can just use Symfonys interface for that.

[2019-06-03 04:28] Zolotov88 commented on #43
[code]

[2019-06-03 09:23] olivernybroe commented on #130
@TomasVotruba If you are up for it, then create a PR for it. Would be a nice addition.

[2019-06-03 09:47] nunomaduro commented on #130
Something that we must keep in mind is: We must make it really clear and easy for the end user.

[2019-06-03 10:12] TomasVotruba commented on #130
@olivernybroe I don't use it and @rectorphp is now full marriage thing taking my all time

[2019-06-03 10:57] olivernybroe commented on #108
So to fix this I see 3 ways.

1. The most simple way is to just disable the sniff in laravel preset. However this means we now allow all public properties and not only the once we want to.

2. Create our own sniff, which has support for an array of allowed public properties. This will mean we can still disallow public properties, but some of them is allowed. The only issue with this approach is th

[2019-06-03 10:59] olivernybroe commented on #104
Are you using the same php version in CI and homestead?

[2019-06-03 11:04] olivernybroe commented on #124
Yep, you can customize it.

[2019-06-03 11:07] FFDevelopment commented on #104
yes i do

[2019-06-03 11:10] olivernybroe commented on #124
Yep, it can be customised.
For `LineLengthSniff` there are 3 properties to look for.

    /**
     * The limit that the length of a line should not exceed.
     *
     * @var integer
     */
    public $lineLimit = 80;

    /**
     * The limit that the length of a line must not exceed.
     *
     * Set to zero (0) to disable.
     *
     * @var integer
     */
    public $absoluteLineLimit = 100

[2019-06-03 11:23] olivernybroe commented on #104
How are you running phpinsights?
Could you share your command on both CI and local for when you run it.

[2019-06-03 11:38] FFDevelopment commented on #104
When I started using php insights in Scrutinizer CI, the short bin path didn't worked, so I use the long version.

Scrutinizer CI
`vendor/nunomaduro/phpinsights/bin/phpinsights analyse --ansi -v --no-interaction`

homestead
`php artisan insights`

[2019-06-03 11:56] olivernybroe commented on #104
So what I can see from here is that the `config/insights.php` file is not being passed to your CI command. Try doing
`vendor/nunomaduro/phpinsights/bin/phpinsights analyse --ansi -v --no-interaction --config-path=config/insights.php`

A better approach would be to change your CI to also use `php artisan insights`.

[2019-06-03 12:58] olivernybroe commented on #81
This sounds like a vscode issue :)

However I see another issue with your Cmder example, the emoji for black square is missing. Are you using a custom font?

[2019-06-03 13:25] #104 closed

[2019-06-03 13:37] olivernybroe commented on #148
We should at the same time add support for specifying a directory to analyze, so I can analyze a directory of files alone.

[2019-06-03 13:38] olivernybroe commented on #129
Yep this makes sense. What the error message means is that you have to run the insights from the root of your projects. You are not able to specify a directory or a file to only analyze.
The argument for a folder is so you can target your project root, not so you can analyze a subset of file only.

This is related to the issue #148.

[2019-06-03 13:38] #129 closed

[2019-06-03 13:41] olivernybroe commented on #105
We get multiple issues about users not understanding what settings they can set.
Could be nice if we could have a section in the docs showing the arguments for each of the Sniffs we use. This way the user can easily figure out how to change configuration to their needs.

[2019-06-03 14:34] davi5e commented on #124
Thank you @olivernybroe !

[2019-06-03 14:34] #124 closed

[2019-06-03 14:37] delta1186 commented on #81
Cmder was just Consolas, but I just changed it to the default for the vscode text editor: Consolas, 'Courier New', monospace.

It did appear to fix the Cmder window, but did not do anything for vscode.

![image](https://user-images.githubusercontent.com/421307/58810192-0f2a1f80-85e3-11e9-95ec-cdc7e6ca8949.png)

[2019-06-03 14:49] olivernybroe commented on #81
![image](https://user-images.githubusercontent.com/5870441/58810555-731e0980-861e-11e9-8bc4-4572bb724275.png)
Annoying that it doesn't used filled out squares for you.

Are you running the latest vscode version?

Check out this article https://winsmarts.com/using-cmder-as-integrated-shell-in-vscode-c3340714fe3c, it might fix it for you by also setting the font family inside of vscode.

[2019-06-03 15:11] delta1186 commented on #81
Well, now I am determined it is related to Cmder.  I removed Cmder as vscode terminal and used the default powershell and got this.

![image](https://user-images.githubusercontent.com/421307/58812639-e193a500-85e7-11e9-9d09-d5df9c81d5ca.png)

[2019-06-03 15:20] olivernybroe commented on #81
Haha, yep that looks much better.

Hmm yeah, sounds like it. I think we will close this issue then as it doesn't seem like this package is at fault.

Hope you find a solution!

[2019-06-03 15:20] #81 closed

[2019-06-03 20:16] olivernybroe opened #156 "[Feat] Add file processing to Insight interface"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | next minor

So when I had to create a custom Sniff for adding more functionality I was kinda sad that I couldn't do this with the built in `Insight` class and had to resort to creating a custom Sniff instead.
So my suggestion is adding support so a insight can process a file and

[2019-06-03 22:18] doganoo commented on #152
@nunomaduro do you have any requirements on availability and total amount of work per week/month?

[2019-06-03 23:35] nunomaduro commented on #152
No requirements. Open source it's a hobby.

[2019-06-04 00:41] xuanquynh commented on #152
@nunomaduro I think szepeviktor or Jibbarth is a good collaborator. They will do things well. I quit my job a month ago and I am looking for a new job now. I can not spend time supporting open source projects until I find a new job. When I am stable with the new life that may takes me one or two months, I will be still a volunteer supporter.

I hope I will come back to open source soon.

Thank you

[2019-06-04 08:48] olivernybroe commented on #27
Any ideas for how a logo could look like would be a big help for somebody who want's to tackle this.

[2019-06-04 09:06] nunomaduro commented on #27
@caneco 🥺

[2019-06-04 11:47] caneco commented on #27
Wut? A bit confused about the topic. What's needed?

[2019-06-04 18:47] Jibbarth commented on #152
Hey :raising_hand_man:

Thanks for proposing. There are some parts in the project that are beyond my skills, but I'll be happy to help

[2019-06-04 19:19] nunomaduro commented on #152
Added! Thanks! https://github.com/nunomaduro/phpinsights/invitations

[2019-06-04 19:32] nunomaduro opened #161 "Add "what others think about PHP Insights" page on the website"
This resolve this issue you should work on the PHP Insights website.

The goal is simple: Add a section bellow the `get started` section with the best tweets about PHP Insights: [twitter.com/search?f=tweets&vertical=default&q=%22php%20insights%22&src=typd](https://twitter.com/search?f=tweets&vertical=default&q=%22php%20insights%22&src=typd).

How to setup the website locally?

[code]

The framewor

[2019-06-04 19:34] nunomaduro commented on #161
Where is an example on the https://phppackagedevelopment.com website:

<img width="1391" alt="Screenshot 2019-06-04 at 21 33 37" src="https://user-images.githubusercontent.com/5457236/58908304-7c879e80-8710-11e9-90ae-59a8b5f5ae0d.png">

[2019-06-04 19:36] nunomaduro commented on #152
Sounds good for now, thanks everyone for the help.

[2019-06-04 19:36] #152 closed

[2019-06-04 19:36] nunomaduro commented on #77
Maybe. For the moment we have this: https://phpinsights.com/get-started.html#allowed-memory-size-of-x-bytes-exhausted.

[2019-06-04 19:36] #77 closed

[2019-06-04 20:41] krisnaw commented on #161
Can I take it?

[2019-06-04 20:59] nunomaduro commented on #161
@krisnaw Sure! Thanks!

[2019-06-05 07:35] olivernybroe commented on #152
Welcome on board @Jibbarth!

[2019-06-05 07:40] #135 closed

[2019-06-05 08:15] Zolotov88 opened #163 "It be cool to use custom existing `easy-coding-standard.yml`"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.5.0

It be cool to use custom existing `easy-coding-standard.yml`

[2019-06-05 08:15] nunomaduro commented on #163
Sorry, can you describe better your issue?

[2019-06-05 08:22] Zolotov88 commented on #163
I'm using EasyCodingStandard. I have easy-coding-standard.yml in my root. All is good) But wehen I use `./artisan insights -v` it seems like insights do not use `easy-coding-standard.yml`. It use another rules.

[2019-06-05 08:55] olivernybroe commented on #163
So basically what you are requesting is if the ecs config is present, use that instead of our own?

[2019-06-05 09:37] nunomaduro opened #165 "Add PHPStan wrapper"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.6.0

Add PHPStan wrapper just like we did on with PHPCS: https://github.com/nunomaduro/phpinsights/blob/master/src/Domain/Insights/InsightFactory.php.

Note that: I don't want false positives on PHP Insights, so we only want to incorporate rules that are 100% accurate.

[2019-06-05 11:07] Jibbarth opened #166 "Automatic docker build has failed"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.6.0

Looking at [travis build for 1.6.0](https://travis-ci.org/nunomaduro/phpinsights/builds/541623264), there is some fails :cry:

[code]

@nunomaduro May your password contains specials characters that should be escaped ? Then we could try restart a build :wink:

[2019-06-06 01:21] Zolotov88 commented on #163
@olivernybroe Yes, you are right

[2019-06-07 08:09] olivernybroe commented on #163
A problem with a custom config file like that is that we cannot tell if a sniff error should be part of Code, Complexity, Architecture or Style.
Right now we register the sniffs in classes so we know where to put them afterwards.

[2019-06-07 10:10] Zolotov88 commented on #163
Ok, I see. If so, I think that the ability to process individual files and folders and autofix is ​​very important.

[2019-06-07 11:44] Jibbarth commented on #161
Thanks @krisnaw

[2019-06-07 11:44] #161 closed

[2019-06-07 12:18] olivernybroe commented on #107
Making vuepress render the markdown file of the changelog directly would be a fine and easy solution :)

[2019-06-07 12:41] nunomaduro commented on #166
Still not good? I have changed this.

[2019-06-07 13:08] olivernybroe commented on #27
Basically just a general idea of what we would like as a logo if we have any idea :)

This is just a quick sample (spend like 5 min) on a logo (not really a fan of it myself lol)
![image](https://user-images.githubusercontent.com/5870441/59106188-0bc1cb80-8936-11e9-83b7-84961eaf9f2f.png)

[2019-06-07 13:11] Jibbarth commented on #166
I relaunched the build for 1.6.0, but there is again an error.

But the message is clearer now :sweat_smile:

[code]

[2019-06-07 13:12] olivernybroe commented on #166
@Jibbarth Oh lol, I also relaunched it and was just about to post the same results :)

[2019-06-07 13:26] olivernybroe commented on #37
We are using the ascii colors. What terminal are you using?

A suggestion could be to make a bigger contrast on the colors, like this
![image](https://user-images.githubusercontent.com/5870441/59106719-614aa800-8937-11e9-8960-5e49c319692d.png)

[2019-06-07 14:09] nunomaduro commented on #37
@caneco Maybe can help here.

[2019-06-07 14:10] nunomaduro commented on #27
@caneco 👆🏻🙏

[2019-06-07 23:10] krisnaw commented on #107
Ok, I'm taking this issue

[2019-06-07 23:36] paulomanrique commented on #124
@olivernybroe I tried that and didn't work for me :(

[2019-06-08 13:02] krisnaw commented on #27
LoL, come up with the same idea using a magnifying glass.

<img width="1007" alt="Screen Shot 2019-06-08 at 21 00 37" src="https://user-images.githubusercontent.com/1654121/59147613-81aa5d80-8a30-11e9-8c85-ad8e0b9a2e76.png">

[2019-06-08 21:23] davi5e commented on #124
[code]

[2019-06-11 13:24] caneco commented on #27
Well… I've just played around a bit during my lunch and so far come up with this

![image](https://user-images.githubusercontent.com/502041/59275507-5607bd00-8c54-11e9-9290-3a307fb6a4ad.png)

@nunomaduro already know me, and I always like to use something subliminar regarding the project in the logo. Can you spot the reason behind the "traffic light" (ahah)

I let the discussion begin! 👊

[2019-06-11 13:41] olivernybroe commented on #27
@caneco I like the idea of the traffic light :D
The logo does remind me a lot of an old tv station logo (the one with text over the squares), however it is also the one I like the most at the same time 🥇

[2019-06-11 13:48] caneco commented on #27
@olivernybroe going to try different combinations and/or a custom shape using squares.

If you spot any combination of shapes that could work "ping it" here. Let's make the logo as a community 💪

[2019-06-11 23:07] michaelnguyen547 opened #171 "cant upgrade to v 1.6.0"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.4.0

I m stuck @ v1.4.0, force v.1.60 will give this error

Problem 1
    - Conclusion: don't install sensiolabs/security-checker v6.0.0
    - Installation request for nunomaduro/phpinsights ^1.6 -> satisfiable by nunomaduro/phpinsights[v1.6.0].
    - Conclusion: remove symfony

[2019-06-12 05:18] olivernybroe commented on #171
As far as I understand it (I suck at reading their messages), you have a lock for `symfony/polyfill-ctype` at v1.10.0, but v1.11.0, is required by `sensiolabs/security-checker`.

If this is not the case, could you please share your composer file (the dependencies and Dev dependencies section is enough)

[2019-06-12 08:36] EfeloPHP opened #172 "Not possible to remove ForbiddenSecurityIssues"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.6.0

I tried to remove the check ForbiddenSecurityIssues

[code]

But I end up with this exception (It happened 😄) :

In Results.php line 106:
  This should not happen

PS : Adding the option "--disable-security-check" has no effect.

[2019-06-12 09:41] TheFrankman commented on #59
For me it was jquery.repeater in node_modules. Luckily I don't really need it so just removed it.

[2019-06-12 11:06] olivernybroe commented on #59
@TheFrankman Hmm that's weird, we should be ignoring `node_modules`.

[2019-06-12 11:08] TheFrankman commented on #59
@olivernybroe I wouldn't concern yourself too much with it, It might be down to a theme that we are importing, it's a rather unusual laravel installation.

[2019-06-12 17:28] michaelnguyen547 commented on #171
I run `composer update` and it worked. thanks

[2019-06-12 17:28] #171 closed

[2019-06-12 17:30] michaelnguyen547 opened #173 "UselessParenthesesSniff issue"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.6.0

SlevomatCodingStandard\Sniffs\PHP\UselessParenthesesSniff raise on the below
`(a+ b) >= (c + d) ? a: c;` which the parentheses are required

[2019-06-12 18:02] michaelnguyen547 opened #174 "multiple catches increase cyclomatic complexity calculation"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.6.0

In a Controller, I have 6 methods that have the same structures

[code]

If I have only 2 or less of doSomething, I dont get the `cyclomatic complexity` complains. When I have 6 of doSomething, I have `38 cyclomatic complexity level`. Well, it doesnt look like a level `38`

[2019-06-12 18:34] Jibbarth commented on #172
Really good catch @EfeloPHP, thank you.

For information, the option `--disable-security-check` will only don't throw an error code when phpinsights is launch, but in effect, it's doesn't disable the Insight.

May the option name is wrong ? :roll_eyes:

[2019-06-13 06:58] olivernybroe commented on #173
As far as I understand your parenthesis are not needed for that statement.
You can simply do `a+ b >= c + d ? a: c;`

[2019-06-13 07:05] olivernybroe commented on #174
Could you explain in a little more detail what you mean with the same structure? Do you mean that the whole catch part is completely identical in all of the methods?

[2019-06-13 09:02] askorad opened #176 "[Windows] Color support in cmd.exe"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | latest

Just need help... I am running phpinsights on PHPStorm terminal and the results are unreadable (see below). Can anyone help ?

`
?[33m[2019-06-13 08:29:20]?[39m `C:\wamp64\www\voPlatform`

      ?[42m         ?[49m            ?[42m         ?[49m            ?[42m         ?[

[2019-06-13 09:19] olivernybroe commented on #176
Could we get a little more information? :)
What operation system are you using, which terminal are you using and what font are you using in that terminal.

[2019-06-13 09:42] askorad commented on #176
Hi Oliver,

Thank you for your quick reply.

I am working on PhpStorm terminal :
PhpStorm 2018.2.2
Build #PS-182.4129.45, built on August 22, 2018
JRE: 1.8.0_152-release-1248-b8 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

And I am using the default font and I do not think that it can be changed…

I also tried on Windows PowerShell and I am facing the same issue

De : Ol

[2019-06-13 11:46] olivernybroe commented on #176
PHPStorm does not implement their own terminal, the uses the underlying default OS terminal or a custom one if set. Could you tell what is says in PHPStorm settings at `Tools -> Terminal -> Shell path`?

From the information you have given us, I would say I do not think it is related to PHPStorm, but it is a problem with windows terminal.

The characters you see is the ANSI color codes, because of

[2019-06-13 12:00] askorad commented on #176
You are right, it is using Windows terminal : the shell path is cmd.exe

I am running php 7.2.14 and my windows version is 17134.829 so not the latest which seems strange to me because Windows update is enabled on my machine…

I tried with –no-ansi  and even if I don’t get the colors, the results are much more readable 😊

Unfortunately, I am facing another issue : NunoMaduro\PhpInsights\Domain\Exc

[2019-06-13 13:17] olivernybroe commented on #176
To get the colored results, you have to make your terminal support ANSII color codes. Hopefully somebody else knows how to do this, I don't have Windows, so I unfortunately cannot test it myself.

If we find a solution for how to add the coloring in, then let's add it to the docs, as this is not the first time a question like this has been asked.

Regarding your other issue, could you open a new i

[2019-06-13 13:19] askorad commented on #176
Thanks a lot for your help.

I will open another issue for the Internet Connexion problem

De : Oliver Nybroe <notifications@github.com>
Envoyé : jeudi 13 juin 2019 15:18
À : nunomaduro/phpinsights <phpinsights@noreply.github.com>
Cc : Vincent DAVID <vincent@askorad.fr>; Author <author@noreply.github.com>
Objet : Re: [nunomaduro/phpinsights] Unreadable results on PHPStorm terminal (#176)

To get t

[2019-06-13 15:20] RobertCordes commented on #153
Sorry @olivernybroe and @nunomaduro, I missed the GitHub notifications. Thanks for your quick answers. I will try to reproduce this with a simple example and report to slevomat/coding-standard if necessary.

[2019-06-13 17:24] michaelnguyen547 commented on #173
thanks for the insights. It makes sense.

[2019-06-13 17:24] #173 closed

[2019-06-13 17:27] michaelnguyen547 commented on #174
@olivernybroe I have 6 functions namely `doSomething1`, `doSomething2`, .. , `doSomething6`

Each of them will try to call `post` to external API and that's it. There is no if/else, loop in the `try` part. Each of them will have the exact same catch part.

[2019-06-13 17:34] dennislindsey commented on #97
I've been trying to figure out how I can ignore specific errors for specific files/directories because of the APIs I'm forced to implement by their inherited classes. I'm not sure how difficult it would be to accomplish, but I'd be happy using a syntax similar to what @tarlepp suggested, but pulling that into the existing config file. Maybe something like this?

[code]

[2019-06-13 18:11] olivernybroe commented on #174
Without seeing actual code I cannot help to be honest.

Complexity increased with the amount of statements in your class, as it is getting more complex per statement added.

As far as I can see in the code you showed in the top and from what you have told, this is not a bug.

[2019-06-13 21:09] michaelnguyen547 commented on #174
@olivernybroe please see the code @ https://gist.github.com/michaelnguyen547/967c4b9ad8632b59a9b51e00736ea0ec

[2019-06-14 06:57] olivernybroe commented on #97
This could be possible if we create a wrapper class for a sniff which exist if the file is in the array.
However I think using a `ignoredFiles` parameter is smarter as it follows the normal parameter syntax.

As far as I remember you can in your phpdoc add `@phpcsSuppress SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingParameterTypeHint` and it will ignore the error for that method. Th

[2019-06-14 07:12] olivernybroe commented on #174
Yep, looking at your code this is not a bug.

As I said complexity is increased when the amount of statements increases. In this class there are a lot fo statements and they could easily be refactored to fewer statements.

I can give you a couple of hints to reduce the complexity.
https://gist.github.com/olivernybroe/2623c29769282e6946f76542ec6df55f

Then you could also consider moving
[code]

int

[2019-06-14 07:12] #174 closed

[2019-06-14 08:19] mattfletcher opened #177 "Double reporting of unused parameters"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.6

I get the following sniffs highlighted

[code]

Apart from wondering why there are two sniffs apparently reporting the same issue, I think this is a false positive. It's true that the parameter isn't used in this method, however the method comes from a parent class that this

[2019-06-14 09:31] olivernybroe commented on #177
Your issue contains two different issues, so the one with extending a class which requires the parameters is already in discussion on #97.

However the double reporting is def. an issue. Could you share your config file?

[2019-06-14 09:39] mattfletcher commented on #177
Thanks, I will have a read through #97 and see what I can do about that.

Config file:

[code]

[2019-06-14 18:37] michaelnguyen547 commented on #174
@olivernybroe thank you for your kind assistance.

[2019-06-15 19:24] michaelnguyen547 opened #180 "UnusedFunctionParameterSniff does not work well with Laravel `magic`"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 1.6.0

I can't remember what it called in Laravel but you can tell by looking at my code

[code]

I got `$state is never used` complaint. I am not sure if I can do anything about this or just ignore the complaint. I can possibly change `compact` to `['state' => $state ]` but I lik

[2019-06-15 19:52] olivernybroe commented on #180
Thanks for reporting the issue! However we are already aware of this as it was reported in issue #52.

[2019-06-15 19:52] #180 closed

[2019-06-16 14:16] nunomaduro opened #181 "Removing ForbiddenSecurityIssues displays 0 security issues"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | latest

Following this issue https://github.com/nunomaduro/phpinsights/pull/175, when removing `ForbiddenSecurityIssues` the console output display 0 security issues found.

[2019-06-16 15:03] #177 closed

[2019-06-17 12:47] olivernybroe opened #184 "[internal] Increase line length"
So right now this package has configuration which limits the line length to 80.

I think we should consider changing this to 120 which I think is a much more suitable line length.

We could also consider changing the default line length for our default preset to 120, as if we agree on 120 being the most optimal line length, it makes sense that the package agrees with it.

What are your guys opinio

[2019-06-17 12:50] nunomaduro commented on #184
I am fine with 80 chars. @Jibbarth What do you think?

[2019-06-17 13:12] olivernybroe commented on #184
@nunomaduro There are a lot of places in our code where we do not follow the line length.

But if @Jibbarth agrees with having 80 chars length, then let's continue with that.

[2019-06-17 13:33] Jibbarth commented on #184
I often config the line limit to 120 in my projects also.
I found 80 is quite restrictive, but it may enforce code to have small functions without much indentation...

Or we can set lineLimit to 80 and absoluteLineLimit to 120 ?
https://phpinsights.com/insights/style.html#line-length

[2019-06-17 14:21] nunomaduro commented on #184
@Jibbarth That means that the coding fixer will apply breaking line on 120 only?

[2019-06-17 14:33] olivernybroe commented on #184
The difference between the two parameters is if it reports a warning or an error.

So `absoluteLineLimit` will report an error, where `lineLimit` only reports a warning.
I like the idea of setting it to 80/120.

[2019-06-17 14:38] nunomaduro commented on #184
Sounds good to me. Thanks @olivernybroe for bring this discussion up.

[2019-06-17 14:46] olivernybroe commented on #184
Should we make this change to all presets also?

[2019-06-17 14:57] nunomaduro commented on #184
No. This should be only for us.

[2019-06-17 15:22] #184 closed

[2019-06-17 15:29] olivernybroe opened #186 "[internal] Automatic doc generation in PR"
Another internal post :)

I have seen other packages are starting to use Netlify for doc hosting and one place where it really gives a great advantage is for PR's.

Using Netlify we can set it up to build the docs on a PR, so we can see how it looks before it is merged in, without having to clone and build locally.

It would require a `netlify.toml` file containing
[code]
Don't know what work it w

[2019-06-17 16:04] nunomaduro commented on #186
Never used `Netlify` before, so I am not sure about this.

[2019-06-17 17:28] Jibbarth commented on #186
@olivernybroe Do you have examples of packages that use this? To see on PR how it is displayed?

[2019-06-17 18:21] olivernybroe commented on #186
@jibbarth sure. This is a closed pr, but if you open up the information, there is a check called `netlify/deploy`. That is just a link to a static site with the docs from the pr.

https://github.com/nuwave/lighthouse/pull/803

[2019-06-17 18:43] Jibbarth commented on #186
It look nice ! Is previews aren't indexed by search engines ? (I hope not, but I just thought about that :sweat_smile:)

Anyway, it could be interesting to have this :+1:

[2019-06-17 21:38] olivernybroe commented on #186
Haha I have no idea if they are tbh. :D but don't think they are, as that would be really impractical.😂

[2019-06-18 07:57] nunomaduro commented on #186
I think we should close this for now. It's a nice idea, let's maybe re-open this issue later alright?

[2019-06-18 07:57] #186 closed

[2019-06-18 07:59] nunomaduro commented on #181
It has been fixed.

[2019-06-18 07:59] #181 closed

[2019-06-19 07:21] olivernybroe commented on #172
@Jibbarth Is this fixed now?

[2019-06-19 07:39] nunomaduro commented on #172
Yes, his fix is merged.

[2019-06-19 07:39] #172 closed

[2019-06-20 11:10] Jibbarth opened #191 "[internal] Release 1.7.0 ?"
Hey guys,

Maybe it's time for a new release ?

[Changelog](https://github.com/nunomaduro/phpinsights/compare/v1.6.0...3fdee8d9e3ba052d2f0bbe105aa843d861cf3dd2)

To summarize, we have:

New Features:

- [x] Two new Insights about Composer (ComposerMustBeValid and ComposerLockMustBeFresh) (PR #169)
- [x] CyclomaticComplexityIsHigh insight is now configurable (PR #190)
- [x] Add support for ignoring

[2019-06-20 11:12] Jibbarth commented on #191
@nunomaduro Can you also recheck #166 before the next release ? To be sure we'll have  a new docker image ?

[2019-06-20 11:20] olivernybroe commented on #191
I think it is time. @nunomaduro also wrote in #190 that he will release tonight.

[2019-06-20 11:21] Jibbarth commented on #191
Yes I saw that just after publishing this issue :sweat_smile:

[2019-06-20 11:27] olivernybroe commented on #191
Nice of you to create the changelog list to make it easier for releasing 🎉

Let's see if we can get the twitter handles also, to make it even easier :)
[code]

@FFDevelopment if you have twitter, we would like the tag you on the next release. I cannot find your handle on twitter 👍

[2019-06-20 12:03] nunomaduro commented on #191
Can we try to remove the dependency `composer/composer` before having this release ready? Here is the list of extra dependencies installed in a laravel project on this new version:
[code]

[2019-06-20 12:23] merlin334 opened #192 "PHP Insights needs an internet connection to inspect security issues."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.6.0

Hi Nuno,

Running:
php artisan insight
gives the following exception.

[code]
- Tried it on 2 different desktops, 2 laptops and vmware all with windows 10.
- Tried with 3 different internet providers, one being tethering from mobile 4G network Vodafone.
- Tried on clean La

[2019-06-20 12:33] olivernybroe commented on #192
Can you access the site directly without certificate issues? https://security.symfony.com/

Else this might be an issue you have to post on https://github.com/sensiolabs/security-checker.

[2019-06-20 12:40] nunomaduro commented on #192
This is an issue of the security-checker package. Anyway, we should improve the code updating that generic exception to a specific one.

[2019-06-20 12:44] Jibbarth commented on #191
:thinking: The dependency for `composer/composer` was introduced in #169 with new Composer Insights to use command from composer.
If we remove it, theses insights will not work anymore ?

[2019-06-20 12:48] merlin334 commented on #192
Yes i tried that too.
![certificate](https://user-images.githubusercontent.com/9083576/59850411-dc1db500-9372-11e9-85d2-3234f1daa7e4.JPG)

[2019-06-20 12:56] nunomaduro commented on #191
@Jibbarth Alright, let's keep this. Eventually, if someone complains we work in away of making this optional or even refactor it to remove those dependencies.

[2019-06-20 12:59] nunomaduro commented on #191
@Jibbarth Do you wanna do the release yourself? 💇🏻‍♂️ Don't forget to post here the tweet so I can retweet it.

@olivernybroe It's missing my twitter handler on that 💃

[2019-06-20 13:03] olivernybroe commented on #191
@nunomaduro Didn't include yours because I thought you were doing the release ;) Sorry! :*

[2019-06-20 13:05] Jibbarth commented on #191
@nunomaduro I take a plane in one hour, so I let you do the release :sweat_smile:

[2019-06-20 16:02] #191 closed

[2019-06-20 16:20] nunomaduro commented on #191
Tweet about this release: https://twitter.com/enunomaduro/status/1141742506725511169.

[2019-06-21 10:47] merlin334 commented on #192
Updated to 1.7, same error.

[2019-06-21 15:50] goncalomcunha opened #193 "Not recognizing @Route annotation in Symfony"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.7.0

phpinsights is not recognizing the `@Route` annotation in Symfony, even though it is being used to define routes in the controller.

Message:
`Type Symfony\Component\Routing\Annotation\Route is not used in this file`

The code

[code]

These messages are also thrown:
`src/

[2019-06-21 19:11] olivernybroe commented on #193
What should it check for in the `@route` annotation?
Other than that it is a necessary doc block if there is a route annotation?

[2019-06-21 20:20] szepeviktor commented on #166
https://github.com/nunomaduro/phpinsights/commit/320780b4acb092777f8b08dd2b8e31230b84b0b4#commitcomment-34036318

@nunomaduro There is one already open

Maybe we could try docs.travis-ci.com/user/environment-variables/#defining-encrypted-variables-in-travisyml

[2019-06-22 07:49] AhmadWaleed opened #194 "Class 'Symfony\Component\Config\ConfigCache' not found"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| nunomaduro/phpinsights version  | v1.7.0
| laravel/framework version  | v5.8.2

- Getting this error `Class 'Symfony\Component\Config\ConfigCache' not found` when running php artisan insights?

Already Tried:
[code]

[2019-06-22 08:12] olivernybroe commented on #194
Please use the template it helps us to not answer questions like which version you are running this on.

Try installing your composer dependencies again and recreate your autoload file.

[2019-06-22 09:00] AhmadWaleed commented on #194
@olivernybroe I updated the issue according to the template and already tried steps which you mentioned above.

[2019-06-22 22:35] goncalomcunha commented on #193
I think it could check, at least, if the HTTP method is defined

[2019-06-23 08:58] Jibbarth commented on #193
You can configure the sniff `SlevomatCodingStandard\Sniffs\Namespaces\UnusedUsesSniff` by adding in your `phpinsights.php` the following configuration to search in annotation

[code]

See https://phpinsights.com/insights/style.html#unused-uses

May be we should configure it by default to true for symfony preset

[2019-06-23 12:13] nunomaduro commented on #193
`\SlevomatCodingStandard\Sniffs\Namespaces\UnusedUsesSniff::class => [
    'searchAnnotations' => true
]`

this should be on the default preset @Jibbarth.

[2019-06-23 12:13] nunomaduro commented on #193
@Jibbarth Can we make a pull request on this?

[2019-06-23 16:18] Jibbarth commented on #193
@nunomaduro I can do it.

If the config should be on defaultPreset, then others preset should extend defaultPreset, isn't it?

[2019-06-23 16:22] Jibbarth commented on #148
@erwinw Thanks for proposing this idea.

It'll be available in the next release :wink:

[2019-06-23 16:22] #148 closed

[2019-06-23 16:43] nunomaduro commented on #193
Should be on the core default preset.

[2019-06-23 23:17] syntaxseed commented on #105
I'm really interested in this project, but when I look at the screenshot of the report output... I then went to the docs to find out what all the percents & points mean, but couldn't find anything.

[2019-06-24 06:41] olivernybroe commented on #105
@syntaxseed Yeah that might make sense to have a section explaining the values.
Basically the way it works is that it collects all sniffs which has ran and calculates the percentage of them which did not throw an error.
It is not based on LOC.

[2019-06-24 06:43] olivernybroe commented on #194
I am not able to reproduce this. Tried with a fresh Laravel installation and then installing the package, but it did not fail.

Could you give the steps to reproduce it?

[2019-06-24 06:54] nunomaduro commented on #194
@AhmadWaleed Can you share your composer.json?

[2019-06-24 06:55] nunomaduro commented on #105
@syntaxseed Let's make sure to improve this together.

[2019-06-24 12:50] erwinw commented on #148
Just to leave the thought here: this also starts opening the way to say a VSCode extension! #exciting

[2019-06-24 12:56] nunomaduro commented on #148
Never used a VSCode extension, can you give me some examples? @erwinw

[2019-06-24 13:41] olivernybroe commented on #148
Because of this you should also be able to set it up as an external tool in PHPStorm ;)

[2019-06-24 17:49] erwinw commented on #148
Vscode extensions add whatever functionality you want to the editor; for JavaScript I’m using an Eslint extension which inline with the code indicates syntax and style problems, as well as providing a summary of problems. Phpinsights would be perfect for that - it would be so good to immediately get feedback while coding! (And just for the record, I think Phpinsights is a great idea; it can be ove

[2019-06-24 18:18] #193 closed

[2019-06-24 18:42] nunomaduro opened #198 "`* Closing connection 0` warning"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | latest

Since we have included the version of the `v6.0` of symfony security we now see this message `* Closing connection 0`.

[code]

[2019-06-24 18:43] nunomaduro commented on #27
@caneco Buddy I love you, but you have news on this? I am fine using the one you proposed at first.

[2019-06-24 18:45] nunomaduro commented on #40
@ShawnMcCool This issue has been fixed. Please perform `composer update nunomaduro/phpinsights` and try again.

[2019-06-24 18:45] #40 closed

[2019-06-24 18:46] nunomaduro commented on #53
@viezel Can you double check the docs on `phpinsights.com` and check if is better now?

[2019-06-24 18:47] nunomaduro commented on #55
There are two options to avoid this issue here: https://phpinsights.com.

[2019-06-24 18:47] #55 closed

[2019-06-24 19:42] ShawnMcCool commented on #40
Works like a charm, thanks.

[2019-06-25 04:14] AhmadWaleed commented on #194
It worked after deleting the vendor folder and `composer update` thanks guys

[2019-06-25 04:15] #194 closed

[2019-06-25 05:48] viezel commented on #53
@nunomaduro yes, much better 🎉
love the new `vendor/bin/phpinsights -v`

[2019-06-25 05:48] #53 closed

[2019-06-25 05:59] pxgamer commented on #176
Are you using the legacy console in Windows 10?

If you right click on an open cmd window and go to the properties, it should have a checkbox at the bottom.

I was pretty sure that the normal cmd has support for colours.

[2019-06-25 06:50] nunomaduro commented on #176
This problem seems to be solved.

[2019-06-25 06:50] #176 closed

[2019-06-25 07:24] askorad commented on #176
Checked or not checked, I have the same issue..
It’s a shame, but the most important are the figures
Thank’s for your help

De : Owen Voke <notifications@github.com>
Envoyé : mardi 25 juin 2019 07:59
À : nunomaduro/phpinsights <phpinsights@noreply.github.com>
Cc : Vincent DAVID <vincent@askorad.fr>; Author <author@noreply.github.com>
Objet : Re: [nunomaduro/phpinsights] [Windows] Color support in

[2019-06-25 07:24] nunomaduro opened #200 "Add Rector wrapper"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | latest

Project: https://github.com/rectorphp/rector.

Rector is a reconstructor tool - it does instant upgrades and instant refactoring of your code. Why doing it manually if 80% Rector can handle for you?

[2019-06-25 07:26] nunomaduro commented on #145
@ijpatricio Can you re-test this?

[2019-06-25 07:27] nunomaduro commented on #82
This is already possible, please re-open the issue if something doesn't work.

[2019-06-25 07:27] #82 closed

[2019-06-25 07:31] olivernybroe commented on #176
@askorad Unfortunately this problem is not related to our package.
It's either an issue in your Windows setup, Core PHP or Symfony Console.

There have been multiple issues reported on this in Symfony Console, I think your best bet is to follow the discussions in there, somewhere in the issues there might be a solution also.
https://github.com/symfony/symfony/issues/19520

If anyone finds a easy s

[2019-06-25 07:44] olivernybroe commented on #198
Hmm not able to reproduce this on my setup.

[2019-06-25 07:47] olivernybroe commented on #192
@merlin334 Does this error also happen if you run https://github.com/sensiolabs/security-checker directly?

[2019-06-25 07:51] olivernybroe commented on #163
@Zolotov88 We now support processing individual files.🎉

I'll close this issue as this is prob. not something we will add support for as it will only complicate things as we have insights which is not from ECS. Having multiple config file is not something we will go for.

We have an issue for autofix which you can follow also #54.
But thanks for reporting this to us! :)

[2019-06-25 07:51] #163 closed

[2019-06-25 07:54] olivernybroe commented on #52
@VladimirBerezkin This has been fixed now, thank you for reporting this!

The issue was that we were using to sniffs to check for unused parameters and one of them did not support compact methods.

[2019-06-25 07:54] #52 closed

[2019-06-25 07:57] olivernybroe commented on #78
You can now exclude a sniff on a file, this might help you with this. https://phpinsights.com/insights/#remove-insights

[2019-06-25 08:00] olivernybroe commented on #200
So this adds support for running phpcs and also create files which just does refactoring?

Or does it not run phpcs fixers?

[2019-06-25 08:52] #78 closed

[2019-06-25 08:53] nunomaduro commented on #192
@olivernybroe If the error also happens, this is not our problem and we can close the issue.

[2019-06-25 09:24] olivernybroe commented on #130
Since they did not accept our PR to fix this issue we can fix it ourself in two ways.

- Create a custom sniff which fixes the code in the original sniff.
- Remove the sniff from our insight.

Or we can wait and see if it will be fixed later on.

[2019-06-25 10:10] merlin334 commented on #192
security-checker.phar works, but the composer one gives the same error.
Is there any way to skip this security check?
I guess we can close the issue.

[2019-06-25 10:40] #192 closed

[2019-06-25 10:58] olivernybroe commented on #192
You can run with `disable-security-check`.

Thank you for testing this out, I'll encourage you to report the issue on their Github. If it turns out to be a bug in some setup, then please tell us and we can consider adding it to the docs.🎉

[2019-06-25 11:39] merlin334 commented on #192
```disable-security-check``` didn't work, but in config/insights.php if you add ForbiddenSecurityIssues::class to ```'remove'=> [ ForbiddenSecurityIssues::class ]```, it works.
Also I opened a issue on https://github.com/sensiolabs/security-checker/issues/165.

[2019-06-25 15:37] olivernybroe commented on #61
Just added support for json formatting in my PR. Feel free to check it out and see if the output satisfies the need.

[2019-06-26 07:57] caneco commented on #27
👋

Got a few more inspirations today playing around with the squares and a new typo.

![image](https://user-images.githubusercontent.com/502041/60161916-54133180-97f0-11e9-8e58-1f7c699348a5.png)

![image](https://user-images.githubusercontent.com/502041/60161929-5aa1a900-97f0-11e9-8775-6fcc1d7b0411.png)

[2019-06-26 08:49] olivernybroe commented on #27
Oh that's nice.

I think we should use this one as our logo
![image](https://user-images.githubusercontent.com/5870441/60165187-326d7680-97ff-11e9-9a6d-2a11c65bd918.png)

And then this one as the banner logo
![image](https://user-images.githubusercontent.com/5870441/60165242-4a44fa80-97ff-11e9-968e-009fdb06a724.png)

I know that it's not the same logo, but because they are just "rearranging" the s

[2019-06-26 09:10] nunomaduro commented on #27
I love them all.

[2019-06-26 12:58] caneco commented on #27
Great idea for the loading 😄

If we're setup with the main the idea I'm going to refine the logo + extras and I will share with you the final result.

[2019-06-26 13:04] olivernybroe commented on #27
Sound awesome! You are our saviour! 🎉

[2019-06-26 14:12] nunomaduro commented on #27
Wondering we can make that loader on the console. 😘

[2019-06-26 14:53] olivernybroe commented on #27
Was wondering the same thing.
We might actually be able to do it with custom style on a progress bar 🥇
But it will have to be for ASCII enabled consoles only.

[2019-06-27 06:54] caneco commented on #27
Oh well… run this Gist in your terminal and let me know if it's good 😄
https://gist.github.com/caneco/1f99346ff0c19b86af2b824449f84ad1

[2019-06-27 07:51] olivernybroe commented on #27
@caneco
Haha that is brilliant!
I made some small changes in it. Shifted to using 256 colors instead as terminals normally don't override those colors also and moved cursor to end of line :)
https://gist.github.com/olivernybroe/faa6483cace88473beb7c8940118bc1b

And a gif for lazy guys!
![gif](https://user-images.githubusercontent.com/5870441/60247402-e5ea6f80-98c0-11e9-96a0-5b1c8d780c43.gif)

[2019-06-27 08:00] nunomaduro commented on #27
O.M.G! Can you make that bigger and a little bit more centered? That is huge!

[2019-06-27 08:07] merlin334 commented on #192
Fixed updating symfony/http-client to v4.3.2.

[2019-06-27 08:20] olivernybroe commented on #27
@nunomaduro We should be able to do that. However for that we need to basically display the progress bar in multiple lines and then run the delete line command on each line we use. So we have to use cursor navigation up and down prob. also 👍

[2019-06-27 08:20] caneco commented on #27
@olivernybroe thanks! 😄

@nunomaduro
1. Bigger it's a matter of choosing the right character… Any suggestion [here](https://www.copypastecharacter.com/graphic-shapes)?
2. centered it's also possible using some math calculation

[2019-06-27 08:43] olivernybroe commented on #27
https://gist.github.com/olivernybroe/2cee5ccc104937a0572f2fc8801b97a4
Here is an example with bigger output, but still only using one line.
Is this big enough or do we want it even bigger?
![new](https://user-images.githubusercontent.com/5870441/60251220-6eb8d980-98c8-11e9-8bcd-d18d1bc94a2c.gif)

[2019-06-27 08:46] caneco commented on #27
@olivernybroe genius! 😃

[2019-06-27 14:04] JacekAndrzejewski opened #202 "Implement option to output issues grouped by file"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.7.0

Right now all found issues are grouped by type of issue and sniffer name. That's good, but if I wanted to fix all found issues in one file then I would have to search for file path in output. In big projects this may be a problem.

That's why I think there should be an opt

[2019-06-27 15:22] olivernybroe commented on #27
Haha this is perfect! 😎

So which one of these do you guys prefer?
![solved](https://user-images.githubusercontent.com/5870441/60275912-e6076100-98fa-11e9-8b1d-41c8ace0d60d.gif)
![solved-2](https://user-images.githubusercontent.com/5870441/60278616-0ede2500-9900-11e9-912e-e8d1076d43c0.gif)

[2019-06-27 15:23] nunomaduro commented on #27
You should ask that on twitter. 🤗 Make a pool.

[2019-06-27 15:24] olivernybroe commented on #202
Great idea!
Before we implement this, a workaround for you could be to use the new feature to specify a file when running this package.

This way you get faster insights as it is only scanning one file and you only see issues for that file🤩

[2019-06-27 15:25] olivernybroe commented on #27
@nunomaduro Could you make the pool? Think we would get more responses if you do it ;)

[2019-06-27 15:27] nunomaduro commented on #27
@olivernybroe Can I have access to that POC locally? Link?

[2019-06-27 15:43] olivernybroe commented on #27
@nunomaduro Yeah sure :)
It's in my repo https://github.com/olivernybroe/phpinsights/tree/feat-new-style
To change style just change `loadingBar` to `loadingBar1` here
https://github.com/olivernybroe/phpinsights/blob/feat-new-style/src/Application/Console/Commands/AnalyseCommand.php#L86-L88

[2019-06-27 17:41] olivernybroe commented on #27
Seems like users find the first one to fast. We can easily change the speed by editing https://github.com/olivernybroe/phpinsights/blob/8772ece75171f84a52bbc5df1f10e6d427350cca/src/Application/Console/Style.php#L123, which defines when the pointer should change per iteration. Maybe try out `$bar->getProgress() % 5 === 0` and see if that makes it a little less epileptic to look at 😅

[2019-06-27 21:25] szepeviktor opened #203 "[Internal] Raise our own scores above 90"
See current expectations in https://github.com/nunomaduro/phpinsights/blob/master/composer.json#L68

Suggested goal: `--min-quality=90 --min-architecture=90 --min-style=97.8`

[2019-06-28 07:07] JacekAndrzejewski commented on #202
Right now as a workaround I pipe output into txt file and then sort lines lexicographically with "String Manipulation" plugin for PHPStorm. Works good enough even for 30k+ lines of output.

[2019-06-28 07:29] olivernybroe commented on #202
@JacekAndrzejewski Sounds really cool!

We actually have a PR #201 which prob. soon will get merged which will help make that part easier also as it removes all data from which is not related to the result when you pipe data. It also adds a json format.

Btw you can add phpinsight as a external tool and trigger it per file to get the result fast and easy in phpstorm
![image](https://user-images.gi

[2019-06-28 09:46] olivernybroe commented on #203
Damn, that sounds like actual work 😅

[2019-06-28 09:57] szepeviktor commented on #203
To set an example for users.

[2019-06-29 18:37] michaelwps opened #206 "Mixed results on same code base."
| Q                | A
| ---------------- | -----
| Bug report?      | possibly
| Feature request? | no
| Library version  | 1.7.0

i get mixed results between runing
`php artisan insights`

![image](https://user-images.githubusercontent.com/29801890/60388122-de160100-9a61-11e9-9a39-084a6f8794be.png)

`./vendor/bin/phpinsights`
![image](https://user-images.githubusercontent.com/29801890/60388149-1

[2019-06-29 20:14] olivernybroe commented on #206
The difference is the config file.
The artisan command automatically uses the config from your config folder while with the bin edition you have to specify which config file manually :)

So try specifying the `config` param when using bin path and see if it fixes it for you. 🧐

[2019-07-01 12:22] tomasnorre commented on #82
Can you link me to the documentation on how this is possible ?

[2019-07-01 21:50] nunomaduro commented on #82
Here is an example: https://phpinsights.com/insights/architecture.html#property-per-class-limit.

[2019-07-02 03:18] smartyaunt opened #207 "Can specify the directory to check"
Can specify the directory to check

[2019-07-02 03:25] #207 closed

[2019-07-02 13:42] 0x15f commented on #36
This doesn't work with Magento 2.3.*.... the dev/stable dependencies of Magento conflict with phpinsights. @larsroettig how did you run this on Magento 2.3.1?

[code]

[2019-07-02 21:01] Jibbarth commented on #36
@0x15f Could you try with this method in the doc ? https://phpinsights.com/get-started.html#avoid-composer-conflicts

[2019-07-02 21:47] Jibbarth commented on #8
@akosglue & @JacobDB

Since your comments, we have work on [documentation](https://phpinsights.com) to list all Insights used in phpinsights with their className and their meaning :wink:

[2019-07-03 08:28] smartyaunt opened #208 "analyse sub dir error"
vendor/bin/phpinsights  analyse app

In AnalyseCommand.php line 63:
  The file `composer.json` must exist. You should run PHP Insights from the root of your project.

-------------please help, thank

[2019-07-04 06:47] Jibbarth commented on #208
:thinking: This feature is not released yet.

@smartyaunt Could you try by requiring dev-master version ?

[code]

[2019-07-04 07:25] olivernybroe commented on #36
Hmm yeah this is an annoying problem. This is caused by Magento having the following constraint
`"symfony/console": "~4.1.0"` and we have `"symfony/console": "^4.2"`.
As @Jibbarth says we have the work around in the docs.

However as we have a preset for Magento, I think we should be able to install this package directly when using Magento. @nunomaduro What do you think? Should we bump our require

[2019-07-04 14:35] olivernybroe commented on #203
If you are up for it, a PR would be really welcome.

[2019-07-04 14:37] #206 closed

[2019-07-05 01:40] smartyaunt commented on #208
@Jibbarth Thank Bro, it's work

[2019-07-05 05:22] #208 closed

[2019-07-05 14:14] #107 closed

[2019-07-05 14:16] #145 closed

[2019-07-05 14:23] nunomaduro opened #210 "[internal] Release 1.8.0"
[TODO]

@Jibbarth Up to proceed with this release?

[2019-07-05 17:19] Jibbarth commented on #210
Refs [changelog](https://github.com/nunomaduro/phpinsights/compare/v1.7.0...master)

To summarize, we have :

## New feature:

* Authorize analyse of one file or specific directory (#195)

## Improvments:

* Configure search use in annotation (#196)
* Add changelog to website (#204)

## Fix:

* Merge config with default config (#196)

Before releasing, I think it could be great if we had **Add for

[2019-07-05 19:19] nunomaduro commented on #210
@Jibbarth Fixed for the 403.

[2019-07-05 19:20] nunomaduro commented on #210
I will try to validate the `Add formating support` tonight or this weekend. But I can't promise.

[2019-07-06 09:51] olivernybroe commented on #210
Sounds great!
I also think it could be nice if formatting could be added before next release. 😀

The phpstan can wait for a future release, that one also need some love to make the code pretty 😉

[2019-07-08 09:04] tobyryuk opened #215 "Deprecation error from symplify/package-builder"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.7.0

I'm running Laravel on Alpine and when I'm running `php artisan insights`, I only get this deprecation warning:
[code]

Haven't been able to figure out why yet as I can't find anything using it, result from `composer why symplify/package-builder`:
[code]

[2019-07-08 09:51] xuanquynh commented on #215
It is seem a deprecation from symplify/package-builder core code. Could you provide more information?
- Laravel version
- composer.json and composer.lock files content.

[2019-07-08 10:27] tobyryuk commented on #215
Laravel Version: `5.8.8`

composer.json:
[code]

composer.lock: https://pastebin.com/BVzQ3W5E

[2019-07-08 10:45] xuanquynh commented on #215
It exactly comes from symplify/package-builder package code. Have you configured the **error_reporting** setting of php.ini file? You may modify php.ini that contains this like.
[code]

[2019-07-08 10:46] xuanquynh commented on #215
This [line](https://github.com/Symplify/PackageBuilder/blob/14db22e0c9667aeb81873468b4984a490d2183b6/src/DependencyInjection/CompilerPass/AutowireSinglyImplementedCompilerPass.php#L33) produces the deprecation.

[2019-07-08 10:50] tobyryuk commented on #215
Changing the `php.ini` file will just sweep the problem under the rug, as you can see, under the `trigger_error` they've added a `sleep`. I've been trying to find out what uses it but with no luck so far.

[2019-07-08 11:16] tobyryuk commented on #215
Seems like it's installing `v6.0.0` of `symplify/easy-coding-standard` for me which still uses the deprecated class, not sure why it's not installing the latest but I'll try to upgrade it.

[2019-07-08 11:26] tobyryuk commented on #215
Forcing an update of `symplify/easy-coding-standard` fixed it.

[2019-07-08 11:26] #215 closed

[2019-07-08 17:30] nunomaduro commented on #215
@tobyryuk What is the version you are using that fixes it? Can bump our `composer.json` symplify/easy-coding-standard to match that?

[2019-07-09 07:52] tobyryuk commented on #215
I think it was fixed from `6.0.1` but I'm currently running `6.0.4` with ease!

[2019-07-09 15:16] nunomaduro commented on #215
Yeah, just perform a pull request in our repository that bumps as well that dependency to `^6.0.4`.

[2019-07-10 18:55] caneco commented on #27
Hello, regarding the logo we're close to this design? Can I make the official artwork && extras?

Speaking of extras, what do you want? Wallpapers, avatars… what else?

[2019-07-10 21:09] nunomaduro commented on #27
You can create a folder called `art`, and add all that stuff on it.

[2019-07-10 23:06] olivernybroe commented on #27
Stickers, hats, socks, t-shirts. I want the logo on everything! 😻

[2019-07-11 12:09] ramizmanked opened #217 "The file `composer.json` must exist. You should run PHP Insights from the root of your project."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.7.0

I'm getting **The file `composer.json` must exist. You should run PHP Insights from the root of your project.** error while executing command  "./vendor/bin/phpinsights analyse ./index.php" in terminal.

**Note:** It throws error even if I execute command from root of my p

[2019-07-11 12:13] akosglue commented on #217
may be related https://github.com/nunomaduro/phpinsights/issues/129

[2019-07-11 12:22] akosglue commented on #217
@ramizmanked
I tried to do the same as well.
As I understood from the comments in https://github.com/nunomaduro/phpinsights/issues/129, we cannot do it (yet). The first argument for a folder is only to specify the project root, not for an individual file or folder to be analyzed.

[2019-07-11 12:23] akosglue commented on #217
And see this: https://github.com/nunomaduro/phpinsights/issues/208

[2019-07-12 10:02] szepeviktor commented on #203
:( https://github.com/nunomaduro/phpinsights/pull/214#issuecomment-509784434

[2019-07-12 10:02] #203 closed

[2019-07-12 10:48] ramizmanked commented on #217
Thanks @akosglue for guiding me.

I got the solution from [here](https://github.com/nunomaduro/phpinsights/issues/208#issuecomment-508361216) if anyone is looking for.

[2019-07-12 10:52] olivernybroe commented on #203
We can still try and raise the scores above 90, we just don't want the complexity score added.

(sorry if I might have closed your PR for that reason alone)

[2019-07-12 10:54] olivernybroe commented on #217
Yep, when the next release is out this will be fixed!
Until then you have to use the master branch for this to work.

[2019-07-12 10:54] #217 closed

[2019-07-12 11:12] szepeviktor commented on #203
Okay, I leave it to you.

[2019-07-13 11:45] judgej opened #218 "Publishing Laravel resources"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.7.0

When running as a Laravel artisan command, it provides the instruction:

    [ERROR] First, publish the configuration using: php artisan vendor:publish

Many packages do this, and they shouldn't IMO. This will publish config files and resources from ALL installed packages

[2019-07-13 11:49] xuanquynh commented on #218
"php artisan vendor:publish" command will show a list of things for you to choose. Just run it and pick the right thing for you.

[2019-07-13 11:50] judgej commented on #218
Ah, yes, shows how long since I used that command without options!

[2019-07-13 11:50] #218 closed

[2019-07-17 18:47] nunomaduro opened #223 "Missing logo in the website"
**Goal**: Perform a pull request on the website (https://github.com/nunomaduro/phpinsights/tree/master/docs)  adding the `gif` to the website, just like in our readme.

<img width="1536" alt="Screenshot 2019-07-17 at 11 46 43" src="https://user-images.githubusercontent.com/5457236/61402726-975d3f00-a888-11e9-925b-ee5c604298f2.png">

[2019-07-17 18:49] nunomaduro opened #224 "Art folder is being included on the package while using `composer require...`"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Library version  | master

**Goal**: Add the line `art` into the file `.gitattributes` so people don't get this folder while including the package in their projects.

[2019-07-17 18:53] caneco commented on #223
on it…

[2019-07-18 07:05] olivernybroe opened #225 "[Laravel] Adopt some rules from Laravel shift"
Recently Laravel shift posted about their phpcs fixer rules and I think we should consider adopting most of them into our package as most of us agree with the way Laravel shift formats our code.
https://gist.github.com/laravel-shift/cab527923ed2a109dda047b97d53c200

@Jibbarth This might be relevant for you as you are working on phpcs fixer support right now.

[2019-07-20 12:21] Jibbarth commented on #224
Thanks @jonesdev

[2019-07-20 12:21] #224 closed

[2019-07-20 16:57] FFDevelopment opened #229 "ForbiddenSecurityIssues: Show other results even if ForbiddenSecurityIssues fails"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.7.0

Because you never know, if you always have an available internet connection, it would be nice to skip ForbiddenSecurityIssues, if no internet connection is available.

I mean, if you don't have an internet connection, you could still get the other results. In the current s

[2019-07-20 17:28] olivernybroe commented on #229
In the master branch we have support for skipping it with a parameter.

[2019-07-21 07:42] olivernybroe commented on #229
@Jibbarth Am I remembering wrong about you fixing this or was it something related?

[2019-07-21 13:51] Jibbarth commented on #229
:thinking: We have a `--disable-security-check` option but it only  don't throw an error code when phpinsights is launched. But we can remove the insight in the `phpinsights.php` file.

IMO, @FFDevelopment is right, and we should add error on insight when there is no connection to still get results.

[2019-07-21 18:44] olivernybroe commented on #229
@jibbarth sounds good! I think you are right, that might be the right direction.

[2019-07-22 08:26] szepeviktor opened #230 "Adding an empty/none preset"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | dev-master

Is there a way to start from an empty list of insights and add them one-by-one?

[2019-07-22 08:54] szepeviktor commented on #230
I'd like to detect classes longer than 1000 lines.

[2019-07-22 15:55] olivernybroe commented on #230
Currently there is no way to start from scratch.

You can however disable them all and add one by one the ones you want. And do the configuration you want.

However I think it's a great idea to have a empty preset or let you set the preset from a namespace might also work.

[2019-07-23 17:41] AlexanderSix opened #231 "Complexity configuration override is not changing output of phpinsights"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.4.0

First of all, I **love** phpinsights!

I'm currently working on a project for work where we need to change the cyclomatic complexity's max complexity from 5 to 10, but our override in the insights.php configuration file doesn't seem to be working. We've followed the docume

[2019-07-23 18:28] AlexanderSix commented on #231
**Fixed:**

Well folks, turns out composer wasn't installing the newest version of phpinsights (we're now using ^1.7), and that fixed the problem!

[2019-07-23 18:28] #231 closed

[2019-07-25 06:49] #73 closed

[2019-07-25 10:02] cbraillon opened #232 "Add a dashboard"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | latest

It would be great to see results in a dashboard.
I know that [Symfony Insight](https://insight.symfony.com/) has one and it's awesome.

It will increase the readability of issues.

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  htt

[2019-07-25 10:42] caneco commented on #232
I wouldn't mind to tackle this… 🔥 🔥 🔥

[2019-07-25 11:00] olivernybroe commented on #232
We have a PR for adding formatters #201, which will make doing this a lot easier.

I see two ways of implementing this. Either create a new formatter called `html`, which generates a site from the output. Or create a site which can load the data from the json format.

[2019-07-25 11:02] olivernybroe commented on #27
@caneco Thanks for creating this!

[2019-07-25 11:02] #27 closed

[2019-07-25 11:21] caneco commented on #232
@olivernybroe in each run we could add a new JSON file to a specific folder that a HTML would read an present the key figures and charts.

Feels like the best approach, and also to show the progress of the insights results.

[2019-07-25 11:30] caneco commented on #27
@olivernybroe it was fun doing this…

Still need to make your socks 😅

[2019-07-25 12:14] olivernybroe commented on #232
@caneco Sounds like a good idea. I think the JSON way is more robust and extendable in the future.

Would also do so you could compare your results for each run 👍

Maybe this dashboard should be a package for itself that you can just `composer require` in?

[2019-07-25 12:59] caneco commented on #232
Could be something installed if needed with `npm run install && npm run build/serve`?

[2019-07-25 13:03] olivernybroe commented on #232
@caneco Yeah, it makes a ton of sense to use `npm` instead as it is front end stuff.

[2019-07-25 13:06] caneco commented on #232
Another question…

Should the dashboard be:
- only available by running a local server (`npm run serve`)
- available as a "static" website in the repo (`npm run build`)
- or… both

[2019-07-26 05:32] olivernybroe commented on #232
I think a static site might be the best choice, if that is not too much work. Else just do what you find easiest.

[2019-07-26 06:31] cbraillon commented on #232
Love the idea of a static site !

[2019-07-26 07:12] olivernybroe commented on #108
So for now you can fix this by using the `exclude` parameter on the sniff in the config.
https://phpinsights.com/insights/#configure-insights-2

[2019-07-26 14:41] #108 closed

[2019-07-26 15:12] olivernybroe commented on #97
@tarlepp I am not sure if this solves your problem, but we now have support for excluding a file on a specific sniff.
[code]
https://phpinsights.com/insights/#configure-insights-2

[2019-07-28 16:55] Jibbarth commented on #225
Interresting. I could add them in laravel preset.
I already add lot of them in defaults metrics, I have to sort through :wink:

[2019-07-29 13:55] learn2develop opened #234 "ErrorException : Undefined index: scope_closer"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.7

 ErrorException  : Undefined index: scope_closer

[code]

 Exception trace:
  1   Illuminate\Foundation\Bootstrap\HandleExceptions::handleError("Undefined index: scope_closer", "vendor/slevomat/coding-standard/SlevomatCodingStandard/Helpers/UseStatementHelper.php")
      ven

[2019-07-29 14:50] olivernybroe commented on #234
What code did this fail on?
What insight is it failing on?

This error might look like it is not related to us, but to [`SlevomatCodingStandard`.](https://github.com/slevomat/coding-standard)

[2019-07-29 14:53] learn2develop commented on #234
I have simply installed it on my Laravel 5.8, run the artisan command and the error showed up. It is difficult to say which code it did failed on as my Laravel installation is quite big.

I do not know what do you mean by the second question?

[2019-07-29 15:00] olivernybroe commented on #234
Well according to the part of the stack trace you gave us, I can see that it is probably caused by a `use` statement.

All the stuff we check for is displayed in what we call a insight. So for example if you have a useless  use statement, that is an insight checking for that. Under the hood it is using phpcs sniffs, and one of those sniffs are giving the error you are seeing.
With the full excepti

[2019-07-29 18:34] learn2develop commented on #234
Hmm, ok so it trips over this file https://github.com/etrepat/baum/blob/master/src/Baum/Generators/stubs/model.php. Is this something for your package or for the `SlevomatCodingStandard`?

[2019-07-29 19:08] olivernybroe commented on #234
Looking at the file, it does not look like it is valid php. Considering that it is a stub you should probably exclude it from code analysis. https://phpinsights.com/insights/#configure-insights

[2019-07-29 19:13] learn2develop commented on #234
Excluded, thanks for help

[2019-07-29 19:13] #234 closed

[2019-07-30 08:25] neoplomero opened #235 "Can't make it work with Lumen."
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? |no
| Library version  | 1.7.^

- Hey Lads. Can't make this work properly with Lumen. What I can't make work is the configuration. I'm trying to use the laravel preset or any other change in the config and it is not working. I already set the app.php file on bootstrap to load the config files.

Any idea wh

[2019-07-30 12:47] olivernybroe commented on #235
How do you run phpinsights? With the artisan command or the bin file?

[2019-07-30 19:05] learn2develop opened #236 "Sniff out deprecated mutators in Laravel"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.7.0

Your documentation offers to add `PHP_CodeSniffer\Standards\Generic\Sniffs\PHP\DeprecatedFunctionsSniff` to sniff out deprecated functions. Is there a way to sniff out deprecated mutators in Laravel please?

[2019-07-30 19:22] olivernybroe commented on #236
So basically you want a sniff to detect usages of a accessor or mutator that you have marked deprecated?

If that is the case, then no we do not have support for that yet.

[2019-07-31 10:24] neoplomero commented on #235
I was running with the bin file bu twas't picking the configs. I wanted to run it with artisan but was giving me troubles. The solution was:

Added the command on kernel:

[code]
In the AppServiceRepository:

[code]
In Bootstrap/App.php

`uncommented $app->register(App\Providers\AppServiceProvider::class);`

And Manually copied the config file:

`cp vendor/nunomaduro/phpinsights/stubs/laravel.php

[2019-07-31 21:07] peterfox opened #237 "Would it be possible to add hyperlinks to Insights output?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.7.0

It would be great to add links in the terminal output in some fashion that could open the IDE or open the code on github. I often find it slow to try and track down the line that needs to be changed. If this isn't possible then it would be good to explore other options may

[2019-07-31 21:51] olivernybroe commented on #237
Good idea, I have been thinking about how to do this for some time.
Haven't found any official information on how to implement it, but might be able to mix something together by looking at how other tools do it.

[2019-08-01 07:46] olivernybroe commented on #235
Nice that you found a solution!

I am not a Lumen user, but why did our service provider not work for you?

[2019-08-01 11:55] neoplomero commented on #235
Mostly because of an error:

` Call to undefined method Laravel\Lumen\Application::configPath()`

+

Time

[2019-08-01 12:33] olivernybroe commented on #235
Ah thanks.
So we need to replace the right side of the array here
[code]

with a method that get's the config path correctly depending on if it's Lumen or Laravel.
So if it's Lumen the method is called `getConfigurationPath` and if Laravel `configPath`.

[2019-08-08 09:30] sohaha opened #239 "About Unused parameter"
Please ignore the others first. According to the following example,

$aaa and $bbb are anonymous functions of the same structure.

In case of using $value, there is a way not to prompt "Unused parameter $key"

![20190808172710](https://user-images.githubusercontent.com/18098083/62691747-e28aed80-ba01-11e9-9ff0-bad6cbe70e7e.png)

[code]

[2019-08-08 14:35] abishekrsrikaanth commented on #61
Any chance of this being available sooner?

[2019-08-09 09:42] orlyapps commented on #61
This would be very helpful!

[2019-08-09 15:14] olivernybroe commented on #239
You could silence the error on the whole file.
Obviously in `bbb` you could just remove the variable `value`.

[2019-08-09 15:17] olivernybroe commented on #61
Out of curiosity, what do you guys need the functionality for?
The pr we have open adds a Json format that we created ourself.

[2019-08-09 16:28] nunomaduro commented on #61
I will check this pr, next week. Promise. 👍🏻

[2019-08-11 08:33] zdenekgebauer opened #240 "ForbiddenGlobals exclude file not working"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.7.0

My configurations file contains:
[code]
and index.php contains unused local variable and  $_SERVER['HTTP_HOST'], $_SERVER['HTTP_X_REQUESTED_WITH'] . UnusedVariableSniff is ignored as expected, but  ForbiddenGlobals still show "globals accesses detected"

[2019-08-11 09:46] olivernybroe commented on #240
All insights which are not sniffs does not support the `exclude` parameter.
It is definitely something we need.

[2019-08-12 14:09] andrewnclark commented on #235
Decided to take a look into this, figured it was pretty straight forward on the surface of things. However, having changed the above code to detect Lumen and call `getConfigurationPath` instead, it became apparent that `vendor:publish` isn't support by Lumen so the config available.

I'm happy to continue work on this but I'm guessing everyone's Lumen project tackles configuration differently (jus

[2019-08-12 21:38] guillaumebriday opened #241 "Colors in CI"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 1.7

Hey! Thank you for your work, it's very good!

There is a [dedicated section](https://phpinsights.com/continuous-integration.html#continuous-integration) for CI which it's great but do you know how to enable colors in the Web terminal ?

I use GitLab CI, and it's all black:

[2019-08-13 05:37] Jibbarth commented on #241
Could you try with `--ansi` option ?

[2019-08-13 07:24] guillaumebriday commented on #241
Ok I have colors now, but it seems that Gitlab does not reset lines on `\r` so the results are still weird

cf: https://gitlab.com/guillaumebriday/todolist-backend-laravel/-/jobs/271203328

I don't think you can do anything more here

Thank you for your help!

[2019-08-13 07:24] #241 closed

[2019-08-13 08:40] douglasjam opened #242 "Argument 2 passed to getParametersTypeHints must be of the type int, null given"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.7.0

[code]

With verbose mode:

[code]

The file in which it threw the exception

[code]

[2019-08-13 10:40] sohaha commented on #239
No, I mean aaa's mistake, not bbb.

[2019-08-14 07:03] olivernybroe commented on #239
Yes, that's why I said you could silence the error on the whole file by adding the file in the `exclude` array.

You could also remove it by adding the following annotation to phpdocs for that function `@phpcsSuppress`.

[2019-08-14 07:19] olivernybroe commented on #242
Not sure if this is actually a bug, the issue is because you have set the `@param` annotation inside a function.

The param annotation is only meant to be used as docblock for a function, not inside a function. In that case you should use `@var` instead.

The MVP for this error is the following
[code]

This issue is not from our package, but from the slevomat coding standard package. So I'll repor

[2019-08-14 07:39] olivernybroe commented on #235
@andrewnclark Thank you for looking into this.

You are totally right, Lumen does not have a publish command. In Lumen we have the `configure` method in `Application` which loads a file into the configuration.

Obviously using `.env` for configs isn't feasible in this scenario. So we have to make another solution.

I think we should for the first solution just fix it with docs. So in our docs we b

[2019-08-14 07:40] douglasjam commented on #242
Indeed, it's a bug in the class, but shouldn't it ignore/log and do not crash the entire analyzer?

[2019-08-14 07:43] olivernybroe commented on #242
I posted it at Slevomat and they say it is a coding mistake and not something they will fix.
https://github.com/slevomat/coding-standard/issues/732

Hmm, I see your point and I actually agree with you.
I guess we should add support for throwing the error, but without crashing our analyzer. This way you know something went wrong, but you can still get all of the other insights.

[2019-08-14 11:32] robsontenorio commented on #108
@olivernybroe Once we know Laravel has mandatory public properties, would be useful at laravel preset config file a example for ignoring 'timestamp', for instance.

[2019-08-14 11:53] olivernybroe commented on #108
@robsontenorio I totally agree.

I would like to have the advantage to ignore public properties based on the parent class.
However some issues with this is that phpcs only analyses the current file, so it can see the parent class, but not the parent parent class.

[2019-08-14 12:57] robsontenorio opened #243 "Add ability to config excluding path"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | -

Hi @olivernybroe ! I am using Lighthouse and would be nice to add ability to exclude entire paths, not only files. Once we know, most of time those parameters will not be used in those methods.

[code]

[code]

[2019-08-14 13:02] robsontenorio commented on #243
Another example (wont work)

[code]

[code]

[2019-08-14 13:19] olivernybroe commented on #243
For adding support for the following we need to update the class [`SniffDecorator`](https://github.com/nunomaduro/phpinsights/blob/master/src/Domain/Sniffs/SniffDecorator.php).

In this file we have the method `pathsAreEqual`, which has to used some advanced logic that actually checks paths and regexs also.

The best scenario here would be to use the `Symfony\Component\Finder\Iterator\ExcludeDirec

[2019-08-14 18:17] #61 closed

[2019-08-14 18:18] nunomaduro commented on #61
Pull request has been merged. Working on the release during today/tomorrow.

[2019-08-14 19:20] olivernybroe commented on #210
Hell yeah, now we got formatting support merged in! 👍

Let's get the next release out and make our first tweet release on the dedicated twitter account 😮

[2019-08-14 19:46] nunomaduro commented on #210
done. 🔥

[2019-08-14 19:46] #210 closed

[2019-08-14 20:06] nunomaduro opened #244 "Website: Add about us page"
Would be cool to have a page about the maintainers on the website. Like a picture of the maintainer with a description and the twitter link.

How to setup the website locally:
[code]

**Goal**:  A pull request adding the page to the website.

[2019-08-14 20:49] andrewnclark commented on #235
Not a problem I'll put something together in the next few days around my work schedule. Happy to help.

[2019-08-15 10:09] nunomaduro commented on #232
Thanks to @olivernybroe, we can know get `json` format from phpinsights.

[2019-08-15 10:23] olivernybroe commented on #239
Another solution would be to completely remove the insight about unused parameters

[2019-08-15 10:23] #239 closed

[2019-08-15 14:33] neoplomero opened #246 "Remove file for an Insights:class"
| Q                | A
| ---------------- | -----
| Feature request? | yes

Would be great to be able to remove a file just for a given class.  :) So the file is not evaluated by that class but it is by all the other insights classes.

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  https://www.patreon.com/nunomaduro
👉  https://www.paypal.com/cgi-bin/webscr?

[2019-08-15 14:43] olivernybroe commented on #246
Do you mean this?
https://phpinsights.com/insights/#configure-insights-2

[2019-08-15 15:40] neoplomero commented on #246
Indeed, I do.

[2019-08-15 15:40] #246 closed

[2019-08-18 20:10] Tjoosten opened #251 "'PHP_CodeSniffer\Util\Tokens' not found"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |no
| Library version  | 1.7 and higher

Hey,

I think a found an issue

[code]

[2019-08-18 21:23] olivernybroe commented on #251
Sounds like your installation with composer failed. Try deleting your vendor folder and run composer install again.

[2019-08-18 21:37] nunomaduro commented on #62
This issue has been fixed on the version `v1.8.1`.

[2019-08-18 21:37] #62 closed

[2019-08-18 21:37] nunomaduro commented on #59
This issue has been fixed on the version `v1.8.1`.

[2019-08-18 21:37] #59 closed

[2019-08-19 05:36] jadamec commented on #59
[code]

[2019-08-20 05:57] michaeldyrynda commented on #59
^ I hit the same error as @jadamec after updating to 1.8.1

[2019-08-20 14:46] nunomaduro commented on #59
@jadamec @michaeldyrynda Can you try again with `v1.9.0`?

[2019-08-20 14:58] jadamec commented on #59
Works now, great! Thank you.

[2019-08-21 04:41] michaeldyrynda commented on #59
I did get a notice with 1.9, but it finished running.

[2019-08-21 07:12] olivernybroe commented on #59
@michaeldyrynda Could you share the notice, having some difficulties reproducing it.

[2019-08-21 10:12] michaeldyrynda commented on #59
`PHP Notice:  Undefined offset: 0 in /Users/mdyrynda/code/crm/vendor/slevomat/coding-standard/SlevomatCodingStandard/Helpers/UseStatementHelper.php on line 147`

[2019-08-21 11:31] olivernybroe commented on #59
@michaeldyrynda Thanks. Found the cause.
PR #253 should silence the php messages

[2019-08-22 10:01] #251 closed

[2019-08-22 12:49] olivernybroe opened #254 "[Discussion] Handling of errors vs warnings in sniffs"
# Problem

So right now a sniff can report if it's a warning or an error, however we do not differentiate between these two.

A case where this is used is the `LineLengthSniff` with the following parameters
[code]
Depending on the length of the line it will either be a warning (lower level) or error (higher level).

In a case like this it might make sense for us to punish the users score different

[2019-08-25 07:12] nunomaduro opened #255 "Add Composer Require Checker"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | latest

Would be great add a `maglnet/ComposerRequireChecker` to php insights, so we can analyze composer dependencies and verify that no unknown symbols are used in the sources of a package. This will prevent you from using "soft" dependencies that are not defined within your co

[2019-08-25 07:26] nunomaduro commented on #255
@olivernybroe After your great last refactor, it's trivial to add new wrappers? Do you think it's worth to write something about it on the readme? Or its still something that should be kept internal (to us)?

[2019-08-25 08:29] olivernybroe commented on #255
@nunomaduro I think we could have a contribution section which tells you how to integrate a new tool 👍

[2019-08-27 18:23] criszacca opened #257 "Unused parameter"
| Q                      | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | latest

Hi guys. First of all, **thank for this awesome package**!

I'm using this package with Laravel 5.8 and in some cases (responses or builders) the implementation of Laravel's API resources forces me to indicate some variables that aren't used into the function but it

[2019-08-28 08:24] Gummibeer commented on #108
@olivernybroe but the exclude only allows exact file paths? Or could we also use some kind of glob to exclude all files inside `app/Models` or `app/Mails` for example?

[2019-08-28 09:42] olivernybroe commented on #108
@Gummibeer yep, we only allow file paths at the moment. We have an issue open for folders #243

[2019-08-28 09:47] Gummibeer commented on #240
@olivernybroe this should stated clearer or get fixed.

https://phpinsights.com/insights/#configure-insights-2

This sentence, from the docs, is the exact opposit of what you wrote and seems to be the case.

[2019-08-28 09:47] olivernybroe commented on #257
Hmm not sure how good a solution that would be, as I could name the variable whatever I want and then it would show a error again.

However you can silence it with `@phpcsSuppress` in the doc blocks.

I would however like to find a really viable solution for this.

[2019-08-28 10:09] Gummibeer commented on #237
https://plugins.jetbrains.com/plugin/7677-awesome-console
will solve it for PHPStorm without any changes. I bet that there are similar plugins for vscode and all the others.

[2019-08-28 10:51] Gummibeer commented on #232
I also would like static html files more. And at the end it's just adding tag wrappers around the already present text format?
`<dl>`, `<ul>` and this kind of stuff should do the trick?

[2019-08-28 10:54] Gummibeer commented on #232
Will try to add a HTML formatter which generates a static file.

[2019-08-28 11:54] olivernybroe commented on #237
Sounds awesome.
We could recommend users to install that plugin in the docs until phpstorm is able to handle it themselves.

[2019-08-28 11:57] olivernybroe commented on #240
@gummibeer you are right, this is definitely missing in the docs.

It might make sense the fix the docs and then when we have actually fixed the other insights to have this support, we can change the docs again.

[2019-08-28 12:04] nunomaduro commented on #237
@Gummibeer Maybe can you pull request to the website that information?

[2019-08-28 13:00] Gummibeer commented on #232
I'm 💯 % not in design! But this is my first/working result. I've tried to rebuild the console output - because I'm a lazy-bitch I use bootstrap. 🙈
My idea is that anyone else can make it pretty if wanted, but for the moment it should be fine!?

![screencapture-localhost-63342-phpinsights-dashboard-html-2019-08-28-14_58_11](https://user-images.githubusercontent.com/6187884/63857606-4de23280-c9a4-11

[2019-08-28 13:02] Gummibeer commented on #240
Will do so in combination with #237

[2019-08-28 13:39] nunomaduro commented on #232
@caneco

[2019-08-28 14:11] Gummibeer opened #260 "Method does not need documentation comment should ignore `phpmd SuppressWarnings`"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |no
| Library version  | v1.9.0

And this is the actual code:
[code]

I believe that this tool should ignore comments needed for other tools.

[2019-08-29 07:04] olivernybroe commented on #260
You can set `allAnnotationsAreUseful` to true in the configuration of that insight.

[2019-08-29 07:09] olivernybroe commented on #237
I just tested out the plugin and it works like a charm. A big fan of adding it to the docs.

@peterfox The plugin solved the problem for phpstorm and vscode is already able to do this.
Is this also a solution for you?

[2019-08-29 07:10] olivernybroe commented on #235
Thanks @andrewnclark!

[2019-08-29 07:10] #235 closed

[2019-08-29 07:11] olivernybroe commented on #198
@nunomaduro is this still happening for you?

[2019-08-29 07:45] Gummibeer commented on #260
@olivernybroe which helps for the moment but isn't the exact same. Because now also this passes:

[code]

But thanks, it still helps me to get around these issues. :)

[2019-08-29 07:51] nunomaduro commented on #198
Let me check

[2019-08-29 07:52] olivernybroe commented on #260
@Gummibeer Yeah, the problem is that this is a limitation in the sniff we are using.
So we either have to create our own sniff to do this or a PR and hope they will accept it at the package which owns the sniff.

[2019-08-29 11:02] nunomaduro commented on #198
Yeah, still there.

<img width="701" alt="Screenshot 2019-08-29 at 13 00 51" src="https://user-images.githubusercontent.com/5457236/63935183-3d41c300-ca5d-11e9-809f-1c1a2c55718d.png">

[2019-08-29 19:34] peterfox commented on #237
@olivernybroe it's good enough for me.

[2019-08-30 16:39] olivernybroe commented on #198
Hmm I think it might be related to the security checker.
Looks like it is caused by Curl.

[2019-08-30 16:42] olivernybroe commented on #198
This seemed to happen because of a old curl edition. Try updating the curl edition in php

https://github.com/php-curl-class/php-curl-class/issues/596

[2019-09-01 01:28] nunomaduro commented on #198
True. Sounds fixed, thanks!

[2019-09-01 01:28] #198 closed

[2019-09-01 12:14] calvinchiulele opened #261 "Add ability to export results from 'php artisan code:analyse'"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.9.0

Hi all contributors from PHPInsights. Open source community wouldn't be the same without you!
Can we have a feature in phpinsights to export the result issued from the command 'php artisan code:analyse' to JSON and txt formats?

<!--
Love PHP Insights? Please consider supp

[2019-09-01 12:35] nunomaduro commented on #261
Did you tried `--format=json`?

[2019-09-01 12:46] calvinchiulele commented on #261
I didn't found it on 'php artisan code:analyse' but I found it on 'vendor/bin/phpinsights' binary.

Thanks for the help.

[2019-09-01 12:59] nunomaduro commented on #261
It may be a bug.

[2019-09-01 15:27] FFDevelopment commented on #261
@calvinchiulele `php artisan code:analyse` is not phpinsights. it's larastan

[2019-09-01 15:31] calvinchiulele commented on #261
Thank you. I made confusion about the packages.

[2019-09-01 16:23] #261 closed

[2019-09-05 19:11] Keesromkes opened #262 "Gitlab testing started failing"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |no
| Library version  | 1.9.0

I've been doing a bit of testing through gitlab instead of on my development machine, but recently it doesn't seem to work anymore.

This is the error I have:

[code]

And this is the Gitlab CI I'm using to run the test;

[code]

[2019-09-06 08:23] olivernybroe commented on #262
Hmm, it sounds like your vendor folder has gotten corrupt, try deleting the vendor folder and see if that fixes it.

[2019-09-06 08:48] Keesromkes commented on #262
so it was a bit more complicated than that (my local test had no problem) but my gitlab branch still had an old vendor folder in there. That overruled the creation of a new one apparantly!

Thanks for the support @olivernybroe, that did the trick then :-)

[2019-09-06 08:48] #262 closed

[2019-09-06 09:25] olivernybroe commented on #262
@Keesromkes No problem!
Nice that you found out what the exact problem was.

[2019-09-06 20:51] tarlepp commented on #257
I have been seeing this a lot with classes that extends some another class and those methods are containing  those parameters on that base implementation - I really cannot remove those (order won't be the same and so on..) and same goes for classes that implements some interface that has "extra" parameters that I'm not using at all.

adding that `@phpcsSuppress` seems a bit weird - imho - just bec

[2019-09-09 06:27] olivernybroe commented on #257
@tarlepp We actually don't use ECS anymore, so no we do not use ecs config files, but we also didn't do that before.

So you are saying that with ECS it works fine for you, by that I assume you mean it does not show the messages about unused parameter? Do you have any idea on how they solved the problem?

[2019-09-11 11:52] olivernybroe opened #264 "[Docs] Add favicon"
In our documentation we do not show our icon which is a big shame now that @caneco did such a nice job.

You can find the icon to use for favicon under `art/heart.svg`.
This has to be added in vuepress. In their docs they have a simple example of how to do it [here](https://vuepress.vuejs.org/config/#head).

[2019-09-11 11:54] nunomaduro commented on #264
For newcomers - here is the source code: https://github.com/nunomaduro/phpinsights/tree/master/docs.

Setup locally:

[code]

[2019-09-15 13:27] olivernybroe opened #266 "[feat] Add .bat file"
In both `phpcs` and `phpmd` they have a `.bat` file to run the system directly on Windows without having to add `php` in front of it.

I think this package should also add this in for easier usage on Windows.

Adding this in would also solve the problem of being able to run phpinsights via the phpstorm plugin.

Here are the bat files from [phpmd](https://github.com/phpmd/phpmd/blob/master/src/bin/

[2019-09-15 14:38] ibrahim-mubarak opened #267 "Problems with Laravel viewAny Policy"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.9.0

I have the following piece of code

[code]

This generates `Unused parameter $user.`
However removing `$user` results in Laravel denying access to guests.

Should phpinsights respect `SuppressWarnings`? I wouldn't want to disable the sniff for the entire file just because

[2019-09-15 19:37] olivernybroe commented on #267
Try using `@phpcsSuppress SlevomatCodingStandard.Functions.UnusedParameter` and see if that works.

[2019-09-18 09:37] nunomaduro opened #270 "rfc: adds `packaging` column"
Today we have some `insights` in the `Architecture` metrics that are not related to `Architecture` of the application.

This proposal is about creating `chore` or `packaging` column that aggregates all the insights concerning:

- Missing license
- Composer.lock outdated
- etc

[2019-09-18 12:53] ibrahim-mubarak commented on #267
It works perfectly, thanks.
Should we be adding this to the docs?

[2019-09-18 19:35] nunomaduro commented on #267
@ibrahim-mubarak You can contribute with that. Here is the guide on how setup the website locally:

[code]

[2019-09-18 19:35] #267 closed

[2019-09-19 12:09] olivernybroe commented on #270
Hmm I like that idea, I think `chore` is the better name here as that is also kinda following the naming you would use in a commit for a change like that.

[2019-09-20 20:31] ibrahim-mubarak commented on #223
I suppose we can close this issue?

[2019-09-20 21:34] nunomaduro commented on #223
Yes, thank you!

[2019-09-20 21:34] #223 closed

[2019-09-23 11:57] pxgamer commented on #266
These seem to be generated automatically by Composer on Windows. 🤔

[2019-09-23 12:40] olivernybroe commented on #266
@pxgamer Ah did not know that, cool!

Why do most of the packages include a .bat file then 🤔

I also found a way to generate them even if you are running composer install from inside a docker. https://github.com/composer/composer/issues/7370

[2019-09-23 12:40] #266 closed

[2019-09-23 12:42] pxgamer commented on #266
I have no idea 🤷‍♂

[2019-09-23 17:12] Gummibeer opened #274 "Add checkstyle formatter"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | latest

ScrutinizerCI supports custom commands if they produce a XML file in checkstyle format.
This would allow to see the phpinsights "errors" in the ScrutinizerCI web UI instead of scrolling through the TravisCI/CircleCI logs.

https://scrutinizer-ci.com/docs/tools/custom-comm

[2019-09-23 18:33] Jibbarth commented on #274
Great news ! It's already implemented => PR #271

However, it's not released yet. Could you try with `dev-master` version ?

[2019-09-23 18:51] Gummibeer commented on #274
Ah, cool. Will Test it tomorrow. Thanks!

[2019-09-24 09:32] Gummibeer commented on #274
@Jibbarth it's missing in the console help description.
https://github.com/nunomaduro/phpinsights/blob/9b0418e31641febfc4c9a111d9b91259ab35c38f/src/Application/Console/Definitions/AnalyseDefinition.php#L66-L72

`encoding="UTF-8"` is missing in the opening `<?xml?>` tag.

It should be noted that the file paths are relative to the path given to `analyse` command and not to the XML file, which is oka

[2019-09-25 14:30] danilocorrea87 opened #276 "PHPCodeSniffer ruleset.xml file support"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | latest

## Doubt

I have a personal project that already uses a custom set of PHPCodeSniffer + Slevomat in xml file.
I did some testing with PHPinsigths and found it amazing (Congratulations)

I was wondering if there is any way for PHPInsights to use my custom PHPcs file (xml) as

[2019-09-25 16:30] mikeerickson opened #277 "Ignore `vendor` directory by default"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | v1.8.0

I am running PHP Insights with a few laravel-zero projects and it seems it is NOT ignoring the `vendor` directory as I receive a number of issues related to files in `vendor/src/Illuminate`

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollecti

[2019-09-25 17:21] nunomaduro commented on #277
It's already the case, weird. Can you update to the latest version?

[2019-09-26 03:42] mikeerickson opened #278 "Docker version is not current"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.0.0

The docker version is not the latest build.  Looking at the container on docker hub, it seems that a build version of 1.2 exists, but the latest version is 1.0.0

Can you please build a new version of 1.9.0?

https://hub.docker.com/r/nunomaduro/phpinsights/tags

[2019-09-26 03:54] mikeerickson commented on #277
I am running `composer require nunomaduro/phpinsights:1.9` but it seems either the reported version is 1.8.0 or composer is not installing the correct version.

[code]

composer.json reports

[code]

[2019-09-26 04:05] dmitryuk commented on #274
@Gummibeer your remarks are fixed in the PR. Please try again )

[2019-09-26 04:11] #274 closed

[2019-09-26 08:04] nunomaduro commented on #278
Yeah - I would love if someone could take this. I don't use this myself. I don't understand shit about what is happening on travis.

[2019-09-26 08:39] ptt-homme commented on #278
Hi,

I would love to help you on this, if you need ping me :)!

Le jeu. 26 sept. 2019 à 10:04, Nuno Maduro <notifications@github.com> a
écrit :

[2019-09-26 11:33] olivernybroe commented on #276
@danilocorrea87 Hi thank you for using our package.

I am sorry to say, but that is prob. not something we will do, a reason to it can be found in this other issue https://github.com/nunomaduro/phpinsights/issues/163#issuecomment-505330110

[2019-09-26 11:33] #276 closed

[2019-09-26 16:09] mikeerickson commented on #278
@nunomaduro I can assist, I use docker quite a bit personally.  Or, if @ptt-homme has more immediate time to contribute, lets do it!

@nunomaduro I assume you have the credentials for your account on http://hub.docker.com

[2019-10-02 09:09] Knudian opened #279 "Enhancement for docker runs"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.9.0

When running the command within my CI setup (`docker run -it --rm -v $(pwd):/app nunomaduro/phpinsights`), my wish to get the export done in json is not satisfied.

It'd be wise to facilitate integration (as it would also work locally), by providing the output formatting l

[2019-10-02 09:37] olivernybroe commented on #279
Great idea, that makes a ton of sense to add support for specifying the format in the config.
This would however require two new features:
- Add format in config file
- Add support for directing output to file instead of stdout

If anybody wanna tackle this, then command argument should have higher priority than config file setting.

[2019-10-02 12:42] danilocorrea87 commented on #276
Thanks for the feedback @olivernybroe .

I just wanted to take one more doubt, in theory I could import all my custom rules that are in my xml file to phpinsights, right?

Thanks! =)

[2019-10-04 07:42] #264 closed

[2019-10-06 20:25] danilocorrea87 commented on #278
I think this issue can be closed @Jibbarth = )

[2019-10-06 21:36] #278 closed

[2019-10-07 05:46] olivernybroe commented on #276
@danilocorrea87

Well, you can only add the ones which we have categorised into the different matrices. If it is not in one of them it cannot be added.
However if you have some rules you think we should include, you are more than welcome to PR them in 😄

A feature for adding a custom rule in a specific matrix from a config file would also be really cool to have, but is unfortunately not something

[2019-10-07 05:50] olivernybroe opened #284 "Add custom rules to a matrix in config"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes

This feature is to allow adding a custom rule inside a matrix from the config file.

Some users have closed source phpcs rules which they want to use together with our package or they simply wanna use a rule we do not acknowledge.
For allowing this, I think our config file should have the possibilit

[2019-10-07 11:12] danilocorrea87 commented on #276
Nice, thanks for the feedback @olivernybroe

I'll take a look at the project, I found it very cool.

[2019-10-10 09:15] akosglue opened #286 "exclude's in config file is ignored"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | dev-master , "reference": "8a60fbc1b847b81be85ca37e7632badcbf4bd7a4"

<img width="869" alt="insights" src="https://user-images.githubusercontent.com/17706334/66555462-fe6c5600-eb4e-11e9-85bf-065c1dcd26ed.png">

As seen in the screenshot, channels, console, Kernel is analyzed, how

[2019-10-10 09:46] akosglue commented on #286
I execute this: `php artisan insights -v`
I have seen that refactoring commit related to configurations, I thought as well that it is related.

[2019-10-10 09:47] akosglue commented on #286
I have just tried this one as well: `./vendor/bin/phpinsights -v`
But it is the same, excluded files and removed sniffs are ignored.

[2019-10-10 09:53] olivernybroe commented on #286
@akosglue Try running `./vendor/bin/phpinsights` where you specify the config file as a parameter instead and see if that works.

[2019-10-10 10:04] akosglue commented on #286
Well, that is indeed correct:
`./vendor/bin/phpinsights --config-path="config/insights.php"`
53 files analyzed.

without that option for the config:
`./vendor/bin/phpinsights -v`
72 files.

I have also installed a brand new laravel app with insights.
It seems to be okay there, even without specifying the config route.

So, most likely, it has something to do with my setup.

[2019-10-10 10:10] akosglue commented on #286
it is the content of the config:
`<?php

declare(strict_types=1);

use NunoMaduro\PhpInsights\Domain\Insights\Composer\ComposerMustBeValid;
use NunoMaduro\PhpInsights\Domain\Insights\ForbiddenDefineFunctions;
use NunoMaduro\PhpInsights\Domain\Insights\ForbiddenNormalClasses;
use NunoMaduro\PhpInsights\Domain\Insights\ForbiddenPrivateMethods;
use NunoMaduro\PhpInsights\Domain\Insights\ForbiddenTrai

[2019-10-10 11:24] olivernybroe commented on #286
Thanks for testing it out.

Hmm so you are saying something in your config is causing it to not work, but when you specify the config file as a parameter it works?

[2019-10-10 11:49] akosglue commented on #286
Yes, exactly.

[2019-10-10 12:19] olivernybroe commented on #286
@akosglue Not really sure why it isn't working with your config file specifically tbh.

[2019-10-10 12:22] akosglue commented on #286
The thing is that it works with --config-path and it works with a brand new installation.
I will investigate a little bit further, if anyone stumbles upon this problem.

[2019-10-10 19:38] akosglue commented on #286
Well, I reproduced the issue. I provide the steps below:

`composer create-project --prefer-dist laravel/laravel blog ^6`

`cd blog`

`composer require nunomaduro/phpinsights dev-master`

`php artisan vendor:publish --provider="NunoMaduro\PhpInsights\Application\Adapters\Laravel\InsightsServiceProvider"`

`php artisan insights`
(27 files analyzed)

`php artisan insights --config-path="config/insig

[2019-10-10 19:46] MrMadClown commented on #279
Would this be a valid Configuration?
[code]

What If I configure multiple Outputs to the same destination?

[2019-10-11 07:00] Jibbarth commented on #286
Thanks you @akosglue for this detailled issue :+1: I'll try to reproduce and fix it.

[2019-10-11 14:29] olivernybroe commented on #279
@MrMadClown Great question, what if we split it up in two fields instead?
[code]
If file is not supplied, then it goes to console instead.

However this could also be opened up for custom outputters instead. So we have a console output and a file output that both implements the output interface.
This would open up for if a user wanted to send the config file directly to a third party service, they

[2019-10-12 08:11] Jibbarth commented on #284
@olivernybroe Could you provide an example of what you think ? I'm not sure to understand :thinking:

[2019-10-12 16:13] olivernybroe commented on #284
Sure,

So let's say I have a custom sniff in my own project and I want to use that sniff with phpinsights.

Right now I cannot do this.

My suggestion is then that I can add this custom sniff to the config file. However the problem here is that we do not know what type of insight this is. So when I add the custom sniff I should also have the possibility to specify which type of insight it is.

Doe

[2019-10-12 16:29] akosglue commented on #286
Now it works as expected, thank you for the fix ;-)

[2019-10-12 16:29] #286 closed

[2019-10-12 20:29] olivernybroe commented on #286
Thanks for reporting it and detailed description :)

[2019-10-14 13:45] MrMadClown commented on #202
@olivernybroe I don't see the output anywhere. Not sure if this even triggers? Am I missing something?

![image](https://user-images.githubusercontent.com/12624410/66756067-83ca7000-ee99-11e9-96c6-c40ecae6082a.png)

[2019-10-14 15:53] olivernybroe commented on #202
@MrMadClown It doesn't trigger automatically, you have to run it manually :)

I have actually created a [plugin for phpstorm](https://plugins.jetbrains.com/plugin/13004-php-insights) which runs the tool automatically, which you also could use. (working on a update for it to work on newest version of phpstorm consistently)

[2019-10-15 07:14] Jibbarth commented on #284
Hmm :thinking:

When you speak about sniff, is that a Sniff that use PhpCodeSniffer for example ?

If your custom sniff implement Sniff or Insight interface, you can [add it](https://phpinsights.com/insights/#add-insights) into phpinsights.

For example, if I require [this package](https://github.com/sirbrillig/phpcs-variable-analysis), I can add it into configuration file like this :

[code]

Or

[2019-10-15 08:06] simobern opened #289 "PHP Insights takes about 2 minutes to complete the analysis"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.9

Running `php artisan insight` on Laravel 5.8 app takes about 2 minutes to complete the analysis for 166 files.

Time:
real    1m52.239s
user    0m18.047s
sys     0m21.774s

[2019-10-15 09:09] akosglue commented on #289
Just a side note to this: I have also experienced that recently the analysis became slower than before. However, I still can go on with it.

[2019-10-15 10:08] olivernybroe commented on #289
As more insights has been added, and now also support for phpcs fixer, the runtime is longer :)

However could you check that only the right files which you want analysed is running?

[2019-10-15 10:12] olivernybroe commented on #284
Oh yeah, haha my bad :D

I totally forgot that we had that feature 😂

Thanks

[2019-10-15 10:12] #284 closed

[2019-10-15 10:42] simobern commented on #289
Yes, I confirm that.

[2019-10-16 06:11] olivernybroe commented on #289
@simobern Thanks.

Hmm I think it would be good for somebody to look into the runtime and see what exactly is taking a long time, we might be able to do some clever stuff to reduce it.

Another solution might be to add a parameter to only run it on files with changes as you prob. often don't need to run it on all files, but only the files you changed.

[2019-10-16 06:18] olivernybroe commented on #277
@mikeerickson Looks like we forgot to bump the version number in our config file 😥

Hmm this is weird, it should be skipping it. I just created a new project and there it seems to work.

Could you add steps for reproducing it?

[2019-10-16 21:17] mikeerickson commented on #277
@olivernybroe I will install the latest build and give it a whirl.

[2019-10-17 07:16] MrMadClown commented on #202
@olivernybroe Oh right! It's not a File Watcher, for some reason I thought that.
Thanks for the plugin, I'll check it immediately.

[2019-10-18 21:10] JacobDB opened #290 "Disable sniffs locally"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.9

In some cases, I've run in to situations where I want to disable a sniff for a specific case, but not globally. For example, when writing WordPress filter, sometimes some additional parameters are required for the filter to function, even if those parameters are unused. It'd

[2019-10-18 21:50] olivernybroe commented on #290
You can disable a specific sniff for a whole file

[2019-10-19 12:23] Jibbarth commented on #237
It'll be available in 1.10 or now in dev-master ! Thanks for the issue :+1:

[2019-10-19 12:23] #237 closed

[2019-10-19 12:53] Jibbarth commented on #130
Seems fixed by #249

[2019-10-19 12:53] #130 closed

[2019-10-19 12:55] Jibbarth commented on #229
Fix will be available in 1.10 or now in dev-master ! Thank you @FFDevelopment for the issue :+1:

[2019-10-19 12:55] #229 closed

[2019-10-20 13:13] nunomaduro opened #294 "[2.0] huge leap forward"
This goal of this thread is to discuss the internal/external changes we want to address for a 2.0. Let us put the bar high and go even more opinionated concerning rules/preferences.

- [x] Auto fixer (#54)
- [ ] Error vs. warnings in sniffs (#254)
- [ ] PhpStan (#165)
- [ ] Reorganize sections/metrics
- [ ] Parallelization
- [ ] Bump dependencies

A board has been created for following the progres

[2019-10-20 13:17] nunomaduro opened #295 "bug: changes indicator with empty statement"
Just noticed the following issue while working with PHP Insights. @Jibbarth do you know what is it?

<img width="524" alt="Screenshot 2019-10-20 at 15 15 48" src="https://user-images.githubusercontent.com/5457236/67160049-b1596280-f34c-11e9-814f-948aa1d5b329.png">

[2019-10-20 13:25] olivernybroe commented on #294
I think we should consider this #254 also.

[2019-10-20 13:26] olivernybroe commented on #295
Pretty sure it's because it just want you to remove the empty line.
However it does look weird when it's an empty line it want you to change only.

[2019-10-20 13:27] nunomaduro commented on #294
@olivernybroe Can you add that to the list? are you able to edit my comment?

[2019-10-20 14:15] Jibbarth commented on #295
:thinking: Maybe we should add a dictionnary of messages for Fixer for some of them. Or increase the diff size. WDYT ?

[2019-10-20 16:07] Jibbarth commented on #295
Here it's how look when we increase diff size.
![image](https://user-images.githubusercontent.com/3168281/67162429-2edc9d00-f364-11e9-888f-3b895cffc99d.png)

@nunomaduro Is it better ?

[2019-10-23 16:25] yakryder opened #298 "[Question] What is the source for saying private methods in Laravel aren't idiomatic?"
On config generation, this was put in my `phpinsights` config:

[code]

A cursory google was unable to turn up a source for private methods not being idiomatic, and on the surface -- and admittedly as a php newcomer -- it seems strange to me.

[2019-10-24 05:54] olivernybroe commented on #290
Some sniffs can also be disabled with a doc comment #267.

If this does not solve your problems, please tell us what exactly you are looking for and we can reopen the issue.

[2019-10-24 05:54] #290 closed

[2019-10-24 16:17] ghost opened #299 "ForbiddenFunctionsSniff [Duplicate]"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.9.0

Just discovered that the ForbiddenFunctionsSniff is available in Style and Code.

[2019-10-25 09:49] nunomaduro commented on #299
Can you handle it? You just need to remove the respective insights from one section in the docs and the source code itself.

[2019-10-25 09:50] nunomaduro commented on #299
Here is an example: https://github.com/nunomaduro/phpinsights/pull/296/files.

[2019-10-25 16:47] FFDevelopment commented on #299
@nunomaduro In which part should it be removed? Style or Code?

[2019-10-25 16:48] nunomaduro commented on #299
What do you think? 👍

[2019-10-25 16:59] FFDevelopment commented on #299
I prefer to remove it in Style.

[2019-10-25 17:04] nunomaduro commented on #299
Correct! 👍

[2019-10-31 15:19] enumag opened #302 "False positive: Method does not need documentation comment"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.9.0

I got this report from PHPInsight:

[code]

The method in question looks like this:

[code]

The `@deprecated` annotation is necessary here in order to not let my team use this method in any new code. This case should not be reported.

[2019-11-04 12:55] olivernybroe commented on #302
One way to fix this is by adding the following setting to that sniff in your config file
`allAnnotationsAreUseful`.
https://github.com/slevomat/coding-standard/#slevomatcodingstandardtypehintstypehintdeclaration-

[2019-11-07 10:58] dmitryuk opened #305 "New release"
Hello, guys do you plan to rollout a new release? Where are interesting features which we are waiting so much and too long )
Thank you

[2019-11-07 23:20] nunomaduro commented on #305
I am going to review this weekend and release it. ✨

[2019-11-09 17:52] shrink commented on #254
Personally I'd like to see the score be consistent across the ecosystem and see `error` vs. `warning` differentiate whether or not the checks pass rather than how it impacts the score. A warning should impact the score _but_ not block commits (that is, it doesn't return an error code) whereas an error should impact score _and_ block commits (return an error code).

I think once we start configurin

[2019-11-12 02:29] dmitryuk commented on #305
No release yet (

[2019-11-14 12:47] enumag opened #307 "UnusedVariableSniff reports false positives"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.9.0

Ofc I know this sniff isn't yours but comes from https://github.com/slevomat/coding-standard. But I read somewhere that you don't want phpinsights to report false positives in which case you might want to consider disabling this sniff until it's fixed.

The problem is that

[2019-11-14 13:23] nunomaduro commented on #307
Can you try :

[code]

[2019-11-14 13:25] enumag commented on #307
Ah, the sniff actually is "fixed", but the fix is disabled by default. You need to set [this](https://github.com/slevomat/coding-standard/blob/5e698edfe9923b1fa797b407f83d211a406e1957/SlevomatCodingStandard/Sniffs/Variables/UnusedVariableSniff.php#L64) to `true`. I'd send a PR but I'm not quite sure where the default sniffs are configured.

No, `$_` does not work.

[2019-11-14 13:28] nunomaduro commented on #307
Yeah - send a pull request plz.

[2019-11-14 13:30] enumag commented on #307
Can you tell me where to configure this? I'm new to phpinsights so I'm not sure.

[2019-11-14 13:34] nunomaduro commented on #307
Here: https://github.com/nunomaduro/phpinsights/blob/master/src/Application/DefaultPreset.php.

[2019-11-14 13:53] nunomaduro commented on #307
Thanks.

[2019-11-14 13:53] #307 closed

[2019-11-14 13:54] nunomaduro commented on #305
cc @Jibbarth Do you think can you lead this? You have done most of the work in this release.

[2019-11-15 07:50] olivernybroe commented on #277
If this is still an issue then I'll reopen this issue 😄

[2019-11-15 07:50] #277 closed

[2019-11-15 07:51] olivernybroe commented on #295
I think this is better when talking about these simple line deletes, so users can actually see where to do it.

How does it look with all other diffs then?

[2019-11-15 10:53] Jibbarth commented on #305
Sure, I can do it tonight/tomorrow :wink:

[2019-11-16 12:25] Jibbarth commented on #305
Done :tada:

[2019-11-16 12:25] #305 closed

[2019-11-16 14:43] Jibbarth commented on #299
Fixed in 1.10 :+1:

[2019-11-16 14:43] #299 closed

[2019-11-16 14:44] Jibbarth commented on #240
Fixed in 1.10 :+1:

[2019-11-16 14:44] #240 closed

[2019-11-16 14:45] Jibbarth commented on #243
In 1.10 we can now pass folder in exclude config for an Insight :wink: Thanks for the suggestion :+1: