[2019-11-16 14:45] #243 closed

[2019-11-17 07:57] dominikzogg opened #315 "Argument 1 passed to NunoMaduro\PhpInsights\Domain\Insights\Insight::shouldSkipFile() must be of the type string, integer given"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | v1.10.0

Fatal error: Uncaught TypeError: Argument 1 passed to NunoMaduro\PhpInsights\Domain\Insights\Insight::shouldSkipFile() must be of the type string, integer given, called in /home/travis/build/chubbyphp/chubbyphp-doctrine-db-service-provider/vendor/nunomaduro/phpinsights/s

[2019-11-17 11:11] Jibbarth commented on #315
Thank you for reporting this @dominikzogg  :+1:  I created a PR to fix it

[2019-11-17 13:15] #315 closed

[2019-11-17 13:17] Jibbarth commented on #315
@dominikzogg Could you retry with 1.10.2 version ? Thanks

[2019-11-17 16:07] sudkumar commented on #315
@Jibbarth Thank you for the fix. I am using this inside a Laravel bootstrapped project. I tried the release `v1.10.2` but have similar/different 😕  issue

[code]

<details>

<summary>
Exception trace:
</summary>

[code]
</details>

Please let me know if you need any further details.

[code]

[2019-11-17 16:28] Jibbarth commented on #315
Hi @sudkumar ! Could you please open a new issue ? And provide your configuration file ? Thanks :+1:

[2019-11-17 16:37] sudkumar commented on #315
Alright. I thought it was similar. Sorry. I will open a new one.

[2019-11-17 16:46] sudkumar opened #318 "Argument 1 passed to Configuration::resolveIde() must be of the type string, null given"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 10.2.0

I am using this inside a Laravel bootstrapped project. After installation and exporting configuration, when I excecute `php artisan insights`, I get following errors

[code]

<details>

<summary>
Exception trace:
</summary>

[code]
</details>

### Config

I am using the d

[2019-11-17 16:54] Jibbarth commented on #318
Thank you for this detailled issue. The bug seems related to `'ide' => null` in the config file.

I'll add a fix for this :wink:

[2019-11-17 16:55] sudkumar commented on #318
Okay. Thanks. Let me give it a try by changing it to something else.

[2019-11-17 16:59] sudkumar commented on #318
Yes indeed. That is the issue 😄 . Changed it to `macvim` and it is working.

[2019-11-17 17:02] Jibbarth commented on #318
Great ! I find a way to fix this bug anyway, we should handle the null value as we provide it ! Thanks again :+1:

[2019-11-17 17:03] sudkumar commented on #318
That was quick. 🍻 Thank you.

[2019-11-17 17:56] MrMadClown commented on #294
I've started tinkering with running the analysis in [parallel](https://github.com/MrMadClown/phpinsights/tree/feat/parallel-analyser). Would this be something you guys would want to have for 2.0?

[2019-11-17 20:17] olivernybroe commented on #294
@MrMadClown Sure that would really be a nice feature for v2.0. I would be up for merging that in v2.0

[2019-11-17 20:52] #318 closed

[2019-11-21 22:54] kyobul opened #321 "Config reading and error handling"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.10.3

Laravel 6.5, Laragon local server on Windows 10, command line with Cmder. PHP is 7.3.11

1st problem : When using` .\vendor\bin\phpinsights.bat` command : all directories and files in _config/insights.php exclude[]_ are ignored (which is unexpected). When errors are encou

[2019-11-22 09:53] olivernybroe opened #322 "Hangs on some invalid php code"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | master

When running phpinsights on the following code snippet, it hangs.

[code]

Normally in other scenarios it throws a parse error exception, however in this scenario
it just hangs up the terminal.

Reported in #321, but separated to its own issue.

[2019-11-22 09:56] olivernybroe commented on #321
Thanks for reporting the issues!

1. This is actually not a bug. Phpinsight can be run without Laravel, so if you run the .bat file directly, you will have to pass in the path to the config file when running it through the .bat file.

2. Good catch, have not experienced this myself. Normally it throws a parse error, however in that specific scenario it just hangs. I have opened an issue with it #3

[2019-11-22 14:33] robsontenorio opened #323 "[IDEA] Badges like Shields.io"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes

How about phpinsights to provide natively nice badges like shields.io ? Something like to expose some a dedicated route to expose this rendered images.

[2019-11-22 18:43] nunomaduro commented on #323
That would be badass.

[2019-11-22 18:49] olivernybroe commented on #323
Do you have any idea on how we could do that?

We might be able to pull it off if a user runs it in a Github action.
We can at least make a formatter which formats to badges, so implementing the showing of the badges are easier.

[2019-11-27 09:49] celcius-jochen opened #325 "Argument 1 passed to NunoMaduro\PhpInsights\Domain\Insights\Insight::shouldSkipFile() must be of the type string, int given"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.11.0
| PHP version  | 7.3.5
| OS version  | Microsoft Windows 10 Home (10.0.17763)

Similar to #315 and #318 I'm still getting the following error (tested with custom and default config):
[code]

[2019-11-27 09:57] nunomaduro commented on #325
@Jibbarth Could you double check this buddy? 🙏

[2019-11-27 10:15] Jibbarth commented on #325
Thank you for reporting this issue @celcius-jochen

Could you provide your config file and how you launch the analyse ?

[2019-11-27 10:51] celcius-jochen commented on #325
I did some debugging and here's what I found so far:

The function `filterFilesWithoutExcluded()` is receiving an array of files, in my case:

[code]

Then `array_filter()` is called with the flag `ARRAY_FILTER_USE_KEY`.

[code]

This results in `shouldSkipFile()` receiving 0 and 1 (the array indices) instead of the value.
Removing the flag solves the error.

[code]
Then I noticed the following co

[2019-11-27 12:22] Jibbarth commented on #325
Okay I see. You use the laravel preset, that exclude final classes.

The bug is so located in [ForbiddenFinalClasses.php#L27-L29](https://github.com/nunomaduro/phpinsights/blob/master/src/Domain/Insights/ForbiddenFinalClasses.php#L27-L29=).

@celcius-jochen Do you want to provide a fix for this ? You can see #316 for inspiration.

If you cannot, no problem, I'll provide a fix tonight :wink:

[2019-11-27 13:11] celcius-jochen commented on #325
That's more than inspiration, I call it copy/paste 😅
Thanks for the quick response and help!

[2019-11-28 20:16] Jibbarth commented on #323
We could also use directly shields.io to generate badge :
`https://img.shields.io/badge/PHPInsights%20%7C%20Code%20-95.7%25-success.svg`

![](https://img.shields.io/badge/PHPInsights%20%7C%20Code%20-95.7%25-success.svg)

`https://img.shields.io/badge/PHPInsights%20%7C%20Style%20-61%25-yellow.svg`

![](https://img.shields.io/badge/PHPInsights%20%7C%20Style%20-61.9%25-yellow.svg)

`https://img.shiel

[2019-11-29 08:16] olivernybroe commented on #323
@Jibbarth Haven't used artifacts before with github actions, but thought that it might be possible with artifacts.
It depends kinda on how artifact url's are generated :)

[2019-11-29 16:07] olivernybroe commented on #323
So the artifacts have a random id and currently there is no API for artifacts. There are issues open for it and let's hope they add it in soon.
A solution could be to use a image hosting API which have support for replacing an image, so the URL for the image doesn't change. We need it to not change, so the readme doesn't have to be updated with a new url.

[2019-12-01 17:08] Jibbarth commented on #325
Thank you for reporting this issue and also fixing it @celcius-jochen :heart:

It's now fixed in v1.11.1 :muscle:

[2019-12-01 17:08] #325 closed

[2019-12-01 19:52] ghost opened #329 "phpinsights by composer"
Hi,

is there a reason why phpinsights is currently not being delivered via the composer update function?

Since version 1.10.0 I have the feeling that I always have to require a new version by `composer require nunomaduro/phpinsights:(version) --dev`.

[2019-12-01 19:56] nunomaduro commented on #329
Can you show me your `composer.json` file?

[2019-12-03 11:13] fredericbarthelet opened #331 "Composer/composer required version clashes with sf 5"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.11.1

Hi,

PhpInsights current version requires `"composer/composer": "^1.7"`
Composer versions 1.7 to 1.9.1 (latest on v1 master) requires :
[code]

This prevents SF 5 installation.

Composer version 2.x release now supports symfony v5 versions for all before mentioned package

[2019-12-03 12:43] nunomaduro commented on #331
@fredericbarthelet Yes - you can work in a pull request for this. Thanks!

[2019-12-05 02:41] chrisgraham opened #333 "Fails on empty namespace"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.11.1

This fails:

[code]

I think it's because you expect a name, e.g.

[code]

Fix by replacing:
[code]
with:
[code]

[2019-12-08 18:33] aocneanu opened #334 "Does not work with a `namespace()` method name"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.11.1

Hello,

If I use insights on a class that has a method called `namespace()` the following error is thrown

[code]

Thank you for this awesome package!

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  https://www.patreon.com/nunomadu

[2019-12-09 07:51] olivernybroe commented on #333
Thank you for analysing this error and providing a fix for it.
You are more than welcome to submit a PR with it if you are up for it.

[2019-12-09 07:53] olivernybroe commented on #329
Haven't been able to reproduce this.
If this keeps happening, then please provide some details like the `composer.json` and we can reopen this issue.

[2019-12-09 07:53] #329 closed

[2019-12-09 22:22] chrisgraham commented on #333
I was just testing different lints and felt an obligation to report any issue(s) found - but I don't have time to invest in actively pushing code to projects, sorry.

[2019-12-09 22:29] olivernybroe commented on #333
@chrisgraham No worries. Thanks for reporting.
Just wanted to give the opportunity now that you also provided a fix for it 😃

[2019-12-13 18:00] sierrafayad opened #336 "[Proposal] Color for file:line when no FileLinkFormatter is set"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes/no
| Library version  | 1.11.1

I was using insights without setting an IDE (even if set, it doesn't work on Windows 10 anyway, I'm using cmder) and noticed that it would be nice to have the file:line clearly differentiated from rest of the line

Default color from `formatFileLine`
![image](https://u

[2019-12-14 08:30] olivernybroe commented on #336
I like the idea a lot :smiley:
What about using different colors for each insight category? This way you can also quickly see if you scrolled to a new category of issues.

@caneco any great ideas for colors? :pray:

[2019-12-16 01:43] sierrafayad commented on #336
We would need to modify the `formatFileLine` signature to get the current category and add a default argument, maybe something like this,
`formatFileLine(Details $detail, string $directory, string $category = '')`

I'm not quite sure where should the getter for the category based color should go, or if it can just be a function inside `Application\Console\Formatters\Console.php` something like
`ge

[2019-12-16 07:33] olivernybroe commented on #336
@sierrafayad Sounds great.
Yep it should just be a method inside `Console` as the coloring right now is only something we use for console output.

Why don't we wanna change the color if there is a `FileLinkFormatter`?

[2019-12-16 14:57] sierrafayad commented on #336
Good question! I'm not sure if the link would override the color or if coloring it would mess with the link.
I don't have a system to test that at the moment but I will set up something later today and test that.

[2019-12-19 10:16] acurrieclark opened #338 "Is DisallowArrayTypeHintSyntaxSniff still valid?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.11.1

In the latest [PSR-5 fig standards for PHPDoc](https://github.com/php-fig/fig-standards/blob/master/proposed/phpdoc.md#abnf), the format for array typing has been updated to use the:

[code]
rather than the
[code]
format.

The former is also the preferred format for the P

[2019-12-19 10:51] nunomaduro commented on #338
For me both are wrong, that should be:

[code]

cc @Jibbarth @olivernybroe

[2019-12-19 11:24] acurrieclark commented on #338
Well, there is a lesson learned. I should have read the PSR-5 draft more clearly.

Thanks for the feedback.

[2019-12-19 11:24] #338 closed

[2019-12-20 02:27] sierrafayad commented on #336
Sorry for the delay, coloring a link doesn't seem to affect the behavior.

[2019-12-31 11:34] d8vjork commented on #290
@olivernybroe Sorry for replying here, but how about disabling a specific sniff for a path/directory or a pattern? This is an example of what I'm trying on my Laravel (which makes more sense to be under the preset rather than setup this on each of my Laravel based projects):

[code]

[2020-01-03 12:49] shandyDev opened #340 "PHP 7.4 support && slevomat/coding-standard"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | latest

Hi,
How about update dependencies slevomat/coding-standard to 6.0 https://github.com/slevomat/coding-standard/releases ?
It have only 2 BC sniffs.

[2020-01-03 14:04] olivernybroe commented on #340
Sounds like a good idea. You are welcome to create a PR 👍

Doing this change, we would prob. have to do a BC ourself, as users could have custom stuff for those sniffs.

[2020-01-05 01:37] schrapel commented on #340
Just noticed this error when trying to install `symplify/easy-coding-standard`

[2020-01-05 03:23] schrapel opened #341 "Add support for phpro/grumphp"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes

It would be great if we could create an extension to run phpinsights on commit with a grumphp task

https://github.com/phpro/grumphp

[2020-01-05 12:12] nunomaduro commented on #340
What error?

[2020-01-05 16:28] schrapel commented on #340
@nunomaduro Sorry for not being clear. Just composer install conflicts not an actual error with either packages. The package I mentioned above already requires ^6.0

https://github.com/Symplify/EasyCodingStandard/blob/master/composer.json#L26

[2020-01-07 08:38] olivernybroe commented on #341
I don't know that much about grumphp, but as far as I understand, for adding support for grumphp, it has to be added to grum, not phpinsights right?

[2020-01-07 14:05] schrapel commented on #341
You can create extensions yourself but if you're not interested in containing that in this repo. Happy to close this issue out. I have some time next week to work on this so can either do a PR here or on Grumphp (with a link in the README if you would allow that)

https://github.com/phpro/grumphp/blob/master/doc/extensions.md

[2020-01-09 14:51] olivernybroe commented on #341
@nunomaduro what do you say about this, is this something we want to maintain or should we leave it to grumphp to maintain?

[2020-01-09 15:14] nunomaduro commented on #341
I don't use that tool myself. I would prefer them to maintain that.

[2020-01-09 15:14] #341 closed

[2020-01-09 16:24] olivernybroe commented on #341
@schrapel thanks for open the issue. We would appreciate a lot if you created a pr on grumphp for this. :smile:

[2020-01-17 08:42] olivernybroe commented on #336
@sierrafayad Totally!
Sorry for forgetting to follow up on this. 😄

[2020-01-17 09:53] Aerendir opened #343 "Dependencies hell: conflicts not easy to solve"
I'm trying to install PHPInsights in my project, but it is not possible due to some conflicts on `phpstan/phpdoc-parser`.

This is the log:

[code]

The problem is that `slevomat/coding-standard:^5` requires `phpstan/phpdoc-parser:^0.3.1`.

But I have `Rector:^0.6` installed that requires `phpstan/phpdoc-parser:^0.4`.

So, until the version of `slevomat/coding-standard` is fixed on `0.3`, for me i

[2020-01-17 10:11] olivernybroe commented on #343
In PR #342 We are working on adding support for slevomat version 6.

In the meantime you can install it with the alternative solution given in the [docs](https://phpinsights.com/get-started.html#avoid-composer-conflicts).

[2020-01-17 10:13] olivernybroe commented on #343
I'll close this, as to be it seems to be a duplicate of #340, but thanks for raising the issue. 😄

[2020-01-17 10:13] #343 closed

[2020-01-20 14:30] sierrafayad commented on #336
Closing, as it was Merged 😃

[2020-01-20 14:30] #336 closed

[2020-01-29 22:05] axit-joost opened #345 "Proposal: disable output of progress bar via CLI option"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.11.1

I'm trying to run phpinsights in a pre-commit hook, using husky and lint-staged. While that does work, the Progress Bar is appended to the console output:

[code]
I would like to propose the addition of a command line argument to disable the progress bar. Alternatively, I

[2020-01-30 17:13] olivernybroe commented on #345
Hi, thanks for using the tool!
What you a proposing is actually already possible :smile:
We use the stderr for progress bar and other unrelated information for the result, so simply by only looking at stdout you will get the results alone.

Is that something you can use with your setup? I do not use those tools myself.

[2020-01-30 17:41] #340 closed

[2020-01-30 17:42] nunomaduro commented on #340
The version `v1.12` is out, and fixes this issue.

[2020-01-30 19:28] dominikzogg opened #346 "Build failed cause its done with PHP 7.4"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.12.0

I test my libraries with PHP 7.2, 7.3 and 7.4. The start failing cause `SlevomatCodingStandard\Sniffs\TypeHints\PropertyTypeHintSnif` was added by default. Would be cool if this sniff would be disabled by default or at least if the min version within composer.json is less

[2020-01-30 21:59] nunomaduro commented on #346
@dominikzogg maybe you can add a if condition here? https://github.com/nunomaduro/phpinsights/blob/9a04c09c97364f127a5350e08410c6819eb1283c/src/Domain/Metrics/Code/Comments.php

[2020-01-31 05:40] olivernybroe commented on #346
@dominikzogg A quick fix you can do in your config file is adding
[code]

[2020-01-31 06:14] dominikzogg commented on #346
@nunomaduro all my libraries / projects which using phpinsights and probably many more have this issue now. Would prefer if you would revert this as a default, and then searching for a better solution.

[2020-01-31 06:16] dominikzogg commented on #346
@olivernybroe thanks for the suggestion, but i think there are many libraries / projects out there having this issue now.

[2020-02-02 23:42] jrmadsen67 opened #350 "File/File.php calls activeSniff before it is set"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | ^1.7

Tracing this, the problem seems to be:
- Domain/File.php -> parse() is called at the top of -> process()
- in my case, it is choking on the line ending check, which calls ->addWarningOnLine(), which in turn calls -> addMessage() BUT...
- -> addMessage() is overwritten in Do

[2020-02-05 20:50] 50bhan commented on #322
@olivernybroe I looked into this bug. It seems the "slevomat coding standard package" will throw a fatal error and because of using "@" for suppressing errors, no errors will thrown and it just hung up.

[2020-02-06 07:21] olivernybroe commented on #322
@50bhan Thanks for looking into this.

Seems like the solution of suppressing errors might not be viable enough then. The reason the `@` notation was used, is because when a php file it is trying to evaluate has for example an unclosed php comment, it gives warning messages in the terminal. However we don't want those, we want an insight telling us this instead.

[2020-02-06 07:26] #345 closed

[2020-02-06 07:27] #333 closed

[2020-02-06 21:24] joostsolvari opened #354 "Only process changed files when using Github Actions"
| Q                | A
| ---------------- | -----
| Bug report?      |no
| Feature request? | yes
| Library version  | 1.12.0

Dear community,

Does anyone have found a way to only process changed files in a PR when using Github Actions? Would love that.. my tests take > 20 min :')

Would be nice to explain on https://phpinsights.com/continuous-integration.html#disable-security-check

Thanks in ad

[2020-02-07 07:44] olivernybroe opened #355 "Specify multiple files/folders on input"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | master

Right now we support supplying a folder or directory, to specify where the tool should run on. However it does not support specifying multiple files/folders.

I propose a syntax like so
[code]

Where I see the most problems with this change is all the places we use `Confi

[2020-02-07 07:52] olivernybroe commented on #354
This is currently not possible, but seems like a nice feature to have 👍

[2020-02-07 18:50] Jibbarth commented on #354
Yes it's a real need to launch analyse on a list of file, instead a directory or one file.

[2020-02-10 07:40] olivernybroe commented on #354
I opened a issue #355 for multi files/ folders. I think adding support for that first, will make adding support for this much easier.

[2020-02-10 08:25] olivernybroe commented on #346
A solution for this has now been merged into master.

[2020-02-10 08:25] #346 closed

[2020-02-13 13:58] olivernybroe opened #361 "Add min-requirements to config file"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes

Add a new array to config file specifying to minimum requirements.

## Details
Right now the min requirements can only be supplied as running arguments, however as the same values are often required for these, I think they should be added to the config file.

Our Configuration class should then have

[2020-02-15 10:03] devyk commented on #361
I would be glad to dive in. I'll start working work on this issue.

[2020-02-17 14:20] liepumartins opened #363 "False positive "Unused private elements""
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.13.0

Following example, methods are just to mimic the behaviour.
[code]

Insights reports incorrectly, that `dateTime()` is unused:
[code]

[2020-02-17 14:31] olivernybroe commented on #363
Thanks for reporting the issue.

We are using [`SlevomatCodingStandard.Classes.UnusedPrivateElements`](https://github.com/slevomat/coding-standard#slevomatcodingstandardclassesunusedprivateelements-) for checking this, so could you post it on their GitHub issues also, as it technically is an error in their sniff.

However for this project, we might consider if this sniff is too unreliable and disa

[2020-02-27 09:08] olivernybroe opened #365 "Add TLint wrapper"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes

@tightenco created a linting tool called Tlint, which has a bunch of helpful linters for Laravel and PHP.

It looks pretty straightforward to make a wrapper to support their linters.

You can check out what they have available here https://github.com/tightenco/tlint#available-linters.

[2020-02-28 08:56] zgosalvez opened #367 "Complexity Fails Even with Config Override"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.13.0

CLI no longer show specific errors, but it still shows a low complexity score.

[code]
In my <kbd>config/insights.php</kbd> file, I have
[code]
Given that this is the only metric for complexity, it should already pass. *Note:* It also doesn't work if I include `Cyclomatic

[2020-02-29 10:23] aocneanu commented on #367
I'm experiencing the same issue.

It's also failing if I add an 'exclude' array in the sniff's config of the affected files.

[2020-03-03 07:40] liepumartins commented on #363
Looks like this won't be fixed https://github.com/slevomat/coding-standard/issues/905

[2020-03-03 08:52] olivernybroe commented on #363
What a shame 😢
I'll keep this issue open as we might be able to solve it on our side.
Maybe by replacing it with a phpstan rule if/when we get support for phpstan or some other tool.

[2020-03-03 17:07] leasophiiie opened #368 "Laravel 7 support"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.13.0

I would like to know, what about the support for Laravel 7? @nunomaduro @Jibbarth @olivernybroe

[2020-03-03 18:40] nunomaduro commented on #368
@leasophiiie Why you say that there is no support?

[2020-03-03 19:42] leasophiiie commented on #368
Because of this
[code]

[2020-03-03 22:23] owenvoke commented on #368
Yeah, looks like [`phploc/phploc`](https://github.com/nunomaduro/phpinsights/blob/bb9cf393d26d0a89742d90e181bf8ba3073f00f6/composer.json#L23) needs to be bumped to include `v6.x` :thinking: However, `v6.x` [dropped support for PHP 7.2](https://github.com/sebastianbergmann/phploc/blob/master/ChangeLog.md#600---2020-02-20), so I guess it would need to be `^5.0|^6.0` however, that would mean that any

[2020-03-04 14:38] #368 closed

[2020-03-04 20:10] Jibbarth commented on #368
On a fresh install of laravel7 (ie `composer create-project --prefer-dist laravel/laravel blog`) we have the same behaviour, with `dev-master` on php 73 or 74 :disappointed:

[code]

## To fix

First, upgrade phpunit to v9.0:

[code]

Then, you can install phpinsights:

[code]

### For Symfony5 users

Unlike laravel, symfony/skeleton or symfony/website-skeleton came with a minimum-stability to `st

[2020-03-05 07:07] olivernybroe commented on #368
@Jibbarth auch, that's not the most user friendly way. Maybe we should look into if we can drop composer dependency?

[2020-03-05 07:50] olivernybroe opened #370 "Add support for custom presets"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes

Right now we can create custom configuration based on presets, however I think it would be worth allowing custom presets.
This would mean opening up the `Preset` interface so for example a framework could maintain their own Preset file and users can then use the preset, just by pointing their preset

[2020-03-05 12:11] #361 closed

[2020-03-05 13:02] Jibbarth commented on #368
@olivernybroe I already tried to rewrite the validate part of ComposerMustBeValid but it's a huge feature :disappointed:

Maybe, as it was proposed on your PHPStan PR, we could parse the result of `composer validate` command and create Details with the results.

For the ComposerLockMustBeFresh, I think it's easier to recode, because it's based on a hash (don't remember which type) of the `composer

[2020-03-05 14:57] olivernybroe opened #371 "[Discussion] Generating coding style document"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes

So I have this idea of automatically generating a coding style document based on what insights you have added.

Basically it would gather all insights you have and return a website with information about each insight. This would allow companies to easily create a coding style document and at the sam

[2020-03-06 08:08] olivernybroe commented on #165
Alright, so after I tried adding support for phpstan I ran into multiple issues and backwards compatibility things.
I think we if should add support for phpstan we have to do it by running their tool directly, not hacking into their tool.

However, phpstan's errors are missing which rule the error came from https://github.com/phpstan/phpstan/issues/3065.

[2020-03-06 08:10] #322 closed

[2020-03-06 08:17] 50bhan commented on #334
@olivernybroe I think this issue can be closed, right?

[2020-03-06 08:44] #334 closed

[2020-03-06 09:05] olivernybroe commented on #350
I have not been able to reproduce this.
Is this still happening for you?

[2020-03-06 22:04] shrink commented on #368
When will this be released -- so that we don't need to use `dev-master`? Thanks! :-)

[2020-03-06 22:50] jrmadsen67 commented on #350
Hi Oliver!

To trigger this error you will need to have a file with mixed line endings, to trigger this warning in code_sniffer/ Files/File.php

![image](https://user-images.githubusercontent.com/821958/76128582-0d94f880-6048-11ea-822a-9f488fbbd999.png)

One that is triggered, I think it is easier to make sense of my notes above - you'll see that the way Insights has overridden `addMessage()`, it

[2020-03-07 13:39] Jibbarth commented on #371
I really like the idea to generate a CodingStandard rules on a website.

However, maybe it a little bit "out of scope" of the package ? In my mind, it would be awesome to have something like a Wrapper around PHPInsights that could generate this.
We give it a `phpinsights.php` configuration in input and it generate the website.

For describing good and bad code, this wrapper can contains a "base" f

[2020-03-07 13:46] Jibbarth commented on #370
:+1: I'm totally okay with this feature request !

[2020-03-07 13:49] nanawel commented on #331
Hi, is there an estimated date for this PR?

[2020-03-07 13:51] nunomaduro commented on #331
@nanawel what do you mean?

[2020-03-07 14:10] nanawel commented on #331
Sorry, I was wondering when the incompatibility with sf5 packages would be resolved. I thought I couldn't install the latest version of phpinsights because of this incompatiblity, but the error I was having turned out to be because of another dependency issue.
You can ignore my question :) Thanks

[2020-03-07 21:32] eusonlito commented on #23
Hi @nunomaduro, I'm using Laravel. There are any option on `config/insights.php` to set option as fixed?

[2020-03-10 00:59] garrettgjb opened #375 "Laravel 7 release"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version? | master

This library has not been released since updating to laravel 7. Can someone release it?

[2020-03-10 01:01] nunomaduro commented on #375
I gonna to double check this tomorrow.

@szepeviktor @olivernybroe @Jibbarth sorry to ping and for being lazy in not check open issues. But there is anything blocking here? If not, I can do the release tomorrow.

[2020-03-10 01:09] szepeviktor commented on #375
I have no clue :) Go on!

[2020-03-10 03:52] garrettgjb commented on #368
@shrink https://github.com/nunomaduro/phpinsights/issues/375

[2020-03-10 06:31] Jibbarth commented on #375
@nunomaduro check https://github.com/nunomaduro/phpinsights/issues/368#issuecomment-594808048

I tested installation on a fresh install of laravel but we still have conflict 😥 I don't know how we can fixe them directly

[2020-03-10 06:40] owenvoke commented on #375
@Jibbarth, what version of PHP are you installing with?

[2020-03-10 06:43] Jibbarth commented on #375
@owenvoke I tested on php73 and php74. Maybe I'm wrong, I'll retry 😅

[2020-03-10 07:12] olivernybroe commented on #23
@eusonlito Currently no,

However not sure if that also belongs in the config file or simply a custom command.

You could for example in Laravel create a new command which runs php insights with the arguments you want. However, I would recommend you to open a new issue with this, and we can discuss it. 👍

[2020-03-10 08:08] Jibbarth commented on #375
Yup, I still have issue :slightly_frowning_face: @owenvoke You didn't reproduce it ?

[2020-03-10 08:08] owenvoke commented on #375
Currently on a train, but I'll check shortly. 👍

[2020-03-10 08:48] olivernybroe commented on #371
@Jibbarth Yeah so I also thought about writing an extension package for php insights to add this.

So my thought was that we write the standard text, but users should be able to overwrite it. Maybe in a config file, like so:
![Carbonize 2020-03-10 at 09 45 03](https://user-images.githubusercontent.com/5870441/76294798-d1fe6680-62b3-11ea-8e15-3f47d858d8b0.png)

However I think in like 99% of the ti

[2020-03-10 08:58] eusonlito opened #376 "[Laravel] Allow to set command parameters from config file"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.13.0

Related with https://github.com/nunomaduro/phpinsights/issues/23 will be a great idea to allow set all commands parameters from `config/insights.php` when is used with `php artisan insights`.

Maybe something like:

[code]
or
[code]
Parameters from command line must overw

[2020-03-10 08:58] eusonlito commented on #23
@olivernybroe ok! done in https://github.com/nunomaduro/phpinsights/issues/376

[2020-03-10 09:02] olivernybroe commented on #375
I just tested on php7.4 and it also gives dependency problems for me when using a fresh laravel installation.

[2020-03-10 09:11] olivernybroe commented on #376
Hmm, I think passing it like that would be easy, but also quite limiting.
For example the `-d memory_limit=2000M` wouldn't work, as that has to be supplied before the file.

It might be worth doing something like this
![Carbonize 2020-03-10 at 10 09 51](https://user-images.githubusercontent.com/5870441/76296945-4b4b8880-62b7-11ea-98c3-15b8cddc71a0.png)
as that is also what we have done with other

[2020-03-10 09:13] owenvoke commented on #375
Looks like it might be an issue with PHPUnit? PHPUnit 8 requires `sebastian/version ^2.0.1`, whereas PHPUnit 9 uses `sebastian/version ^3.0` 🤔

By default, Laravel apps require `^8.5.2`, so PHPUnit 9 won't install. By updating Laravel's `composer.json` to use `^8.5.2|^9.0`, PHP Insights is then installable. But not sure that's really right as a workaround. 😬

[2020-03-10 09:17] eusonlito commented on #376
Would be great, but my idea is set the parameters on config file as similar as console to avoid to users to know how to map console parameters on config file and to avoid to phpinsights developers create new docs with parameters to config map and code conversions.

But, for me, is great :)

[2020-03-10 11:05] nunomaduro commented on #371
This would be dope.

[2020-03-10 11:30] olivernybroe commented on #371
@nunomaduro What approach do you think is best? Doing it as a separate package or building it into phpinsights?

[2020-03-10 11:44] nunomaduro commented on #371
I think should be a different package.

[2020-03-10 14:29] olivernybroe commented on #371
Alright, so I generate some vuepress files and do it that way, right now the configuration looks like this
[code]
Cases like this has to be added in for all sniffs, this is our internal configuration file. User's should then be able to have their own configuration file, where they can overwrite whatever they feel like. (they will prob. just overwrite, `title`, `description` and `short_description`

[2020-03-10 17:22] owenvoke commented on #375
Also, a heads up, `composer/composer 1.10.0` just released, so `minimum-stability` can be set back to stable instead of RC. 👍

[2020-03-10 19:01] nunomaduro commented on #375
@owenvoke Gonna work on the release right now!

[2020-03-10 20:12] Jibbarth commented on #331
As composer:v1.10.0 is [released](https://github.com/composer/composer/releases/tag/1.10.0), the compatibility between SF5 and PHPInsights is now ok on dev-master :raised_hands:

[2020-03-10 20:12] #331 closed

[2020-03-10 20:53] nunomaduro commented on #375
The version `v1.14.0` is out.

[2020-03-10 20:53] #375 closed

[2020-03-10 20:54] nunomaduro commented on #294
@MrMadClown did you study the parallel stuff?

[2020-03-11 07:46] mbalandis commented on #375
@nunomaduro

[code]

still as of v1.14.0. I cannot install it on Laravel 7. But the error is much much shorter now. Any ideas?

[2020-03-11 07:53] owenvoke commented on #375
@mbalandis, are you using PHPUnit 9? 🙂

[2020-03-11 07:54] Jibbarth commented on #375
@mbalandis Please look here: https://phpinsights.com/get-started.html#within-laravel

You need to first upgrade phpunit to v9

[2020-03-11 08:01] mbalandis commented on #375
@owenvoke @Jibbarth
phpunit 9 doesn't install as well.

[code]

but I believe there might be some package in my way. Thanks for help :)

[2020-03-12 15:50] dingo-d commented on #35
Yeah, I can confirm that running this as is in a WordPress project will fail on the PHPCS sniffs

[code]

Not sure if `vendor` folder should be included or not when running the checks.

[2020-03-12 19:20] hwmatthewa opened #379 "Argument 1 passed to NunoMaduro\PhpInsights\Domain\DetailsComparator::__invoke() must be an instance of NunoMaduro\PhpInsights\Domain\Details, string given"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14.0

The exception in the title was thrown while running the following command:
`
/home/HWLibs/Classes/vendor/nunomaduro/phpinsights/bin/phpinsights analyse --config-path=/home/.ci/phpinsights.php /home/HWLibs/Classes | tee phpinsights.txt
`

The exception is thrown during the

[2020-03-13 09:49] olivernybroe commented on #379
I was not able to reproduce it based on the following information.
Could you share instructions on how to reproduce, it might be something with some specific code in a file.

[2020-03-13 10:24] olivernybroe commented on #35
@dingo-d The vendor folder should be excluded, however we should already have code that does this.
We don't scan the vendor folder, as that is not code you have written.

[2020-03-13 10:32] dingo-d commented on #35
Yup, noticed that there is a default exclusion list. I'll try to debug why the scan fails on non-bedrock projects.

[2020-03-13 11:43] enumag opened #380 "Disable insight for path"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.14.0

I'd like to disable some insights but only for a subset of classes and leave them enabled elsewhere. Maybe it's already possible but I can't found it in the [docs](https://phpinsights.com/insights/).

Use case:

One thing I really like is the `NunoMaduro\PhpInsights\Domai

[2020-03-13 11:47] olivernybroe commented on #380
Hi, take a at https://phpinsights.com/insights/#configure-insights-2

I think that might be what you are looking for.

[2020-03-13 11:49] enumag commented on #380
yes you're right... should have looked more carefully

thanks

[2020-03-13 11:49] #380 closed

[2020-03-13 12:14] olivernybroe commented on #380
No problem 👍

[2020-03-14 08:12] sciracioglu opened #381 "when install this, i got errors"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | x.y.z

i got this error.

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for symfony/console (locked at v5.0.5) -> satisfiable by symfony/console[v5.0.5].
    - Conclusion: don't install phploc/phploc 5.0.0
    -

[2020-03-14 17:28] nunomaduro commented on #381
PHP Insights requires PHP 7.3+, and PHPUnit 9.0+. Do you have those?

[2020-03-16 09:15] olivernybroe commented on #294
How should we proceed with stuff that is V2 and stuff that is fixes for V1?

I suggest using master branch for V2 and then create a branch named `1.x`, which is for V1 stuff.

[2020-03-16 09:18] olivernybroe commented on #379
Closing because not reproducible, when more info is given, we can re-open.

[2020-03-16 09:18] #379 closed

[2020-03-16 09:20] nunomaduro commented on #294
@olivernybroe Agree. Let's do it.

For info, soon I will start to deprecate all the Symfony 4 related stuff. And we will target `php 7.4`. What do you think?

[2020-03-16 09:20] olivernybroe commented on #371
I actually have a working example in my thesis project repository.
The PR can be found here https://github.com/worksome/phpinsights-app/pull/16

This repo does not only contain stuff for generating coding style.

Closing this issue as it is out of scope for phpinsights.

[2020-03-16 09:20] #371 closed

[2020-03-16 09:25] olivernybroe commented on #294
@nunomaduro Agreed.

We already sorta require `php 7.3`, so I think it's a good idea for v2, to target `php 7.4` and possibly also only `Laravel 7` and up. I would be fine with dropping Symfony 4, @Jibbarth do you have any say against this?

[2020-03-16 18:43] Jibbarth commented on #294
I'm :+1: to move forward.

But, from an enterprise point of view, lot of projects can still be targetting sf4.4 (as it's LTS).

Regarding changelog for main SF component, I didn't see any big feature that force us to drop SF4.4 for them ([console](https://github.com/symfony/console/blob/master/CHANGELOG.md) and [finder](https://github.com/symfony/finder/blob/master/CHANGELOG.md)).
For Finder, upgr

[2020-03-17 04:30] shawnlindstrom commented on #381
PHPUnit 9+ solved this for me when upgrading from Laravel 6 to 7 because Laravel's PHPUnit dependency is set to ^8.5. It's worth noting Laravel 7's PHP depedency is ^7.2.5.

[2020-03-17 08:01] olivernybroe commented on #381
@shawnlindstrom Yes, however we require `PHP 7.3+` with Laravel because one of the packages we depend on when using Laravel 7, requires `PHP 7.3`.

But great hat you are up and running now!

[2020-03-17 08:01] #381 closed

[2020-03-18 19:18] deleugpn commented on #294
Does it make sense to consider offering a GitHub action so that we dont even need to do `composer require` on our projects?

[2020-03-18 20:01] olivernybroe commented on #294
@deleugpn There is an unofficial one https://github.com/stefanzweifel/phpinsights-action and a formatter for github-action

And I am working on a more advanced one with badges and so on.

[2020-03-18 20:11] deleugpn commented on #294
@olivernybroe I've looked into the one you linked. It runs `composer install` on our own project. What I'm asking is about a `standalone` version of phpinsights as GitHub Action. Not running `composer install` on my own project means I don't have to deal with my private repositories and secrets, etc.

[2020-03-19 11:15] olivernybroe commented on #294
@deleugpn Alright, sorry, I get your now :)
The GitHub action I am working on creating right now actually works this way. It's still very much in development, as the point of it is to create a GitHub review instead.
You can try out what I have in it so far if you want to https://github.com/worksome/phpinsights-app

[2020-03-19 15:56] MrMadClown commented on #294
Hey @nunomaduro I did tinker some with it back in November but haven't looked at it since.

[2020-03-24 17:28] freddyheppell opened #383 "Github Actions not getting all failures"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14.0

I've installed Insights in a Laravel 6.4.0 project and configured Insights to run with Github Actions. It runs succesfully (and produces a very long output 😢 ), but Actions only picks up on the first few issues. I've reproduced the first part of the output (which I got fr

[2020-03-31 06:17] olivernybroe commented on #383
Hi :)

This is a new limitation that Github has added unfortunately.
I am trying to find a workaround so we can display it all

https://github.community/t5/GitHub-Actions/Maximum-number-of-annotations-that-can-be-created-using-GitHub/td-p/39085

[2020-03-31 06:17] #383 closed

[2020-03-31 15:15] freddyheppell commented on #383
Ah that's unfortunate. Thanks anyway!

[2020-04-02 08:24] leasophiiie opened #385 "Trying to create a Typo3 adapter"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.14.0

Currently I am trying to create an adapter of Typo3 for phpinsights. However, I get an error to check if the adapter is working at all.

I would like to create an adapter because I am currently taking part in a training course in which Typo3 will soon be discussed as a to

[2020-04-02 09:07] olivernybroe commented on #385
Cool :)

This error just says that you didn't have enough memory when running.

Try running it with more memory and see if that fixes your problem.
https://phpinsights.com/get-started.html#allowed-memory-size-of-x-bytes-exhausted

If increasing the memory limit does not fix it, I'll reopen this issue 👍

[2020-04-02 09:07] #385 closed

[2020-04-02 09:54] leasophiiie commented on #385
Really great support if someone has a problem, tried different things already, but mentioned to have no idea about Typo3.

[2020-04-02 15:09] apoca commented on #77
@nunomaduro I am facing this issue inside a docker (dev without memory limit).

<img width="1339" alt="Screenshot 2020-04-02 at 15 56 07" src="https://user-images.githubusercontent.com/5594091/78264171-bd9c3b00-74fa-11ea-9b95-d49ec534370c.png">

[2020-04-02 16:11] sierrafayad commented on #77
Seems to be arround the 2 GB (default memory for docker) minus whatever you are running on that docker.
Can you try adding more memory to Docker Engine to see if it solves it?

[2020-04-02 16:18] apoca commented on #77
Well, I did it also in my local machine mac pro with 16Gb ram and same problem... Also as I said PHP (local machine) has memory_limit = -1

[2020-04-02 16:39] apoca commented on #77
After 13 secs stops... I'm using ide-helper and the error is almost the same:

/var/www/vendor/nunomaduro/phpinsights/src/Domain/Insights/SniffDecorator.php on line 65

92/592 [▓▓▓▓░░░░░░░░░░░░░░░░░░░░░░░░]  15% 13 secs
 - app/Models/CorpRequest.php%

[2020-04-02 16:53] sierrafayad commented on #77
I meant this,
![image](https://user-images.githubusercontent.com/4095810/78276354-8c127800-74d8-11ea-838c-23dc9c42b8c7.png)

[2020-04-02 17:00] apoca commented on #77
@sierrafayad I have tested also in my local machine without docker ... I have 16Gb memory is mac pro, lock at my last post.

[2020-04-02 17:02] 50bhan commented on #77
@apoca Did you allowed extra memory to insights? https://phpinsights.com/get-started.html#allowed-memory-size-of-x-bytes-exhausted

[2020-04-02 17:34] apoca commented on #77
As I said (memory_limit = -1):

php -d memory_limit=160000M ./vendor/bin/phpinsights -v

 123/592 [▓▓▓▓▓░░░░░░░░░░░░░░░░░░░░░░░]  20% 23 secs
 - app/Models/CorpCompanyEmployee.php%

error_log:

[02-Apr-2020 17:32:28 UTC] PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 1003520 bytes) in /Applications/MAMP/htdocs/esolidar-api/vendor/nunomaduro/phpinsights/src/Do

[2020-04-02 18:14] sierrafayad commented on #77
If you run ` php -i -d memory_limit=160000M | grep memory_limit` does it gives you the correct amount?

[2020-04-02 18:31] apoca commented on #77
gives me... as expected memory_limit => -1 => -1

[2020-04-02 18:37] sierrafayad commented on #77
Well idk 😅 hahaha.
Is there any possibility of some memory_limit being set somewhere in the code?
I'm out of options.

[2020-04-02 18:48] apoca commented on #77
Then, before I came here I did a lot of testes I have tried almost every thing and I got without solutions... This happened before with other stuff and I have fixed as you guys said in docs... Therefore, I am also without ideas :/

[2020-04-03 06:42] #355 closed

[2020-04-03 06:52] olivernybroe commented on #77
@sierrafayad Currently we don't touch memory limit in the code.

@kayandra I like the idea of trying to use generators in more places. Might help us save some memory around the system.

[2020-04-03 07:58] olivernybroe opened #388 "[Question] Removal of SyntaxSniff"
SyntaxSniff is a sniff that checks if the file has correct php syntax, however this sniff is really heavy to run as it runs `shell_exec` to execute a `php -l` command.

I am wondering if we actually needs this sniff as we now have a bunch of checks we do to check if a file is valid.

@50bhan You were the one who worked on fixing some bugs with invalid code, do you think we can remove this sniff?

[2020-04-03 08:06] Jibbarth commented on #388
@olivernybroe I think this one is already taken care in PR #373

I have to continue it to require php-parallel-lint, but the SyntaxSniff is removed in it :wink:

[2020-04-03 08:10] olivernybroe commented on #388
Oh right 🤦‍♂ totally forgot about that...

[2020-04-03 08:10] #388 closed

[2020-04-03 14:33] apoca commented on #77
@olivernybroe, yes I agree with you and it might that is happening with other developers and they prefer to uninstall the package. I suggest that this bug must be open.

[2020-04-04 16:20] #54 closed

[2020-04-04 17:26] 50bhan commented on #354
@olivernybroe Do you think can we go for this now?

[2020-04-04 17:57] Jibbarth commented on #354
@50bhan is there anything to change in code ? In my mind, it's just adding some documentation, right ?

Do you see something else ?

[2020-04-04 18:14] 50bhan commented on #354
@Jibbarth No, I don't think so. We just need to update the docs with proper command. And it crossed my mind, what if we use it as well?

[2020-04-06 06:19] olivernybroe commented on #77
@apoca I think it makes more sense to create an issue which is for adding generators. Adding generators does not fix memory size, it just reduced the likability of it happening.

[2020-04-09 08:21] enumag commented on #294
Are there any plans to release autofixer before 2.0? I'd really like to replace my old setup with phpinsights but it's current limitation of not being able to autofix errors reported by php-cs-fixed or code-sniffer is kinda blocking that.

Also since you're planning to wrap PHPStan, are you planning to wrap Psalm as well?

[2020-04-09 09:08] nunomaduro commented on #294
I don't think we should wrap nothing, before tacking those issues:

[code]

It's important to keep the core sexy, clean, fast and organised.

[2020-04-09 09:12] olivernybroe opened #390 "Add parallelization"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 2.0

This issue is about adding parallelization to speed up the tool.
Adding parallelization so all the insights can run at once or so each file is analysed in parallel would be awesome.

I am not sure which is best to add parallelization to, or if it is worth adding parallelizat

[2020-04-09 09:15] olivernybroe commented on #289
Both me and @Jibbarth have added some PR's recently which improves the speed and reduces the memory load. It is currently in master branch, hope this helps on your speed problems.

We already have issue #354 about processing only changed files and #390 for adding parallelization which also should speed this up.

If somebody has other ideas to improve the speed, then please open an issue about that

[2020-04-09 09:15] #289 closed

[2020-04-09 09:32] enumag commented on #294
I agree. Makes sense. But psalm isn't really my main concern. The autofixer is. Do you have plans to release it soon-ish?

[2020-04-09 09:56] nunomaduro commented on #294
I believe is important to ship the auto fixer only with the 2.0. So we don't have to maintain it also on the v1.

[2020-04-10 16:00] olivernybroe opened #392 "Upgrade to PHP 7.4"

[2020-04-10 16:00] #392 closed

[2020-04-20 10:25] jakzal opened #394 "Latest version throws a fatal error because of the missing SlevomatCodingStandard"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14

**Steps to reproduce**

[code]

**Expected outcome**

PhpInsights version is displayed.

**Actual outcome**

[code]

[2020-04-20 10:48] mbalandis commented on #394
+1 getting same issue. It simply doesn't work!

[2020-04-20 19:42] edwinsiebel opened #396 "PHP 7.2 does not satisfy the requirements"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | v1.14.0

Running docker with php 7.2 (which should be [supported](https://phpinsights.com/get-started.html#within-laravel)), on an empty composer install: `composer require nunomaduro/phpinsights --dev`.

However, composer complains about that my php version does not satisfy my r

[2020-04-21 07:19] olivernybroe commented on #394
What PHP version are you running, I was not able to reproduce it.

[2020-04-21 07:25] olivernybroe commented on #396
When I read this stack that is not what I get from it.

What I am getting is that it is trying to install `phploc/phploc`, it can choose between v6 or v5, but v6 requires php7.3, so it now tried with v5.

phploc v5 requires symfony/console v4, so symfony/console v5 cannot be installed.

What I am getting from this message is that in your composer you have required symfony/console v5, which simply

[2020-04-21 07:57] 50bhan commented on #394
I just installed on php 7.2 and it's OK!

![Screenshot from 2020-04-21 12-25-25](https://user-images.githubusercontent.com/36772278/79840660-72739a80-83cb-11ea-96cb-157357f84e70.png)

[2020-04-21 07:58] 50bhan commented on #396
@edwinsiebel https://github.com/nunomaduro/phpinsights/issues/394#issuecomment-617018805

[2020-04-21 08:28] mbalandis commented on #394
It probably works now because today I ran composer update and slevomat has fixed it. It wasn't working yesterday haha.

https://share.getcloudapp.com/xQuW091L

[2020-04-21 08:29] jakzal commented on #394
Yept, yesterday it was failing consistently on PHP 7.2-7.4: https://travis-ci.com/github/jakzal/toolbox/builds/161003916

It's fixed today: https://travis-ci.com/github/jakzal/toolbox/builds/161189079

I guess we can close here.

[2020-04-21 08:29] #394 closed

[2020-04-21 08:42] olivernybroe commented on #394
Good thing you have it working now! 👍

[2020-04-21 11:44] edwinsiebel commented on #396
Hi @50bhan, yes, that works perfect. Got it installed quick and easy.

Thanks for the update.

[2020-04-21 11:44] #396 closed

[2020-04-24 15:05] Naxon opened #397 "Composer dependencies issue on installation"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14.0

I'm experiencing the following composer dependencies issue when trying to install on a fresh Laravel 7.7.1 using the command `composer require nunomaduro/phpinsights --dev`:

[code]

[2020-04-24 16:42] 50bhan commented on #397
@Naxon What is your PHP version? Because I just installed latest version on Laravel 7.7.1 and everything is working.

[2020-04-24 17:08] 50bhan commented on #397
@Naxon Please check this link out: You should first upgrade you PHPunit to v9.0+ and then you can install Phpinsights:

`composer require --dev phpunit/phpunit:^9.0 --update-with-dependencies`

[2020-04-25 10:16] Naxon commented on #397
@50bhan it worked, Thank's

[2020-04-25 10:16] #397 closed

[2020-04-26 11:24] rodrigopedra opened #398 "How to override Preset removals?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes (maybe)
| Library version  | 1.14.0

Version 1.14.0 removed the `StaticClosureSniff` from the Laravel Preset. I couldn't find any related issue to get some reasoning about the removal.

As I would like to keep this sniff on the projects I work with, I tried adding it in my local `config/insights.php`

[2020-04-26 18:53] carlalexander commented on #341
For anyone looking to do this. Here's a custom GrumPHP task that I built.

[code]

The task uses the `php artisan insights` Laravel command, but it's easy to shift it to another one. After that, all you have to do is add the task to the `grumphp.yml` like this:

[code]

[2020-04-27 08:57] nunomaduro commented on #397
@Naxon @50bhan Can you pull request that workaround to the docs?

[2020-04-27 08:58] 50bhan commented on #397
@nunomaduro Yeah I can do that in couple of minutes.

[2020-04-27 11:38] Pnoexz opened #400 "New parameter to only show the summary"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes

I'm looking to add phpinsights to my CI/CD process to have visibility of how a PR will affect the code, but displaying the issues makes the output very noisy. I know using the json formatter and parsing the result is a good alternative, but it would be great to have a `--summary-only` or `--no-issue

[2020-04-28 07:14] olivernybroe commented on #400
I think this is a great idea.

Maybe calling it `--show=summary`?
This way it can later on be extended to for example only showing complexity issues by running
`--show=complexity` and so on 👍

[2020-04-28 08:59] olivernybroe commented on #398
@rodrigopedra Actually no.

Our merging strategy does not support this, however I think this should be supported as you of course should be able to add it back in.

 @nunomaduro Could you explain the reasoning behind the removal?

[2020-04-28 11:18] Pnoexz commented on #400
That's a good point. Whenever I implement phpinsights in an older project, I tackle individual metrics and `--show` would make it easier to start with a metric other than the first one. It could also take multiple values, for example, `--show=summary,code,architecture` or `--show=summary --show=style` (like `--format`).

[2020-04-28 11:57] olivernybroe commented on #400
@Pnoexz Exactly what I envisioned 👍

[2020-04-28 13:21] olivernybroe opened #401 ""SlevomatCodingStandard.Arrays.TrailingArrayComma" does not exist"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Library version  | master

When running `bin/phpinsights` on this repository it runs correctly, however when I try to do the following:
[code]
It results in
[code]

[2020-04-29 05:12] rodrigopedra commented on #398
Hi @olivernybroe thanks for the response. I might have some time two weeks from now to look into this. Right now I am very busy.

From first sight it seems we will need to cross compare removed and added between preset and userland config (filter out userland added insights from the preset's removed array and filter out userland removed insights from the preset's added array) before merging them.

[2020-05-05 06:56] back-2-95 commented on #43
This helped we when I tried to use https://github.com/palantirnet/drupal-rector first time with my Alpine 3.11 based Docker image.

[2020-05-08 11:21] Jibbarth commented on #401
Seems to be a problem with PHPCS.

Able to reproduce if I do
[code]

=>
[code]

When deleting .php_cs.xml.dist, it works.

However, I think it's happen because our phpcs config file contains this :

[code]

When we launch tools in other directory, when building a Ruleset, phpcs search this dir in current working directory... :slightly_frowning_face:

That could be fix by adding `$config->restoreDe

[2020-05-08 18:29] #401 closed

[2020-05-09 03:01] sunilwadeyar opened #403 "Composer.json is not valid"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.9.0

• [Architecture] Composer.json is not valid:
  composer.json: illuminate/redis is required both in require and require-dev, this can lead to unexpected behavior

Getting this message even though "illuminate/redis" is added both in require and require-dev. Any workaround fo

[2020-05-09 03:32] #403 closed

[2020-05-09 03:38] sunilwadeyar commented on #403
My bad 😐

Got confused with the message. I had to check source code to understand this.

It's actually warning me that the dependency is found to be required in require and require-dev.
Had to remove dependency from require-dev.

[2020-05-17 03:23] malohtie commented on #375
i solved this by upgrading phpUnit to ^9.0

[2020-05-20 02:28] jiasilu commented on #350
I've encountered the same error as well. @jrmadsen67 Were you able to find a workaround? Thanks!

[2020-05-20 02:57] jrmadsen67 commented on #350
I'm afraid I can't remember - I think I just manually tracked the one file
that was giving us the issue & cleaned it, or some temp solution like that

On Wed, May 20, 2020 at 11:28 AM Justin Jia <notifications@github.com>
wrote:

[2020-05-20 03:07] jiasilu commented on #350
@jrmadsen67 Appreciate it, thx!

[2020-05-21 14:09] mithek opened #410 "Symfony 5.0.8 install error"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | stable and dev-master

Hi, when i install symfony website skeleton `composer create-project symfony/website-skeleton` (5.0.8) i get an error when installing phpinsights.

I have the most recent composer version (1.10.6) and use php 7.4.

[code]

[2020-05-21 15:08] Jibbarth commented on #410
It's an issue with flex (cf https://github.com/symfony/flex/issues/622)

Two solutions for now:

* add `nunomaduro/phpinsights` manually in your composer.json, launch `composer update` and manually remove `Composer\CaBundle\CaBundle::class => ['dev' => true, 'test' => true]` in `config/bundles.php`

* or fix to a lower flex version: `composer require symfony/flex:1.6.2`

[2020-05-21 15:13] mithek commented on #410
@Jibbarth Thanks! It works! (and again a flex issue..)

[2020-05-21 15:13] #410 closed

[2020-05-25 18:23] devmsh commented on #367
I face a similar issue when I exclude a file from the `CyclomaticComplexityIsHigh` it's not shown in the details but the warning still appears in the title

[2020-05-28 15:19] Synchro opened #411 "Class clash with phpcs and PHPCompatibility"
| Q                | A
| ---------------- | -----
| Bug report?      | not sure!
| Feature request? | no
| Library version  | 1.14.0

I've set up a new project with both phpcs and phpinsights. My phpcs.xml file specifies `PSR12` and `PHPCompatibility` rule sets:

[code]

but if I run phpinsights, it crashes like this:

[code]

If I comment out the PHPCompability set from my phpcs config file, it w

[2020-05-31 21:35] Jibbarth commented on #411
:thinking: Maybe the PR #402 already fix this. Could you try against `dev-master` ?

<details>
<summary>Get dev-master version</summary>

[code]

</details>

[2020-06-01 18:37] ahinkle commented on #323
A possible workaround for now until there is an official service is to create a GitHub Action to run your test scores and automatically update the image links as needed.

I haven't seen this out in the wild yet but something I'm considering soon. Let me know if you all found any alternatives other than hardcoding your own values. ❤️

[2020-06-02 18:21] Synchro commented on #411
Yep, I can confirm that it doesn't crash with the dev-master build.

[2020-06-04 08:52] olivernybroe commented on #411
Awesome 👍

[2020-06-04 08:52] #411 closed

[2020-06-11 07:34] axit-joost opened #412 "Possible false positive Strict comparison using === between bool and 0"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 0.6.0

Updated to Larastan 0.6.0 this morning and tried to resolve all the new stuff that larastan found on my code base and I stumbled upon the following:

[code]

The code in question:

[code]

In which `$this->customer` is an instance of a `Customer` model and `is_consumer` is

[2020-06-11 07:44] 50bhan commented on #412
@axit-joost Larastan? Are you sure that you are on the right repo buddy?

[2020-06-11 07:58] axit-joost commented on #412
My bad!

[2020-06-11 07:58] #412 closed

[2020-06-24 09:16] SandroMiguel opened #415 "Sniffs documentation"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | x.y.z

Is there any documentation explaining the reasons for each insight?

For example:
_Forbidden setter: Setters are not allowed. Use constructor injection and behavior naming instead._

Where I can find information explaining why I shouldn't use setters?

[2020-06-25 09:08] marvinschroeder opened #417 "ComposerMustBeValid: config option for version check"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.14.0

Would be great to have a config option to disable the "version" check of the composer.json of ComposerMustBeValid.

• [Architecture] Composer.json is not valid:
composer.json: The version field is present, it is recommended to leave it out if the package is published on P

[2020-06-25 12:35] 50bhan commented on #415
@SandroMiguel I believe you can find the description here: https://phpinsights.com/insights/code.html#forbidden-setter .

[2020-06-25 13:06] SandroMiguel commented on #415
Thank you for the response @50bhan.
As I can see, only some Insights have the "official explanation".
For example, the insight description for "Forbidden setter" is "This sniff disallows setter methods." but this doesn't tell me **why**.
But yeah, now I got something.

[2020-06-25 13:07] #415 closed

[2020-06-28 06:51] wreckitq opened #418 "Can't install"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14

![image](https://user-images.githubusercontent.com/34129273/85940397-4eda4c80-b946-11ea-9669-c1c828f67ab8.png)

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  https://www.patreon.com/nunomaduro
👉  https://www.paypal.com/cgi-bin/websc

[2020-06-28 07:01] 50bhan commented on #418
You need to update PHPUnit to ^9.0. Use this link for more detailed information and command: https://phpinsights.com/get-started.html#within-laravel

[2020-06-28 07:44] wreckitq commented on #418
oh, dear. forget about that, thanks so much @50bhan!
it's solving the problem

[2020-06-28 07:44] #418 closed

[2020-06-29 13:59] rivets opened #419 "Add include as well as exclude."
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | latest

If you have a large project it would be good to be able to make certain things work only on a subset  or single file rather than having to explicitly exclude all the other files in the project. I can't see any simple way of doing this at the moment. For example, you may h

[2020-07-06 07:25] #398 closed

[2020-07-19 22:50] ondrejmirtes commented on #363
Use PHPStan instead :) Read this blogpost: https://phpstan.org/blog/detecting-unused-private-properties-methods-constants

TL;DR @kukulich decided to deprecate UnusedPrivateElementsSniff in Slevomat Coding Standard, PHPStan should be used for this purpose instead. Make sure you're on 0.12.33 (the latest release) and enable bleedingEdge.neon in your phpstan.neon:

[code]

[2020-08-03 18:42] bpolaszek opened #422 "Cyclomatic complexity sniffer doesn't provide classes to refactor"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14.0

Hello there,

Here's an example output of my phpinsights:

[code]

The console shows nothing after "consider refactoring:" (I expect a list of incriminated classes). Is it normal?

Thanks!
Ben

[2020-08-04 11:48] Jibbarth commented on #422
Hi @bpolaszek :wave:

You are right, it should list classes to refactor.

Can you provide your `phpinsights.php` configuration file ?
Did you reproduce on `dev-master` ?

I suspect that files that should be listed are excluded later, whereas the piece of code that say "we have an issue" don't filter on it.
See https://github.com/nunomaduro/phpinsights/blob/v1.14.0/src/Domain/Insights/CyclomaticCom

[2020-08-04 16:46] bpolaszek commented on #422
Hey @Jibbarth  👋

Following your comments:
- Upgrading to `dev-master` has no effect
- Changing `maxComplexity` has no effect on the score
- Adding `NunoMaduro\PhpInsights\Domain\Insights\CyclomaticComplexityIsHigh::class` in the `remove` section has absolutely no effect.

<details><summary>Here's my phpinsights.php:</summary>

[code]
</details>

Thank you! 🙏
Ben

[2020-08-04 17:31] Jibbarth commented on #422
@bpolaszek Thanks for your response,

Yes this is an other issue :sweat: See #367

No effect at all ? Or it remove the following line ?
[code]

To clarify, the class `CyclomaticComplexityIsHigh` is used to report this line above, and "normally" list incriminated classes.

The score is based on the collector that inspect all files, and for now, we cannot change the way this score is calculated by c

[2020-08-05 07:19] bpolaszek commented on #422
Sure. Dumping [$complexityLimit](https://github.com/nunomaduro/phpinsights/blob/master/src/Domain/Insights/CyclomaticComplexityIsHigh.php#L38), [$classesComplexity](https://github.com/nunomaduro/phpinsights/blob/master/src/Domain/Insights/CyclomaticComplexityIsHigh.php#L47) and the [returned value](https://github.com/nunomaduro/phpinsights/blob/master/src/Domain/Insights/CyclomaticComplexityIsHigh

[2020-08-07 13:04] realodix opened #423 "phpinsights error"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | no
| Library version  | v1.14.0

https://github.com/realodix/urlhub

![Untitled](https://user-images.githubusercontent.com/1314456/89648166-015be280-d8e9-11ea-99d9-89c121a163ec.png)

[2020-08-07 14:04] bsomeshwer opened #424 "SniffDecorator.php is throwing Runtime Exception"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14

I'm getting the following issue when I run the below command:

`vendor/bin/phpinsights --no-interaction --min-quality=90 --min-complexity=80 --min-architecture=80 --min-style=95 --config-path=config/insights.php`

![image](https://user-images.githubusercontent.com/39646194/

[2020-08-07 17:40] 50bhan commented on #424
Hi, thank you for reporting this issye. But unfortunately I can't reproduce your problem! I just installed the latest version (1.14) and everything seems fine:
![Screenshot_2020-08-07_22-02-53](https://user-images.githubusercontent.com/36772278/89672792-7c79c480-d8fa-11ea-8874-1503a2c3418e.png)

About your mentioned piece of code, you can see it in V14.0  here => https://github.com/nunomaduro/phpi

[2020-08-07 18:18] 50bhan commented on #423
I cloned your repo and ran `php artisan insights` and it worked. Could you give us more details? I'm not able to reproduce you issue.

![Screenshot_2020-08-07_22-45-31](https://user-images.githubusercontent.com/36772278/89675994-18f29580-d900-11ea-93f0-340a747f51c0.png)

[2020-08-09 13:12] 50bhan commented on #422
@bpolaszek If you add `NunoMaduro\PhpInsights\Domain\Insights\CyclomaticComplexityIsHigh::class` in the `remove` section of `phpinsights.php` file, it will work correctly right now:

![Screenshot from 2020-08-09 17-38-10](https://user-images.githubusercontent.com/36772278/89732938-4a39a580-da67-11ea-88ce-ee794281f0f7.png)

P.S: This issue fixed through #420 and it's only available on `dev-master`

[2020-08-10 09:37] MatPoot opened #425 "Install - Composer .json wrong config"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | master

Install issues, Laravel 7.0+

I have a running project that I'd like to try phpinsights on.

I'm getting the same issue as https://github.com/nunomaduro/phpinsights/issues/397

However, the stated solution also gets the same error as well

`C:\xampp\htdocs>composer requir

[2020-08-10 09:45] 50bhan commented on #425
@MatPoot You should use this command `composer require --dev phpunit/phpunit:^9.0 --update-with-dependencies` before installing `Phpinsights`.

[2020-08-10 10:30] bsomeshwer commented on #424
Hi @50bhan ,

I'm giving you the path here:

I thought this is causing an issue but not sure. If this is not the issue then I can help you with my composer.json file and Laravel & PHP versions so that you can replicate it from your side.

[2020-08-10 10:39] bsomeshwer commented on #424
Here is my composer.json

[code]

[2020-08-10 10:40] MatPoot commented on #425
Fixed it; it seems that the --update-with-dependencies part is mandatory; the normal log when I'm installing something already says its looking for dependancies and satisfying them so I thought it was okay.

Thank you.

[2020-08-10 10:40] #425 closed

[2020-08-10 12:27] 50bhan commented on #424
@bsomeshwer Yes I added that piece of code to fix another bug. I believe your problem is not related to that code and failure is occurring somewhere else, but yes, that piece of code is responsible for throwing that exception.

So, I just installed a new Laravel project (V5.6.40) and installed `phpinsights` on it. You can see everything is fine:
![Screenshot from 2020-08-10 16-48-18](https://user-

[2020-08-11 10:37] bsomeshwer commented on #424
Okay @50bhan.
`phpinsights` can't analyse the file and it fails. If this is the case then is there any way to know which file causing an issue by `phpinsights` ? Because scanning was done for all the files and at the end it was throwing  this error. I'm unable to figure it out which file causing an issue by `phpinsights` and which file `phpinsights` unable to analyse.

If you see below image: all

[2020-08-11 11:55] 50bhan commented on #424
@bsomeshwer Thank you for your help. You can comment that piece of code in `SniffDecorator` and then run `phpinsights` again. This way it's possible to find the point of failure.

[2020-08-11 12:57] bsomeshwer commented on #424
Hi @50bhan , After commented out those line I did not get any error It was success and shown some suggestions to modify the files as ususal.

But here in this case I just want to know which file is causing an issue and which file is failed to read by `phpinsights`.

Would you mind if I would suggest you that displaying error message with file information that which file is causing an issue and whi

[2020-08-11 13:03] bsomeshwer commented on #424
@50bhan , Btw, executing the command after commenting out the lines specified I'm getting other error as follows:

![image](https://user-images.githubusercontent.com/39646194/89899907-98ce7780-dc00-11ea-9954-bc23285324bb.png)

![image](https://user-images.githubusercontent.com/39646194/89900101-e9de6b80-dc00-11ea-926c-9d6a01019766.png)

![image](https://user-images.githubusercontent.com/39646194/8

[2020-08-11 13:10] 50bhan commented on #424
@bsomeshwer It's really weird! Because if everything is fine, there is no need to throw an exception. That code will get triggered if something goes wrong. I believe you had these warnings before you commented out that code, right? Because in the first photo, I can see the warnings. Anyway, can you test you code with `dev-master`?

[2020-08-11 13:40] bsomeshwer commented on #424
I believe you had these warnings before you commented out that code, right?   - Yes
Because in the first photo, I can see the warnings - True

I didn't notice that. My apologies.

Anyhow, can't we see which file causing an issue rather than showing  that "RuntimeException" error as follows:

![image](https://user-images.githubusercontent.com/39646194/89904236-4bed9f80-dc06-11ea-8486-9447c6fcda1d.p

[2020-08-11 13:53] bsomeshwer commented on #424
@50bhan
Interestingly this issue is not there in 1.13 version.

[2020-08-12 08:12] 50bhan commented on #424
@bsomeshwer Can you put `dd($this->fileInfo);` in this catch block? https://github.com/nunomaduro/phpinsights/blob/1f26a9fd84dd22ccb44372a768c745016b0f92a6/src/Domain/File.php#L55

It might help to find that file which causing exception.

[2020-08-12 09:10] Bu4ak opened #426 "Referenced sniff "PHPCompatibility" does not exist"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | docker `nunomaduro/phpinsights:latest`
[code]

[2020-08-13 14:13] bsomeshwer commented on #424
Hi @50bhan , I did that but no luck. Again I'm getting same issue. Control not entering into catch block.

Here is the o/p:
![image](https://user-images.githubusercontent.com/39646194/90144866-f992b700-dd9c-11ea-9ecc-c7046618a025.png)

![image](https://user-images.githubusercontent.com/39646194/90145112-3b236200-dd9d-11ea-8501-4eed4f7a6c64.png)

[2020-08-18 08:49] bsomeshwer commented on #424
Hi @50bhan,

Any update on this? How can we handle this?

Thanks

[2020-08-18 08:54] olivernybroe commented on #424
hi @bsomeshwer Could you try and run with verbose output, so we can see some data on this `RuntimeException`?

[2020-08-18 08:54] #423 closed

[2020-08-18 08:59] olivernybroe commented on #426
Often issues like this is because composer failed and some files are actually missing.
However as this is the docker version, the dependencies should already be there.

Could you try running with verbose output, so we can see the stacktrace?

[2020-08-18 09:00] #422 closed

[2020-08-18 09:43] 50bhan commented on #424
@bsomeshwer Hi, sorry for delay. I had a busy week. As @olivernybroe said, verbose output will be a good idea to track the problem down.

[2020-08-18 11:41] Bu4ak commented on #426
Sorry! Extended output:
[code]

[code]

[2020-08-18 19:23] bpolaszek commented on #422
Sorry to reopen, but unfortunately this is still unsolved to me ☹️

After upgrading to `dev-master`:
- If Cyclomatic Complexity has the default `maxComplexity`, complexity score is 81% and classes appear (I have some classes between 5-9 cyclomatic complexity).
- If Cyclomatic Complexity has `maxComplexity` set to `10`, classes don't appear anymore (none of them has 10+ CC) but score is still `81%`

[2020-08-24 07:30] garak opened #427 "phploc 7 is not allowed"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | latest

Currently only phploc 5 and 6 are allowed. Version 7 should be allowed too.

[2020-08-24 07:34] nunomaduro commented on #427
Can you make a pull request on that?

[2020-08-24 07:36] garak commented on #427
sure!

[2020-08-25 16:35] emjayess opened #429 "Insights as a shareable report?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | {any}

### Question
Is there a good way to generate a decent-looking shareable report / output?

It is something that I've been looking for, but have struggled with. It would be a _very_ nice-to-have feature, to share with a team, to management, or especially in my case, onboardi

[2020-08-25 16:56] olivernybroe commented on #429
The point of json output, is that changing the format is a BC, while changing the normal output is not BC.

However JSON output does not have any UI to it.

[2020-08-26 03:33] emjayess commented on #429
BC?

[2020-08-26 03:55] 50bhan commented on #429
@emjayess Breaking Changes (BC).

[2020-08-26 07:10] #426 closed

[2020-08-26 12:54] fluffycondor opened #430 "Cannot install phpinsights: Your requirements could not be resolved to an installable set of packages."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | n/a

I ran into an issue installing phpinsights:

[code]
My composer.json:

[code]

[2020-08-27 11:23] juslintek opened #431 "When is 2.0 coming out, why its stated in the docs, but there are no signs of it"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 1.14.0

Wonder when version 2.0 is coming out, really want the fix feature as mentioned here: https://phpinsights.com/get-started.html#fixing-errors-automatically

[2020-08-27 15:53] nunomaduro commented on #431
I am with 0 time for this project. I think @olivernybroe too.

Maybe @Jibbarth ?

[2020-08-27 15:53] nunomaduro commented on #431
Otherwise we may need to ask for contributors on twitter, it may be the best option here.

[2020-08-27 16:11] olivernybroe commented on #431
Yes I am unfortunately also down to 0 time, as my spare time is on pestphp at the moment.

Might be worth asking for contributors yep.

I think @50bhan is also spending time here 😄

[2020-08-27 16:12] 50bhan commented on #431
@nunomaduro I think we just need to finish #414 for V2.0 (based on prior road map) and after that we are all set.

[2020-08-27 16:13] nunomaduro commented on #431
Already, lets see if @Jibbarth or youtself @50bhan wanna work on the #414

[2020-08-27 17:14] 50bhan commented on #430
@fluffycondor Thank you for reporting this issue. This problem is related to dependencies and I try to fix it.

[2020-08-28 17:14] Algeneralo opened #434 "Call to a member function addDetails() on null"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14
| Larave version  | 7.0

I just installed the library and tried to use the command `php artisan insights` but I got an error.
![image](https://user-images.githubusercontent.com/32073999/91594724-043b7780-e96b-11ea-8a63-6a8038adf871.png)

Note: I am using windows as an OS

[2020-08-28 18:08] 50bhan commented on #434
@Algeneralo I think your issue might be duplicate of #350. The cause of the error is mixed line endings. If you want to get rid of it quickly, fix your line ending, otherwise I will see if I can find a suitable workaround.

[2020-08-28 18:32] 50bhan commented on #434
@Algeneralo BTW, I can't really create a file with mixed line endings! Which IDE/Editor do you use?

[2020-09-02 23:47] Lukasss93 commented on #323
Hi, I wanted this feature so much that I created it for <del>me</del> you 😄
This is the github action: https://github.com/Lukasss93/phpinsights-badger-action (It will uploads phpinsights data to your self hosting service)
This is the first library with the badges: https://github.com/Lukasss93/laravel-larex

If you think this is spam, please delete this message (I'm sorry 😓)

[2020-09-03 09:00] chriischambers commented on #430
I can confirm I cannot install this either.

[2020-09-06 12:02] #427 closed

[2020-09-06 12:03] Jibbarth commented on #427
Thank you @garak :raised_hands:

[2020-09-07 00:56] Algeneralo commented on #434
what do you mean by "fix your line ending"?
I'm using PhpStorm as an IDE

[2020-09-07 05:58] 50bhan commented on #434
@Algeneralo I mean end of line character is mixed (some lines ended with "\n" and some with "\r\n" or something). Of course I'm not sure that your problem is related to this, but I just guess because in #350 the error was the same as yours and the problem was mixed line endings.

[2020-09-07 12:50] Algeneralo commented on #434
@50bhan do you have a solution for that issue?

[2020-09-07 13:26] 50bhan commented on #434
@Algeneralo Unfortunately I'm not able to reproduce this issue! So I just assumed the problem is from mixed line ending. If you can send me your trouble maker file, I can find a workaround.

[2020-09-09 06:46] bsomeshwer commented on #424
Hi @50bhan , Sorry for the delay. I was on vacation. We are using 1.13.0 version which is not throwing the above error.

We can close this issue. Thanks

[2020-09-09 06:53] 50bhan commented on #424
@bsomeshwer It's OK. Actually the main point was solving your problem as well as any potential bug in version 14.0. Anyway, let me know if I can help you with your issue.

[2020-09-09 06:59] bsomeshwer commented on #424
Thanks @50bhan , I'll send you here the verbose output. Let us check if that helps.

[2020-09-10 13:52] eusonlito opened #436 "Abandoned Packages as dependencies"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | v1.14.0

The v1.14.0 release has abandoned packages as dependencies:
[code]
[code]
Also require `"phploc/phploc": "^5.0|^6.0"` which has `sebastian/finder-facade` as abandoned:
[code]
[code]
Regards!

[2020-09-10 16:39] nunomaduro commented on #436
@eusonlito Can you submit a pull request fixing this?

[2020-09-10 16:49] eusonlito commented on #436
Yes!

[2020-09-10 20:02] eusonlito commented on #436
Is not so easy :sweat_smile:

[code]

[2020-09-13 18:53] Algeneralo commented on #434
@nunomaduro any help with this issue?

[2020-09-13 19:31] Algeneralo commented on #434
I tracked the issue and there was a comma here
![image](https://user-images.githubusercontent.com/32073999/93026722-c5ffb280-f610-11ea-9af4-cf255a6741e2.png)

[2020-09-13 19:31] #434 closed

[2020-09-26 10:22] Jibbarth opened #438 "Exception when no internet"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | master

Refs https://github.com/nunomaduro/phpinsights/pull/414#issuecomment-695939609 (thanks @ekvedaras)

The PR #406 doesn't catch error that could thrown when there is no internet connection.

![image](https://user-images.githubusercontent.com/3168281/94338480-d5a8cf00-fff2-1

[2020-09-27 14:20] #438 closed

[2020-10-07 20:39] miken32 commented on #436
@nunomaduro as concerns the `object-calisthenics/phpcs-calisthenics-rules` package, what's the desired outcome here? Just removing everything in the `ObjectCalisthenics\Sniffs` namespace, or replacing it with equivalent functionality? Looks like the following sniffs are used:
[code]

And of those, only `MaxNestingLevelSniff` seems to have equivalent functionality found in `PHP_CodeSniffer\Standard

[2020-10-11 21:13] Andrew-Shook commented on #370
So, I've done some work on this request, but I want to make sure my implementation wasn't going to rock the boat too much before I go any further. I'm proposing a change to how the Configuration object holds and validates the preset option. Since all preset should implement the Preset Interface, I think the OptionsResolver should check the preset value using a closure to determine if the 'preset'

[2020-10-12 05:01] olivernybroe commented on #370
@Andrew-Shook, hmm, I don't mind changing stuff there at all.

However I am not sure I totally follow how this would work then.

Right now if you supply no preset, it will run the guess in the config resolver. All of the predefined presets have a method for determine if they should be activated.

If we remove the presets constants, how would the config resolver know which presets to check this met

[2020-10-13 08:12] olivernybroe commented on #436
Thanks for looking into this.

@miken32 Great question. This is a tough one, as that increases this repositories complexity as we would have to support a lot of new lines of codes, which we would prefer not to. However those sniffs are also really important to keep.

Did you also check that we can't replace any of them with slevomat sniffs?

I created an issue in slevomat's package https://github.

[2020-10-13 08:13] olivernybroe commented on #431
So it seems like #414 is done now, however I think making v2 release without fixing #436 might be a bad user experience.

WDYT?

[2020-10-13 08:19] 50bhan commented on #431
@olivernybroe Agree! And I believe it's nice to have a look into #430, because `symfony` users can't install `phpinsights` right now.

[2020-10-13 08:56] olivernybroe commented on #436
Alright, so it sounds like slevomat wouldn't mind having the sniffs in their codebase.

This means someone has to make pr's with the sniffs we need to their codebase and then we can depend on a new slevomat version in here instead.

[2020-10-13 11:36] Jibbarth commented on #430
I just looked this issue.

Regarding your `composer.json`, the conflict appears on `composer/semver` package.

It's required by `vimeo/psalm`, and as psalm has been installed first, it's installed at v3.*.

In `phpinsights` dependencies, we require `composer/composer`, which has a dependency to `composer/semver` in v1.*.

When Composer v2 will be released, which has a dependency to `composer/semve

[2020-10-13 11:44] Jibbarth commented on #431
@olivernybroe Agree with you. It would be better to jump to v2 without abandoned project as dependencies.

@50bhan I just check the #430. For me, it's not related to symfony, just to an other dependency. I think I provided a solution in the issue :wink:

[2020-10-13 13:26] 50bhan commented on #436
@olivernybroe Which rules do we need exactly? Maybe I can help with those PRs.

[2020-10-13 13:28] olivernybroe commented on #436
I think @miken32 created a full list of what we need 👍

[2020-10-13 13:37] 50bhan commented on #436
@olivernybroe Oh you're right! I didn't see it :blush: Thanks!

[2020-10-23 20:23] quintenbuis commented on #376
I've added the requested feature in #441 . If there needs to be added more config options please put it in the PR! 😄

[2020-10-29 14:01] mwi-gofore opened #445 "Composer 2.x installation problem"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14.0

Could you tag a new version, so that this package is installable by Composer 2.x:

[code]

Using `dev-master` version works just fine...

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  https://www.patreon.com/nunomaduro
👉  https://

[2020-11-04 02:52] lybuneiv commented on #436
any solution?

[2020-11-04 08:00] 50bhan commented on #436
@lybuneiv Yep, we are adding the deprecated sniffs to slevomat's package. When this process completed, we can change our dependency.

[2020-11-04 13:33] mwi-gofore opened #446 "Can't install on PHP 8 (RC3)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | master

Cannot install on PHP 8;
[code]

[2020-11-04 15:09] nunomaduro commented on #446
https://github.com/nunomaduro/phpinsights/pull/444

[2020-11-04 23:43] axelitus commented on #445
Hopefully a new release can be tagged soon.

[2020-11-05 05:58] olivernybroe commented on #445
The new release won't be made before we have fixed #431, #436, #446.

Help on these would be highly appreciated.

[2020-12-15 12:19] marktan93 commented on #367
I have the same issue `[COMPLEXITY] 86.8 pts with average of 1.40 cyclomatic complexity`
Fixed all the reported error, but still not getting 100pts

[2020-12-23 12:10] saimonh3 opened #449 "Referenced sniff "PHPCompatibility" does not exist"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14.0

Whenever I run the command, I always get the following error. I see a similar issue https://github.com/nunomaduro/phpinsights/issues/426

<img width="700" alt="Screen Shot 2020-12-23 at 6 07 40 PM" src="https://user-images.githubusercontent.com/13016829/102994801-fcbb6200

[2020-12-23 12:13] 50bhan commented on #449
@saimonh3 Could you tell me what your PHP version is?

[2020-12-23 12:14] saimonh3 commented on #449
@50bhan I'm on PHP 7.4

[2020-12-23 12:17] 50bhan commented on #449
@saimonh3 So, please run it again with verbose output.

[2020-12-23 12:41] saimonh3 commented on #449
@50bhan Nevermind, I removed vendor dir, and composer install again, seems working fine now.

[2020-12-23 12:41] #449 closed

[2020-12-24 15:57] miguelselectra opened #450 "the custom config of LineLengthSniff doesn't work for me."
| Q                | A
| the custom config of LineLengthSniff doesn't work for me. | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 1.14.0

Hi guys,
I found trouble trying to change the config/insights.php in a Laravel project. When I try to change the values it doesn't change anything when I run the PHPInsight.
![image](https://user-images.githubusercontent.com/5481061

[2020-12-24 16:54] 50bhan commented on #450
@miguelselectra Could you please test your code with the dev-master branch?

[2020-12-29 12:14] miguelselectra commented on #450
I did it but the behavior does not change 🤔

[2020-12-29 12:55] 50bhan commented on #450
@miguelselectra Unfortunately I can't reproduce your issue and everything seems fine.

How do you run the `phpInsights`? Via `php artisan insights` or './vendor/bin/phpinsights analyse` command?

[2020-12-30 15:43] miguelselectra commented on #450
The second one, I tried with this one:
vendor/bin/phpinsights analyse app/Exports/Subscriber.php

[2020-12-30 15:50] 50bhan commented on #450
@miguelselectra Can you pass the config file through command parameters and check if it's working?

`./vendor/bin/phpinsights analyse app/Exports/Subscriber.php --config-path=PATH/TO/CONFIG/FILE`

[2021-01-11 09:02] gerryd opened #451 "Configuring custom indent style for PHP-CS-Fixer"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 1.13.0

I would like to configure PHP-CS-Fixer with a custom indentation style. With native PHP-CS-Fixer, this can be done by using `setIndent()` when creating the configuration, but it is not clear to me how this should work when running through PHP Insights.

Any hints? Thanks!

[2021-01-24 19:05] Jibbarth commented on #451
Hi @gerryd :wave:

Sorry for the delay :sweat_smile:

I just checked, it's not possible currently.

But it would be "easy" to implements.

I see two way of handling this:

### A global config
By global config, I think to a `indent` option that could be in `phpinsights.php` config file.
[code]

We would have to:
* Add an indent option in config file (with default with 4 space)
* Pass this configura

[2021-02-01 19:56] pedroufv opened #455 "Security Checker"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| Library version  | 1.15.0

There is a problem with the Security Checker, every time it fails and I therefore had to disable it to continue using it in CI

https://github.com/nunomaduro/phpinsights/blob/master/src/Domain/Insights/ForbiddenSecurityIssues.php

This file uses a package that has recent

[2021-02-03 10:27] mwi-gofore commented on #446
moved to #448 apparently

[2021-02-06 16:21] tarlepp opened #457 "PHP8 Constructor Property Promotion error"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14.1

If we're using PHP8 and new `Constructor Property Promotion` feature it seems like PHP Insights doesn't understand that those parameters are actually used.

`src/Foo.php`:
[code]

`src/Bar.php`:
[code]

And when I run PHP Insights I get error;

[code]

Which is not true.

[2021-02-08 22:37] MatanYadaev opened #458 "`CyclomaticComplexityIsHigh` doesn't respect `exclude`"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | dev-feature/php8-and-github-action

Excluding files from being tested in the `CyclomaticComplexityIsHigh` sniff isn't preventing the error message.

This is the regular output, before excluding any file:
[code]

And this is after excluding `src/Factory.php`

[code]

As you can se

[2021-02-09 17:53] Jibbarth commented on #457
Hi @tarlepp

Thanks for reporting :+1:

It seems that the Sniff rule is `SlevomatCodingStandard\Sniffs\Functions\UnusedParameterSniff` right ?

Following this issue https://github.com/slevomat/coding-standard/issues/1156, the promotion property support is added in dev-master, so we can expect support soon :slightly_smiling_face:

[2021-02-09 19:21] tarlepp commented on #457
@Jibbarth First of all, thanks for quick reply! I didn't look for the root cause for this, just reporting issue - and it seems like you're right with that issue on that slevomat repository (or at least it seems to be the issue) - So we just need to wait that they release new version `7.0.0` (if I understand that correctly) and then PHP Insights needs to update that dependency to next major and rel

[2021-02-09 19:57] Jibbarth commented on #458
Hey ! Thanks for reporting.

Maybe this is related to #367 ?

[2021-02-09 19:59] Jibbarth commented on #455
Hello !

We already provide a fix for the 1.14.x version.

The 1.15.0 version you mention doesn't exist. Did you mean dev-master ?

If it's the case, we 'll soon backport the fix on it.

Thanks

[2021-02-09 19:59] #455 closed

[2021-02-15 00:17] adrianb93 commented on #430
For me, it's clashing with nunomaduro/larastan at v0.7.0. I downgraded that to 0.6.13.

[2021-03-01 17:12] AlexandruGG opened #461 "PHP 8 | Github Actions | Random Failure"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | dev-master

Hello, I'm trying PHP Insights on a fresh Symfony 5.2 installation with PHP 8 and running it in GitHub Actions. I've also disabled a few sniffs which are known to not work yet in PHP 8.

The problem is sometimes it works without issue, but other times I get this error

[2021-03-03 16:17] emjayess commented on #429
Honorable *mentions*
* #61 ~ **Implement output-format option**
* #202 ~ **Implement option to output issues grouped by file**
* #232 ~ **Improvement: add serve dashboard command / static page**

---

Seems like a presentation template that could ingest/interpret the json output format would be a nice addition, which a few folks seem to've [tinkered with already](https://github.com/nunomaduro/phpi

[2021-03-04 01:18] Borlabs-Ben opened #462 "Type hint not detected when using @var on property"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14.1

When writing a type hint on a property using @var, PHPInsights doesn't detect the native type.

[code]

This doesn't restrict to arrays, strings, int, object, bool and NULL do not work too.
Only callable works for the moment.

## Example Code
[code]

<!--
Love PHP Insight

[2021-03-05 19:44] dsamburskyi opened #463 "Checkstyle report: convert "source" attribute to dot notation format"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.14.0

"source" attribute in checkstyle.xml report is just an insight title, for example `source="Element name minimal length"`.
[code]

It seems to be a common convention to use a dot notation for the "source" attribute.
Examples:

- Checkstyle repo https://github.com/checkstyl

[2021-03-06 08:33] Jibbarth commented on #463
Hi @dsamburskyi :wave:

This seems legit :+1:

If you can submit a PR, it'll be very appreciated.

I think we should use `$insight->getInsightClass()` (with backslash transformation in dot) instead of `$insight->getTitle()` in `src/Application/Console/Formatters/Checkstyle.php` and in message, pass `getTitle` in case there is no message. WDYT ?

[2021-03-06 08:45] Jibbarth commented on #462
Hi :wave:

I think it's the desired comportment.

Here is the official explanation of the sniff: https://github.com/slevomat/coding-standard#slevomatcodingstandardtypehintspropertytypehint-

When using PHP7.4, this sniff enforce you to use native type, so you should do the following:

[code]

In case you don't want use native type hint, you may configure the sniff with `'enableNativeTypeHint' => f

[2021-03-06 08:45] #462 closed

[2021-03-06 08:53] Jibbarth commented on #461
Hi :wave:

Thanks for reporting :+1:

I recently updated this part of code to raise an error if the output Parallel Php Lint is not a json (see https://github.com/nunomaduro/phpinsights/blob/master/src/Domain/Insights/SyntaxCheck.php#L73)

Could you try to reproduce the same execution for this Insight in your CI and provide us the output ?

That should be something like that:

[code]

Thanks

[2021-03-06 08:58] Jibbarth commented on #446
#448 is merged :tada:

[2021-03-06 08:58] #446 closed

[2021-03-06 09:05] Jibbarth commented on #390
I think we can close this issue now :tada:

[2021-03-06 09:05] #390 closed

[2021-03-06 09:08] Jibbarth commented on #354
Here is how we handle it in our github-action workflow:

[code]

Refs https://github.com/nunomaduro/phpinsights/blob/master/.github/workflows/format.yaml#L51-L56

[2021-03-06 09:08] #354 closed

[2021-03-06 09:23] Jibbarth commented on #417
The composer validator has now an option to disable version check. https://github.com/composer/composer/pull/8802

However, that could work only when using ComposerV2.

But maybe we should configure level to raise issue ($errors, $publishErrors, $warnings)

[2021-03-06 13:15] AlexandruGG commented on #461
Hi @Jibbarth 👋

Thanks for the reply. I did like you asked, and here's the outcome.

When the job is successful, this is the output:

[code]

However, when the job fails, this is what I see:

[code]

I'm guessing this warning is what's causing it to fail, but it's something I see in my other jobs running in CI and it doesn't affect anything else.

[2021-03-09 20:29] dsamburskyi commented on #463
Thanks for the advise, this saved my time :)
I've submitted https://github.com/nunomaduro/phpinsights/pull/464

[2021-03-12 19:36] hermann8u opened #465 "Ordered imports may consider function import to be at this end of the import list"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.14.1

Hi !

When I use function import, for example with the php function method_exists, I get this issue :

[code]

The parser expects my function imports to be alphabetically sorted mixed with my classes import. However it's common to put function import after class imports.

[2021-03-15 13:38] mihai-stancu commented on #5
@nunomaduro regarding the help wanted tag, I'm guessing this would mean implementing the necessary configuration for `humbug/box` building the phar itself, signing it and implementing the necessary `phive` configuration?

Do you forsee anything else? Automated build steps to be added? The signature would still need your manual input as far as I can imagine.

I haven't done this before but i'd give

[2021-03-15 16:19] szepeviktor commented on #5
@mihai-stancu If you get Box working I'll add the rest.

[2021-03-16 17:51] hwmatthewa opened #466 "VisibilityRequiredFixer on PHP 8 union types"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | dev-master

Suggestion for VisibilityRequiredFixer is incorrect and sniff does not recognize union types correctly.

Minimal code reproduction:
[code]

Output:
[code]

[2021-03-16 19:43] cfinnestad commented on #466
union type defacto standard (99% use case examples) is not to has spaces around the |

private array|string|null $myVar;

public function example(): array|null
{
    return [];
}

PHPInsights still can't handle it in many different rules
* ParameterTypeHintSpacingSniff
* PropertyDeclarationSniff
* BinaryOperatorSpacesFixer (this is not a binary operator but it thinks it is and wants spaces around

[2021-03-21 10:54] #463 closed

[2021-03-21 11:04] #367 closed

[2021-03-21 11:04] #458 closed

[2021-03-21 11:37] Jibbarth commented on #466
Hi :wave: Thanks for reporting.

However, I think this should reported in [PHP-CS-Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer) repository.

For space around pipe, you may use [this advice](https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/5495#issuecomment-777187487)

[code]

[2021-03-21 11:42] Jibbarth commented on #461
:thinking:

Well, I suppose that this PHP Warning is the cause. As it's added in the output, we cannot parse it as Json..

Did you have any way to reproduce it easily, so I'll can search for a workaround ?

[2021-03-21 12:07] Jibbarth commented on #465
Hi :wave:

Isn't already the case ?

This Fixer can be configured :
![image](https://user-images.githubusercontent.com/3168281/111904236-22bbaa00-8a46-11eb-814b-b521dfaea805.png)

You can see also https://mlocati.github.io/php-cs-fixer-configurator/?#version:2.17|configurator|fixer:ordered_imports

Can you provide a reproducer ?

[2021-03-22 23:30] mihai-stancu commented on #5
Conundrum:
- `php-scoper` moves every class into a unique namespace
- `./you-project/phpinsights.php` -- (the configuration file) references the original class names to add / remove metrics and sniffs et.al..

I need to find a way to fetch the current `php-scoper` unique namespace root, and to try to prefix everything in the config file with it.

[2021-03-23 05:58] szepeviktor commented on #5
Why do we need `php-scoper`?

[2021-03-23 17:21] AlexandruGG commented on #461
I can confirm it's the cause of the issue, however I found an easy workaround by just providing the `session.name` in the php ini file. I had it set to an environment variable but was not providing it when running the php-fpm docker container.

Feel free to close this issue if it's not a problem for anyone else 😁

[2021-04-01 12:30] ibeona commented on #450
Hello @50bhan ,
I'm following this issue, with config path, it seems to works well, yes!

[2021-04-01 21:46] #450 closed

[2021-04-04 22:36] RobertEcker opened #468 "Useless variable and empty if statement detection"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request?      | no
| Library version?      | dev-master

[code]

It says "Useless variable $sql."

[code]
It says "Empty IF statement detected"
I guess because of the newline formatting (including 4 spaces)

[2021-04-05 19:28] bitgandtter opened #469 "class property visibility false positive"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | master

I think there is a false positive on classes using php8 annotations, for example:

[code]

raises `UserDTO.php,line=15::* [Property declaration] Visibility must be declared on property "$email"`

[2021-04-06 21:47] RobertEcker opened #470 "Match cannot be analyzed and produces fatal error (memory issue)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | dev-master

[code]

It cannot be analyzed and produces out of memory "Fatal error: Allowed memory size of ..."

[2021-04-12 14:01] Braunson commented on #445
This is still an issue, curious why this hasn't been resolved?

I'm using Composer 2.0.12 and getting the same error:

[code]

[2021-04-12 14:38] 50bhan commented on #445
@Braunson As @olivernybroe said before, we need to fix a couple of issues before fixing this. The main problem is deprecated dependencies that are still in progress.

[2021-04-15 17:56] osteel commented on #470
Not sure if related but PHP Insights recently started to flag the semicolons after `match` statements as useless. Using `dev-master` as well.

[2021-04-16 07:39] #461 closed

[2021-04-16 21:48] Crell opened #475 "Allow same-line braces for empty constructors"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes?
| Library version  | 1.14.1

I'm not sure if this is more feature request or bug.  Refile as needed.

With constructor promotion in PHP 8, it's now common to have a constructor with no body.  The most natural way to write that is this:

[code]

However, the `PhpCsFixer\Fixer\Basic\BracesFixer` chec

[2021-04-17 11:07] Jibbarth commented on #469
Hello @bitgandtter

I just try with your sample, I don't get the same result.

It raise to me only unused use.

![image](https://user-images.githubusercontent.com/3168281/115110806-8241a280-9f7d-11eb-8e62-7bc9ddf8919b.png)

However, this issue shouldn't be raise also. I have to check on [slevomat/coding-standard](https://github.com/slevomat/coding-standard) if we can bypass this.

[2021-04-17 11:14] 50bhan commented on #436
We've been waiting for a couple of months to add these deprecated sniffs to the `slevomat` package and I can't predict how long it might take until we add all the sniffs there (because its maintainer is busy). Actually, he merged two of my PRs, so we need five more.

I think we can remove these five sniffs for now (or maintain them temporarily) until he merges my other PRs. This way we can release

[2021-04-17 11:19] Jibbarth commented on #468
Hi @RobertEcker :wave:

[code]
The tool is right to say the variable is useless :wink:

You can do the following :

[code]
See [example](https://3v4l.org/Z1WH4)

---

[code]
Can you provide your full `if` ? If you `if` has no brace with something in it, I'm afraid that the tool is right again :sweat_smile:

[2021-04-17 11:31] Jibbarth commented on #470
Thanks for reporting @RobertEcker, but I was unable to reproduce an out of memory error. Do you have more details ?

@osteel, you are completly right, good catch.

It seems that is already fixed in Slevomat/coding-standard (https://github.com/slevomat/coding-standard/issues/1171).

But it's released under ^7.0, so we have to support this version now :slightly_smiling_face:

[2021-04-17 12:05] Jibbarth commented on #475
Hello @Crell

You are totally right, this rule become quite annoying on PHP8.

However, this fixer is lead by [PHP-CS-Fixer]() and I didn't find yet a way to disable this brace check on empty constructor...

For reference, here is all options that we can add to this fixer: https://mlocati.github.io/php-cs-fixer-configurator/?version=2.12#version:2.18|configurator|fixer:braces

You may should remov

[2021-04-17 12:15] Jibbarth commented on #436
Hey @50bhan

I'm agree with you, it's took so long. We have also some fixed sniffs in slevomat/coding-standard:^7.0 about PHP8 that cannot be used for now because the package `object-calisthenics/phpcs-calisthenics-rules` force version for `slevomat` to v6. (cf https://github.com/nunomaduro/phpinsights/issues/470#issuecomment-821808803)

Do you think you can provide a PR with the 3 missing sniff i

[2021-04-17 12:18] 50bhan commented on #436
@Jibbarth Perfect! Sure, I'm going to make a PR for this.

[2021-04-17 12:39] Jibbarth opened #476 "Get ready for PHP-CS-Fixer v3"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | dev-master

The PHP-CS-Fixer v3 is incoming :tada:

This issue to check if it can be already used as dependency.

TODO:

- [ ] Require the beta on local env (see https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/3.0/UPGRADE-v3.md)
- [ ] Check if there is changed fixer definition

[2021-04-17 14:07] Crell commented on #475
Referred over to the PHP-CS folks, then: https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/5632

[2021-04-17 14:25] olivernybroe commented on #436
@50bhan sounds like you have a great plan here!
Let's do that then so we can get things moving on this.

[2021-04-19 07:58] RobertEcker commented on #470
[code]

I tried out a minimal example (see above). I guess the "match" is the problem.
It produces the following error in the php_error.log (after some GBs, I stopped ;-) ):

PHP Warning:  Undefined array key "scope_closer" in C:\wamp\www\rob.ec\hp\lib\misc\vendor\nunomaduro\phpinsights\vendor\slevomat\coding-standard\SlevomatCodingStandard\Helpers\UseStatementHelper.php on line 195

[2021-04-20 07:41] bsomeshwer commented on #424
Hi @50bhan / @olivernybroe ,

As I said, this issue is not there with 1.13.0 version that we are currently using but this 1.13 version has one security alert so, definitely we need to upgrade to 1.14 version.

But when I use 1.14 version I'm getting same issue as above..

![image](https://user-images.githubusercontent.com/39646194/115356890-b74a3100-a1d9-11eb-9159-7dfc9d95be7e.png)

Please see my

[2021-04-20 07:42] bsomeshwer commented on #424
Please find the latest screens below:

Exception trace:
at /var/www/vendor/nunomaduro/phpinsights/src/Domain/Insights/SniffDecorator.php:64
NunoMaduro\PhpInsights\Domain\Insights\SniffDecorator::NunoMaduro\PhpInsights\Domain\Insights\{closure}() at n/a:n/a
array_diff() at /var/www/vendor/nunomaduro/phpinsights/src/Domain/Insights/InsightCollectionFactory.php:118
NunoMaduro\PhpInsights\Domain\Insig

[2021-04-20 08:12] 50bhan commented on #424
@bsomeshwer Still can't reproduce your issue. But from looking into the stack trace, I think it might be related to the config. Can you post your config to see if there is an issue there?

[2021-04-20 08:33] bsomeshwer commented on #424
@50bhan , Could you please let me know which config you are referring to?

[2021-04-20 08:33] bsomeshwer commented on #424
Yeah, surprisingly it's not occurring in all machines. I'm able to reproduce it where as one of my teammate can not reproduce and it's all working fine in his machine.

[2021-04-20 09:48] bsomeshwer commented on #424
@50bhan , Here is the insights.php config file.

[code]

[2021-04-20 09:48] bsomeshwer commented on #424
do we need to change anything in the configuration file?

[2021-04-20 10:55] 50bhan commented on #424
@bsomeshwer Sure! I found the problem. In the `remove` section, you shouldn't specify functions for a sniff! Just add the name of the class and that's it.

Look at `ForbiddenDefineGlobalConstants` and `ForbiddenFunctionsSniff` classes! They should be like this:

[code]

[2021-04-21 05:27] prondubuisi opened #479 "PHP insights --fix flag does not work with multiple variations"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Library version  | 1.14.1

Hello, I am trying to use the `--fix` flag with multiple variations and none of the commands seems to work
This is what the official documentation recommends

[code]

Trying all the above commands says there is no command `fix`

[code]
Here is what I have tried extensively
[code]

[2021-04-21 05:37] 50bhan commented on #479
@prondubuisi Yes, you are right. It's because you're using the `1.14.1` version and there is no fix option. You can use `dev-master` or wait for the V2.0 release.

You can see the required version In docs: https://phpinsights.com/get-started.html#fixing-errors-automatically

[2021-04-21 05:42] prondubuisi commented on #479
Thanks, @50bhan.  Closing this now.

[2021-04-21 05:42] #479 closed

[2021-04-22 10:50] bsomeshwer commented on #424
Hi @50bhan , Thank you!
I have made the changes as you suggested and it's all working fine now.
Thanks a lot!!

[2021-04-22 10:53] 50bhan commented on #424
@bsomeshwer Great! Glad it worked 🙂

[2021-04-22 11:30] #424 closed

[2021-04-24 08:58] #431 closed

[2021-04-24 08:58] #436 closed

[2021-04-24 08:58] #445 closed

[2021-04-24 08:58] #457 closed

[2021-04-24 08:58] #470 closed

[2021-04-24 09:05] #417 closed

[2021-04-24 09:05] Jibbarth commented on #417
Thank you @akosglue to add this feature :100:

[2021-04-24 15:23] nunomaduro commented on #5
Let's re-open this issue, eventually if someone decides to work on this.

[2021-04-24 15:23] #5 closed

[2021-04-24 15:23] #294 closed

[2021-04-24 15:30] #270 closed

[2021-04-24 15:31] nunomaduro commented on #8
No plans to work on this at this time.

[2021-04-24 15:31] #8 closed

[2021-04-24 15:31] nunomaduro commented on #13
No plans to work on this at this time.

[2021-04-24 15:31] #13 closed

[2021-04-24 15:32] nunomaduro commented on #35
No plans to work on this at this time. Feel free to make a pull request with this feature.

[2021-04-24 15:32] #35 closed

[2021-04-24 15:33] nunomaduro commented on #37
No plans to work on this at this time.

[2021-04-24 15:33] #37 closed

[2021-04-24 15:37] nunomaduro commented on #65
Can you try with the latest master and re-create a new issue with the same content if you are still having this issue?

[2021-04-24 15:37] #65 closed

[2021-04-24 15:37] #97 closed

[2021-04-24 15:37] #105 closed

[2021-04-24 16:02] nunomaduro commented on #109
No plans to work on this at this time.

[2021-04-24 16:02] #109 closed

[2021-04-24 16:04] nunomaduro commented on #257
@criszacca Fell free to make a pull request with this feature. Thanks!

[2021-04-24 16:04] #257 closed

[2021-04-30 10:04] akosglue commented on #476
The first problem is that I cannot install v3.
composer.json updated to:
`"friendsofphp/php-cs-fixer": "^3.0.x-dev",`
then run composer update.
However:

`  Problem 1
    - symplify/easy-coding-standard[9.1.0, ..., 9.2.0] require friendsofphp/php-cs-fixer ^2.17.3 -> found friendsofphp/php-cs-fixer[dev-master, v2.17.3, ..., 2.19.x-dev (alias of dev-master)] but it conflicts with your root composer.

[2021-04-30 10:55] 50bhan commented on #476
@akosglue Yes, you are right. It's because the required version is ^2.0 for now. I believe after the PHP-CS-Fixer releases version 3.0, they will update the version and we are good to go.

[2021-05-03 12:28] Blitheness opened #483 "[Docs] Function length sniff configuration"
The [documentation ](https://phpinsights.com/insights/architecture.html#function-length) for `\SlevomatCodingStandard\Sniffs\Files\FunctionLengthSniff::class` is using an incorrect key in the example configuration.

Instead of "maxLength", it should be "maxLinesLength" as per [FunctionLengthSniff.php:44](https://github.com/slevomat/coding-standard/blob/0012151f0f0fc33709472667368c568dffda2839/Slev

[2021-05-03 15:34] 50bhan commented on #483
@Blitheness Yes, you are right! I've just changed this property name in the `Slevomat` package to be more consistent but forgot to change it here as well 😅  Thank you for this 👍

[2021-05-05 08:50] Gabe122 opened #485 "[Question] Security issues found on dependencies"
How can i resolve this without updating laravel version.

version: Laravel Framework 7.30.4

![image (5)](https://user-images.githubusercontent.com/83697252/117116540-122a7d80-adc1-11eb-8c1d-be07efd6938a.png)

reference: https://github.com/laravel/framework/security/advisories/GHSA-4mg9-vhxq-vm7j

[2021-05-05 09:05] #485 closed

[2021-05-05 09:05] nunomaduro commented on #485
That question is not related to PHP Insights.

[2021-05-05 10:16] Gabe122 commented on #485
but running php insights give me this security issue. is there any workaround in insights to resolve this?

[2021-05-05 10:26] nunomaduro commented on #485
No - you need to update.

[2021-05-05 10:35] 50bhan commented on #485
@Gabe122 It seems you're using Laravel v7.30.4. So, `PhpInsights` is complaining about the security issue. So, as @nunomaduro said, in order to get rid of this message, you need to update your Laravel (actually to be safe).

[2021-05-05 16:28] 50bhan commented on #476
@Jibbarth As you know, they've released the PHP-CS-Fixer v3. Do you think can we update this before the new release? Or even it's a good idea?

[2021-05-07 12:14] akosglue commented on #476
I think it is still not installable:

symplify/easy-coding-standard v9.3.1 requires composer/xdebug-handler ^2.0

composer/composer 2.0.13 require composer/xdebug-handler ^1.1

[2021-05-07 17:28] Jibbarth commented on #476
Well, simplify is only used in dev-dependency. If their dependencies are too agressive, maybe we can remove it ? Not totally, but install it in an  other place. I'll try to test this this weekend 🤞

[2021-05-07 23:25] dshoreman opened #486 "SyntaxCheck insight isn't excluding files correctly"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | dev-master

## Update

**This issue is mostly a fault-finding log at this point; for a tl;dr, check the related PR: #487.**

### Original text

I recently added phpinsights to the arsenal of CS/SA tools in my project, using the `laravel` preset in my config.

When I run phpinsigh

[2021-05-08 05:47] 50bhan commented on #486
@dshoreman I think the way you're using the exclude is not quite right. Can you please use this way:

[code]

Doc: https://phpinsights.com/insights/#configure-insights

[2021-05-08 17:16] dshoreman commented on #486
@50bhan That's what I tried first, but it doesn't get picked up. Only the fully-resolved insight-specific excludes are included in `$this->excludedFiles`, not ones from the root-level exclude list.

That said, manually excluding it shouldn't be required, because it's already excluded in the preset on line 39:
https://github.com/nunomaduro/phpinsights/blob/d4f92e93a2a5ddf90664eb6a4cb9d159440abbcf/s

[2021-05-08 17:48] dshoreman commented on #486
Now that I think about it, there could actually be two bugs here:

1. `root.exclude` items aren't passed at all because they're missing from `$this->excludedFiles`
2. `config.<SyntaxCheck::class>.exclude` items *are* passed, but as full paths where parallel-lint expects relative ones

[2021-05-08 19:32] dshoreman commented on #486
@50bhan I'm digging into this atm, and the issue seems to be introduced by the [large project patch][1] in #437.

Prior to that patch, the command didn't use `--exclude`, but passed the entire list of **filtered files** to be scanned. That resulted in arg lists that were too long, so naturally it was inverted.

Now that it's "opt-out", the filtered file list is no longer used. I've just figured ou

[2021-05-11 16:55] Jibbarth commented on #476
Well, the last version of symplify/easy-coding-standard replace php-cs-fixer and php-codesniffer.

![image](https://user-images.githubusercontent.com/3168281/117855059-64b8dd80-b28a-11eb-9d3c-39a1bd7929df.png)

We'll probably remove it :roll_eyes:

[2021-05-13 17:15] #486 closed

[2021-05-14 13:43] osteel opened #488 "maxLinesLength seems to be ignored for sniff FunctionLengthSniff"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | master ([85a5670](https://github.com/nunomaduro/phpinsights/commit/85a5670ab2492cfe489eff23b5a14d4c9364ac3f))

I'm using the `SlevomatCodingStandard\Sniffs\Functions\FunctionLengthSniff` for which I set a custom value like this:

[code]

But the analysis still uses the default va

[2021-05-14 22:09] 50bhan commented on #488
@osteel Thank you for reporting this. Already opened a PR for fixing this.

[2021-05-18 13:18] bebetoalves opened #491 "Installation error caused by incompatibility with Infection dependencies?"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  |  1.14

My project has `infection/infection` installed, when I try to install PHP Insights I get this error:

[code]

I don't know if it's really a problem with PHP Insights or infection, but I can solve this problem first by installing PHP Infection and right after infection.

[2021-05-18 15:30] bebetoalves commented on #491
I think this is fixed by #490

[2021-05-24 00:27] RobertEcker opened #493 "PHP Warning: Undefined array key "scope_closer" in vendor\slevomat\coding-standard\SlevomatCodingStandard\Helpers\UseStatementHelper.php on line 195"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | master

Still have
PHP Warning:  Undefined array key "scope_closer" in vendor\slevomat\coding-standard\SlevomatCodingStandard\Helpers\UseStatementHelper.php on line 195

if using "match" in source code
[code]
also

Useless parentheses for "`$result = match ($match) {`" - not sure

[2021-05-24 16:20] #488 closed

[2021-05-25 01:02] guywarner opened #495 "Add support for "Code Climate" format output (GitLab.com Code Quality)"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 2.0

Add a new format for output `codeclimate`. While not used a lot, it's the format required to use the Code Quality widget in GitLab.com.

https://github.com/codeclimate/platform/blob/master/spec/analyzers/SPEC.md#data-types

While gitlab.com only requires a few of the fields,

[2021-05-25 13:12] Jibbarth commented on #495
That would be an awesome new feature !
For the fingerprint, a md5 should work or it has to be in sha256 ? As we already use md5, I think there is no need to add `hash` in composer require.

Do you need some help to implement the new formatter ?

[2021-05-25 15:46] guywarner commented on #495
md5 would be fine for the hash. I'll get a PR up shortly!

[2021-05-25 15:52] eerison opened #496 "Add Cognitive complexity"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.14.0

Font: https://blog.sonarsource.com/cognitive-complexity-because-testability-understandability

maybe it can be a good feature for the project.

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  https://www.patreon.com/nunomaduro
👉  ht

[2021-05-25 17:17] Jibbarth commented on #496
It would be really interresting ! Any idea on how to implement this ?

[2021-05-25 17:21] guywarner commented on #496
This would be awesome.  Some digging came across this PHPCS standard. https://github.com/Rarst/phpcs-cognitive-complexity/blob/master/src/CognitiveComplexity/Analyzer.php

[2021-05-25 17:21] eerison commented on #496
well no idea how to implement this in the lib, But I can see how `CyclomaticComplexityIsHighTest` works and try to open a Pull Request.

[2021-05-25 19:02] Jibbarth commented on #493
Hi ! I just tested with your reproducer, I'm not able to reproduce. Do you have any hint ?

![Peek 25-05-2021 19-19](https://user-images.githubusercontent.com/3168281/119553905-5e535700-bd9c-11eb-80e1-7e24b2ddd69c.gif)

[2021-05-25 20:39] RobertEcker commented on #493
[test.php.txt](https://github.com/nunomaduro/phpinsights/files/6542248/test.php.txt)

hi :), a minimum examples - without trait it works (thought it is cause of match - maybe i will find also another example)

[2021-06-03 23:50] adrianb93 opened #499 "A removed fixable sniff is being fixed when running `phpinsights fix`"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | master (2.0)

I am using the Laravel adapter with the `config/insights.php` config. I removed the `DeclareStrictTypes` sniff which works for linting/analysing:

[code]

When I run `vendor/bin/phpinsights fix`, it is adding `declare(strict_types=1);` to all my files.

Given I remo

[2021-06-05 18:02] Jibbarth commented on #499
When you use `vendor/bin/phpinsights fix`, it looks for a `phpinsights.php` config file at the root.

To use it with your config file, you have to pass it the path :

[code]

[2021-06-05 18:02] #499 closed

[2021-06-05 19:22] #495 closed

[2021-06-08 11:34] AdamMarton opened #500 "Please introduce AWS CodeBuild-compatible report formats"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | TBD

Would be great to have any of the formats supported by PHPInsights [listed here](https://docs.aws.amazon.com/codebuild/latest/userguide/build-spec-ref.html#build-spec.reports.file-format).

I'll happily contribute too, if possible.

[2021-06-08 20:06] wlarch commented on #63
I have encountered the memory limit using PHP command line interface ( CLI ) and has a hard time finding how to increase the memory limit. After trying to modify the loaded `php.ini` file or specifying the memory as a CLI parameter `php -d memory_limit=2G ./vendor/bin/phpinsights`, I realized the memory limit stayed the same 134217728 bytes (128M).

I found out I had a previous `phpcs.xml` file fo

[2021-06-08 20:07] wlarch commented on #77
My latest comment on this issue can help others :
https://github.com/nunomaduro/phpinsights/issues/63#issuecomment-857082767

[2021-06-14 02:04] xstat opened #501 "PHP Insights v1.14.1 chokes on array_reduce"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 1.14.1

- If a class method contains a call to array_reduce then the complexity shows 100%.
- [COMPLEXITY] 100 pts with average of 0.00 cyclomatic complexity

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  https://www.patreon.com/nunomadur

[2021-06-14 19:55] 50bhan commented on #501
@xstat Can you test your code on master?

[2021-06-15 16:13] xstat commented on #501
@50bhan Thank you for you quick response.

I tested it in master with PHP version 7.4.20 and I got the same results.

13:12 $ ./bin/phpinsights --version
PHP Insights v1.14.1

PHP 7.4.20 (cli) (built: Jun  4 2021 21:24:37) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.20, Copyright (c), by Zend Technologies
    with Xdebug v3.0.4

[2021-06-15 22:15] federf opened #503 "Question: Is there a way to apply phpinsights only over modified code?"
Hi. I'm trying to integrate PHP Insights into our CI and I'm having a hard time trying to apply the library only over modified code.

I've only managed to limit the execution to modified files but we have some pretty old legacy code that might be troublesome to refactor as of now and would like to avoid checking the whole file in those cases.

Is there a way to limit the execution of the library o

[2021-06-15 23:52] 50bhan commented on #503
@federf I believe there is no way at the moment with the tool. But you can use a script to get a diff between your branches and then pass that list of files to the `analyse` command in `PhpInsights`:

https://phpinsights.com/get-started.html#analyse-multiple-paths

[2021-06-16 01:48] federf commented on #503
@50bhan thanks for replying. that's actually what im doing right now. I made this script to get and process every modified php file on its own.

[code]

It works fine but I still need to find a way to "limit" the code evaluation to only the modified lines for "legacy code" files.

[2021-06-16 06:23] 50bhan commented on #503
@federf Ah OK. I think it's not possible for `PhpInsights` to work on line level. Because it's a wrapper around different tools and those tools are working on file level. Although there are some ways to work around this on some of those tools, but I believe it's not possible to use them with `PhpInsights`.

[2021-06-19 14:42] #476 closed

[2021-06-19 14:52] Jibbarth commented on #501
Hello @xstat

Actually, 100pts it's a good thing, it's mean your code is clear and no complex.

Did you expect a lower score ?

[2021-06-19 15:42] Jibbarth commented on #451
Done in #502
Thank you @gerryd :+1:

[2021-06-19 15:42] #451 closed

[2021-06-19 15:45] Jibbarth commented on #503
I'm closing this issue, @50bhan answered right.

May be our next step will be to add a "baseline" to exclude some already raised issues, like on `phpstan`

[2021-06-19 15:45] #503 closed

[2021-06-19 15:53] Jibbarth commented on #466
Hi :wave:

The latest version now use PHP-CS-Fixer v3, it seems the initial issue is fixed. I'm closing this issue

[2021-06-19 15:53] #466 closed

[2021-06-19 15:57] Jibbarth commented on #500
Hello :wave:

Any idea which report should be the best ?

You can grab information from the issue #495 (and related PR #498) which integrate a new formater for codeclimate if you want to contribute :slightly_smiling_face:

[2021-06-19 16:03] xstat commented on #501
Yes, the code is a complete mess... it has 330 cyclomatic complexity and I
am only anaysing a single class.

On Sat, Jun 19, 2021 at 11:52 AM Jibé Barth ***@***.***>
wrote:

--
Ignacio Rodriguez Faillace

[2021-06-19 17:07] Jibbarth commented on #501
@xstat So the bug is that when an array_reduce is present into code, all complexity is ignored ?

Is it possible for you to provide a reproducer ? :pray:

[2021-06-21 12:15] JoyceBabu commented on #5
@nunomaduro Did you really intend to close this?

[2021-06-21 16:20] xstat commented on #501
Hi Jibe,

Just the summary complexity is ignored.

Attached is an example class with 10 cyclomatic complexity and a call to
array_reduce().

phpinsights analyse example.php

[image: Screenshot from 2021-06-21 13-18-46.png]

As you can see, the overall complexity shows 100pts but should be 0pts with
10 cyclomatic complexity.

If you comment out the array_reduce part you'll see the correct output.

[2021-06-21 17:11] tarlepp opened #504 "Syntax error - In SyntaxCheck.php line 57"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.0.0

Tried to run version 2.0.0 to Symfony application and I'm getting following error:

[code]

Tried that with also with Symfony stub configuration and the results are the same.

Added some simple debug there;
[code]

And the output from that is:
[code]

Seems like I'm missin

[2021-06-21 17:48] Jibbarth commented on #504
Thank you @tarlepp for reporting. It's an interrested case you find here.

In effect, using bamarni composer plugin may lead to this.

I'm wondering if we have a better way to find the executable. Any Idea ?

[2021-06-21 19:12] Jibbarth commented on #501
Thanks @xstat, but can you post your attachment directly on Github ? :sweat_smile: It's seem when responding by email, no image or attachment is added

[2021-06-21 19:39] hdcore opened #506 "Wrong namespace in documentation FunctionLengthSniff"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.0.0

The documentation for "Architecture / Function length" contains the bad namespace part "Files" instead of "Functions"  for the Insight Class v2.0 line. In #489 the configuration line was already corrected.

[2021-06-21 20:37] 50bhan commented on #506
@hdcore Hah! I must forget this one 😄  Thank you for reporting this!

[2021-06-21 20:46] Jibbarth commented on #506
Thank you for reporting, fixed in #507 👌

[2021-06-21 20:46] #506 closed

[2021-06-21 23:16] kjdev opened #508 "Directory file paths have double DIRECTORY_SEPARATOR"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.0.0

When `/app` is set as the execution directory, `$this->directoryList` in `NunoMaduro\PhpInsights\Infrastructure\Repositories\LocalFilesRepository::within()` keeps a double path of `//app` and DIRECTORY_SEPARATOR `//app` and DIRECTORY_SEPARATOR will hold a double path and w

[2021-06-22 05:28] 50bhan commented on #508
@kjdev Thank you for reporting this. I'll check it as soon as possible.

[2021-06-23 05:19] vuongng commented on #504
![image](https://user-images.githubusercontent.com/45582795/123039833-62b77200-d425-11eb-845e-df60d0e1c8be.png)

Hi @Jibbarth and @tarlepp I'm facing same issue and this is my workaround

Remove `**JSON_THROW_ON_ERROR**` flag and it works correctly

![image](https://user-images.githubusercontent.com/45582795/123039965-8a0e3f00-d425-11eb-9f5c-f8965672ec94.png)

[2021-06-23 07:11] GunaWirawan opened #510 "ParseError when call insights"
I got this error when use `php artisan insights` :

[code]

[2021-06-23 11:25] 50bhan commented on #510
@GunaWirawan Could you please provide your `PhpInsights' config?

[2021-06-24 08:27] GunaWirawan commented on #510
this is my insights.php :

[code]
Version I'm using:
[code]

[2021-06-24 13:56] 50bhan commented on #510
@GunaWirawan Can't reproduce your issue. Could please run the command again with verbose parameter? `php artisan insights -vvv`

[2021-06-24 21:08] longestdrive opened #511 "Logic Exception unable to find data within Laravel project"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 2.0

HI
I'm using php insights for the first time. I've installed the package within my Laravel project and published the config file.

On first run I get this error:
[code]

I'm not sure where to start working out what's gone wrong. The controller exists - what does this error me

[2021-06-25 08:05] GunaWirawan commented on #510
`php artisan insights -vvv`

Result:
[code]

[2021-06-26 05:43] 50bhan commented on #510
Everything is fine on my side. It's weird. @Jibbarth Any ideas?

[2021-06-28 05:58] thanosalexander commented on #511
same situation @longestdrive . I receive same error for an existing file. Someone to help?

[2021-06-28 06:15] 50bhan commented on #511
@longestdrive @thanosalexander Could you please provide a code sample to reproduce the issue?

[2021-06-28 06:19] thanosalexander commented on #511
I realised when i comment out this function
![image](https://user-images.githubusercontent.com/6491808/123589399-d674c880-d7f1-11eb-905f-772a7bc1becf.png)
inside BaseCryptModel
then it passes!

[2021-06-28 06:26] 50bhan commented on #511
@thanosalexander Is it your namespace? `//app/app/Logic/Base/BaseCryptModel.php`? And how did you called the `PhpInsights` when you got the error? Using Laravel artisan command or `analyse`?

[2021-06-28 06:29] thanosalexander commented on #511
i use docker (lando specifically) and app's root lives in `/app`
I use insights with `php artisan insights` command in Laravel. (maybe i'll try analyze later)

[2021-06-28 06:32] 50bhan commented on #511
@thanosalexander Thank you for your feedback. I think the problem might be related to another issue: #509. Because of this, we have a problem when the path is `/app`. But I already opened a PR for it: #509.

[2021-06-28 06:34] thanosalexander commented on #511
nice @50bhan , thank you!
So do you think the problem is on directory path structure instead of this `DB::statement(sprintf("SET @AESKEY = '%s'", $key));` line? Because when i comment it out it works!

[2021-06-28 06:39] 50bhan commented on #511
@thanosalexander That's weird 😄  But I'm sure that we have this problem with `/app`. And by the way, I couldn't reproduce the issue, so I believe it happens because of this directory path.

[2021-06-28 06:57] thanosalexander commented on #511
got it.. so we'll be waiting till next commit to be fixed!

[2021-06-28 17:29] longestdrive commented on #511
Hi - I fixed my issues by making some edits to the file where that failed - some just editing the dependancies, others just adding or editing a comment. Use of `php artisan insights` then failed on another file - I kept going through appx 20 files and then it now works ok
I did a dump-autoload at one point and wonder if there is a cache or similar that insights is pulling from?

[2021-06-28 19:07] RobertEcker opened #512 "Visibility required vs. Syntax Check"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | master

Given:
`private array | null $request;`

**[Code] Visibility required:**

(-)    private array | null $request;
(+)   private array | public null $request;

I change it to:
`private array | public null $request;`

**[Style] Syntax Check:**

- PHP syntax error: syntax erro

[2021-06-28 19:14] tshubbard opened #513 "InvalidArgumentException when initially doing composer require..."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | master

I just tried to run `composer require nunomaduro/phpinsights --dev` and I'm getting the following error:

[code]

I am using
PHP: 7.4.12
composer: 2.1.3

I have seen from some other posts that PHPUnit 9.0+ is required and I am using 9.5.

Any ideas? Thanks!

[2021-06-28 19:27] 50bhan commented on #513
@tshubbard Just installed `PhpInsights` without any problem based on your mentioned configuration:
![Uploading Screen Shot 2021-06-28 at 23.54.57.png…]()

[2021-06-28 19:44] tshubbard commented on #513
ah my bad... after looking thru the composer.json there was a block in repositories for
[code]
that is what was messing this up. old codebase troubles... Thanks!

[2021-06-28 19:44] #513 closed

[2021-06-29 15:37] 50bhan commented on #511
@longestdrive Of course we have cache on `PhpInsights` right now. Now I'm wondering if this error is related to the cache or something else.

[2021-06-30 20:43] djallits opened #514 "Line Length vs 0 lines between same types Errors"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.0.0

[code]
Generates **Line exceeds 80 characters; contains 84 characters**

[code]
Generates **Expected 0 lines between same types of use statement, found 1.**

Simple solution would be to not sniff `use` statements for line length.

[2021-06-30 20:45] djallits commented on #514
Should also mention that the following is valid. Note  there is a line break with the last `use` statement, but no following use statements.

[code]

[2021-07-04 08:38] Jibbarth commented on #512
:wave: It seem related to #466

Can you check if the PHP-CS-Fixer version used is the v3 ?

[2021-07-04 08:47] Jibbarth commented on #510
:thinking: For me, this error could be raised cause php version.

Are you sure that php version used in CLI is php7.4 ?

[2021-07-04 09:30] Jibbarth commented on #491
Is it fixed for you @bebetoalves ?

[2021-07-04 09:40] RobertEcker commented on #512
👋 i installed it from scratch and it is working now :) thanks

[2021-07-04 09:40] #512 closed

[2021-07-11 12:52] #508 closed

[2021-07-11 13:02] Jibbarth commented on #491
Feel free to reopen if it's not the case :wink:

[2021-07-11 13:02] #491 closed

[2021-07-11 13:17] bebetoalves commented on #491
It's fixed, thank you!

[2021-07-11 13:21] #504 closed

[2021-07-13 19:20] AntonLugtenburg commented on #511
I get the same error no matter which file im checking - on laravel and php 8, also in new Project...

[2021-07-15 16:33] SlyDave opened #517 "Undefined constant 'T_MULTIPLY' when trying to remove a PHP_CodeSniffer Sniff via configuration file"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.0.1

'preset' => 'laravel',

adding `\PHP_CodeSniffer\Standards\PSR2\Sniffs\Classes\PropertyDeclarationSniff::class` to remove section of configuration results in

Undefined constant 'T_MULTIPLY'

  at vendor\nunomaduro\phpinsights\src\Domain\InsightLoader\SniffLoader.php:29

I

[2021-07-15 16:49] SlyDave opened #518 "Laravel configuration reports the laravel way of doing things as an issue..."
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 2.0.1

    'preset' => 'laravel',

default laravel configuration reports "Do not use public properties. Use method access instead." for $incrementing, $timestamps, $preventsLazyLoading, $exists, $wasRecentlyCreated, $timestamps, $snakeAttributes, $encrypter, $timestamps - which is

[2021-07-18 15:53] ebess opened #519 "Summary only in json formatter"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | v2.0.1

When I use `--summary` option, I'd expect the Json Formatter to return only the summary. Are there any reason not to do this?

[2021-07-23 15:35] jonassiewertsen opened #520 "A failing security check inside a GitLab pipeline does not return a error message"
| Q                | A
| ---------------- | -----
| Bug report?      | maybe
| Feature request? | yes
| Library version  | 2.0.1

If running inside a GitLab Pipeline and failing the Security Check, no error message will be shown.
It will simply exit without any further information.

![Screenshot 2021-07-23 at 17 32 24](https://user-images.githubusercontent.com/38906163/126805908-001d5879-549f-4ecd

[2021-07-26 09:59] JulianMar opened #521 "Multiple inline doc comments"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.0.1

Awesome Package first and foremost!

Now to my issue, I register multiple Macros in my AppServiceProvider like this:

[code]

for my ide to recognize the `$this` I need to add a doc comment which defines the type. like this:

[code]

Now phpinsights gives my a false positi

[2021-07-26 13:32] JulianMar commented on #521
Okay seems to be an issue of the slevomat coding-standard.

closing for https://github.com/slevomat/coding-standard/issues/1254

[2021-07-26 13:32] #521 closed

[2021-07-26 18:33] mikemand opened #522 "Version conflict with psr/cache v3"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.0.1

Trying to install PHP Insights into a project that already has `psr/cache` installed at v3 causes Composer to complain. It appears that `symfony/cache`, which this package relies on, locks `psr/cache` to `^1.0|^2.0`. It looks like I already have `doctrine/annotations:^1.13

[2021-07-27 19:16] alvarezmario commented on #518
Any updates on this? I wanted to add this awesome library to my project, but I'm getting the same errors as @SlyDave. It'll be awesome to get them solved before installing the library

[2021-07-27 22:15] nunomaduro commented on #518
Sure - @alvarezmario @SlyDave can you try to solve those issues?

[2021-07-29 09:29] d8vjork opened #523 "Autofix with PSR12 use braces doesn't work as expected"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.0.1

### Original file

[code]

### Actual behavior

And on the autofixed one this line just got removed:

[code]

### Expected behavior

Just remove the unused imported class `RewardfullRegister` and the braces:

[code]

This autofixing is always breaking our app in all this c

[2021-07-29 19:48] tuarrep commented on #522
On my side `psr/cache` is a dependency required by `php-cs-fixer` (through `doctrine/annotations`) too.

I've installed `nunomaduro/phpinsight` with `--with-all-dependencies` flag and my `php-cs-fixed` still works.

[2021-08-05 06:02] 50bhan commented on #518
@SlyDave @alvarezmario @nunomaduro I believe there is no way to ignore specific variables with this sniff. We can only remove it from the Laravel preset.

[code]

[2021-08-05 07:07] 50bhan commented on #517
@SlyDave Unfortunately There is no way to remove a specific part of a sniff. So, if you don't want this check, you have to remove the entire sniff.

[2021-08-05 07:53] SlyDave commented on #517
That's what I expected, it'd be good to get those sniffs broken down into more granular sniffs for better control.

and unfortunately it doesn't stop the fact that attempting to disable the whole sniff causes the error mentioned above. 😢

[2021-08-05 08:02] SlyDave commented on #518
That's not ideal, Should it not be possible to determine if the class being inspected extends Model and test the properties against the list of public properties in Model ignoring them if they match. Yes I understand it'll need specific Laravel sniffs. But without that the Laravel preset is useless no?

[2021-08-05 10:13] 50bhan commented on #518
@SlyDave Yes, it's not ideal but at the moment we have no other choice but to remove it. And Laravel preset is just a boilerplate for assigning specific sniffs to a Laravel project and nothing more.

[2021-08-06 06:49] Lootjs opened #526 "CodeClimate report has correct format?"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.0.1

How phpinsights generate report now:
[code]
And CodeClimate spec (https://github.com/codeclimate/platform/blob/master/spec/analyzers/SPEC.md#data-types) requires:

1. **check_name**. not checkname
2. **content** field
3. **categories**, not **category**. And field must be

[2021-08-06 06:54] 50bhan commented on #526
@Lootjs Could you please provide a fix for this? As I'm personally not an expert at CodeClimate.

[2021-08-10 21:02] stayallive commented on #517
Adding `PHP_CodeSniffer\Standards\PSR2\Sniffs\Classes\PropertyDeclarationSniff::class,` to the `remove` section causes that error, it is also listed here as just that: https://phpinsights.com/insights/code.html#property-declaration.

What else could be disabled that includes this one causing the error?

[2021-08-14 11:49] laudaikinhdi commented on #367
I have issue the same. How to fix? tks

[2021-08-25 10:09] jrean opened #528 "Unable to locate publishable resources."
After a fresh install,
- "nunomaduro/phpinsights": "^2.0"

As stated in the documentation:
- `php artisan vendor:publish --provider="NunoMaduro\PhpInsights\Application\Adapters\Laravel\InsightsServiceProvider"`

Outputs:

[code]

[2021-08-27 01:18] lloricode opened #529 "--fix introduce bugs of static properties"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.0.1

Hi @nunomaduro , i found this with `--fix`, just notice this when running check by phpstan/larastan

![Screenshot from 2021-08-27 09-19-25](https://user-images.githubusercontent.com/8251344/131056385-95f57d7e-7b64-4d78-8753-7c70c1706e7f.png)

Thank you

[2021-09-08 12:38] kniziol opened #530 "[Question] Is it possible to exclude insight per particular file (or pattern of files)?"
🙃

[2021-09-08 16:34] LucasLavallee opened #531 "[Question] How to explain a complexity of 37 on a class that seems not complex at all."
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 2.0.1

By executing the command `php artisan insights -v ` on Laravel, I end up with a file with 37 cyclomatic complexity. I don't think that this file is that complex. Does the problem come from the logical AND operator ? In this case, is it possible to reduce this complexity?

H

[2021-09-10 09:34] kniziol opened #532 "[Question] Is it possible to exclude insight per particular method?"
Let’s take a look at result of source code scanning:

[code]

File `src/Form/LoginType.php` mentioned by the PHP Insights contains class `LoginType` that extends `AbstractType`:

[code]

Definition of the [buildForm()](https://github.com/symfony/form/blob/325f8c34c3bc58192274e64f042cfc2daad792b0/AbstractType.php#L26) method that I have to implement looks like this:

[code]

Whole source code of th

[2021-09-10 10:04] kniziol commented on #532
I will answer myself 😏

## TL;DR

Use annotation:

[code]

## Details

The `\SlevomatCodingStandard\Sniffs\Functions\UnusedParameterSniff` is responsible for `[Code] Unused parameter` error and contains `private const NAME = 'SlevomatCodingStandard.Functions.UnusedParameter’;` that should be used with `@phpcsSuppress` annotation in this way:

[code]

[2021-09-11 11:21] gsusI commented on #43
Fixed by installing `php7-mbstring` `php7-iconv` in that order

[code]

Original solution here: https://github.com/docker-library/php/issues/240#issuecomment-355489551

[2021-09-20 12:00] mirzazeyrek opened #535 "[Question] Any progress on baseline feature ?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | all

Thank you for the good work on this analysis tool. I would like to integrate it in an existing project but it seemed a bit difficult without baseline feature.

Couple of months ago phpmd also included a baseline feature as in phpstan. Jenkins also has similar features. I was

[2021-09-20 13:45] nunomaduro commented on #535
No plan or progress at this time.

[2021-09-20 13:45] #535 closed

[2021-09-26 19:53] rslanzi opened #536 "[Question] Where can I get information on reported errors?"
For a number of errors reported by phpinsight, I cannot find any references on the web to understand how to solve them. For example "Forbidden setter" and "The use of traits is prohibited".

PS: it would be nice if for each rule there was a link for further information.

[2021-09-27 06:21] 50bhan commented on #536
@rslanzi I believe it's straightforward. The rule says that you shouldn't use any `setter` in your code. One way is to avoid setters and remove them from your code and the other way is to remove this rule and get rid of the errors. I don't know which way do you prefer.

[2021-09-27 07:17] rslanzi commented on #536
No, sorry, I misspoke. I meant that I would like to understand why setters (and traits...) are to be avoided and therefore how to refactor the code to pass the test. Is there a book or a site with these "new" best practices?

[2021-09-27 09:02] 50bhan commented on #536
@rslanzi Oh, now I got your point. This is something different and out of the scope of `PhpInsights`. It's more like as you said, best practices. I can't refer to one specific resource, but something like avoiding setters is related to object immutability which you lose if use setters. By the way, you can find some of these best practices in books like `Object Design Style Guide`.

[2021-09-27 18:53] eleftrik commented on #536
And what about avoiding traits? I can't get the point. Laravel itself uses traits widely.

[2021-09-27 19:32] 50bhan commented on #536
@eleftrik Of course. IMHO, using these rules is relative and you can use them or not. Depending on your project, team, technical decisions, etc. But there is a reason behind every rule. For instance:

`Traits make it very easy to write bloated classes that have too much responsibility. A Trait is essentially a way to “copy and paste” code between classes. By having a way to very simply add another

[2021-09-27 20:22] #536 closed

[2021-09-28 00:08] guywarner commented on #531
All the returns are treated as an if statement.

[code]

Becomes:

[code]

[2021-09-28 00:10] guywarner commented on #530
lol not sure if being facetious or not

https://phpinsights.com/insights/#exclude-folder-or-files

[2021-09-28 00:11] guywarner commented on #526
I'll have a fix-up tomorrow.

[2021-09-28 00:28] guywarner commented on #520
Can you provide any code that fails the security? Using it on GitLab and not experiencing this.

[2021-09-28 00:47] guywarner commented on #528
Ran that command and got:

[code]

Maybe try composer update and try again?

[2021-09-28 06:13] kniziol commented on #530
Here is the solution I've been looking for: https://phpinsights.com/insights/#configure-insights-2.

Example:
[code]

[2021-09-28 06:13] #530 closed

[2021-09-28 07:38] jonassiewertsen commented on #520
You are getting error messages if a security check fails @guywarner ?

[2021-09-28 11:29] eleftrik commented on #536
Thanks for your kind reply.
I'm still perplexed, because "Use of traits is prohibited" sounds very dogmatic and less prone to interpretation...

[2021-09-28 14:00] mattheo-geoffray opened #537 "[QUESTION] Exclude sub sniff in config"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.14.1

Hello,

I would like to know how to exclude a specific sub sniff from a main sniff?

For exemple the sniff `\SlevomatCodingStandard\Sniffs\TypeHints\ReturnTypeHintSniff` contains sub sniffs like:
- MissingAnyTypeHint
- MissingNativeTypeHint
- MissingTraversableTypeHintSpe

[2021-09-28 21:15] 50bhan commented on #537
@mattheo-geoffray I believe at the moment it's not possible. @Jibbarth Can you confirm that?

[2021-09-29 06:29] Jibbarth commented on #537
Yep, I'm afraid it can't be done.

Maybe by using the phpcsSuppress annotation ?

[code]

but i'm not sure.

[2021-10-02 12:36] Jibbarth commented on #529
Hey @lloricode, thanks for reporting.

This rules is provided by Slevomat\CodingStandard (https://github.com/slevomat/coding-standard#slevomatcodingstandardcontrolstructuresdisallowshortternaryoperator-), so I think you should create an issue there.

[2021-10-02 12:36] #529 closed

[2021-10-02 12:42] Jibbarth commented on #532
Thanks for your detailed answer. Would you want provide a PR to explain that here https://phpinsights.com/insights/code.html#unused-parameter

[2021-10-02 12:43] lloricode commented on #529
Thank you

[2021-10-02 12:47] Jibbarth commented on #510
@GunaWirawan do you still have the issue ?

[2021-10-02 13:01] Jibbarth commented on #517
Removing this rule make that the file `PHP_CodeSniffer\Util\Tokens` is never used.

As this file define lot of Token, others sniff are break.

A workaround would be to force call `(new Token())` inside the SniffLoader, or we have to find a way to always integrate it.

[2021-10-02 13:35] #526 closed

[2021-10-02 20:54] guywarner commented on #520
They aren't, but I think that'll be fixed in the next release (you can try using master and see).

But, you can download the Artifact from GitLab and open the codeclimate json and search for security to see what the issue is being reported.

[2021-10-04 16:40] kniziol commented on #532
Yes. I’ve created PR 👆

[2021-10-10 12:32] olleharstedt opened #544 ""vendor" is hard-coded"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  |PHP Insights v1.14.1

Can't use this nice lib in our repo, since we're using a custom vendor folder in our composer.json:

[code]

Can you adapt the tool so it reads this config instead of having vendor hard-coded?

The tool works when manually replacing "vendor" with "third_party

[2021-10-22 02:17] lloricode opened #546 "Able to set timeout limit"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 2.0.1

Hi can we able to set this dynamically by adding `->setTimeout()` ?

https://github.com/nunomaduro/phpinsights/blob/d07b45bb8add1f608fd007efbb989ecca59e3e96/src/Domain/Insights/SyntaxCheck.php#L54

I have an issue of `timeout` after adding more feature on a large project

[2021-10-28 07:41] mkoske opened #547 "Average complexity misleading?"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| Library version  | x.y.z

Isn't the average complexity a bit misleading? If you have many simple classes, like entities with just getters and setters, with very low complexity and then some classes that have high complexity, the average will still be low.

E.g. I have average complexity of 1.51 an

[2021-10-28 21:59] emjayess opened #548 "Removing insights (classes) via config isn't removing removed insights' checks"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | ^2.0

Per the documentation on [removing insights](https://phpinsights.com/insights/#remove-insights), I do:
[code]

And then run insights:
`$ phpinsights analyse my_code -c=~/myinsights.php -v`

And in the output, still get:
[code]

#### Why not removed / ignored??

[2021-11-07 18:03] Bill-ColeUS opened #549 "Support for non-composer installs"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 2.0.1

Our projects don't use composer and we are not allowed to use composer.

Could you please make phpinsights work without composer? We like how PHPStan works that way, we can define our own autoloaders.

Thank you.

[2021-11-12 12:15] mathews-p opened #550 "Codeigniter 3 & 4 support needed."
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 2.0.1

-Please add Codeigniter 3 & 4 support

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  https://www.patreon.com/nunomaduro
👉  https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=66BYDWAT92N6L
--

[2021-11-12 12:21] #550 closed

[2021-11-17 21:38] wiklog commented on #511
In my case it's because some files are in Windows mode (crlf) not linux (lf). I applyed a dos2unix command to fix the error

[2021-11-21 21:06] ajmeireles opened #551 "Using PHP Insights with BitBucket?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | latest

---

Hi, everyone!

It's a just question! Can I use the phpinsights with BitBucket pipeline integration?

[2021-11-21 22:52] 50bhan commented on #551
@ajmeireles Of course, you can. You can find more detailed information here: https://phpinsights.com/continuous-integration.html

[2021-11-30 08:47] Marshud commented on #551
Thanks @50bhan however, the above link only shows Github Action and GitLab Code Quality, Bitbucket isn't mentioned anywhere. However, I will try running it as an extra step in the pipeline and see how it goes.

[2021-11-30 10:14] 50bhan commented on #551
Yes, you are right. Maybe you could PR the workaround afterward 🙂 I believe you can run it by adding something like this:

[code]

[2021-11-30 15:25] alexmakii opened #553 "Make phpinsights check tests directory"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 1.14 ... 2.0

phpinsights ignores `tests/` directory.

Documentation states that by default it should exclude only `vendor`, `node_modules` and `bower_components`.

I agree that fixing issues in tests can be cumbersome. But phpinsights helps keeping same code style for all tracke

[2021-11-30 16:57] Marshud commented on #551
Sure thing let me look into it

[2021-12-02 13:02] stefankaters opened #554 "A new Laravel project gives me a bunch of warnings/errors"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| Library version  | 2.0.1

Hey Nuno (if you are reading this),

I would like to start off by saying that I really appreciate your work and contributions to the open-source community.
I think you did a fantastic job on these projects and I would to thank you for that. I would also like to thank the ot

[2021-12-27 18:29] Sergiobop opened #555 "--fix Issues. Not fixing the things it 'fixes' and producing weird style score"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.0.1

Im using the fix option. The result is saying it fixed a few issues:
[code]
But it's not true, running it again, produces the same result.

In addition, the style score is super different when running the --fix command (when i run with --fix, i have 97.5% style), when i do

[2022-01-11 13:19] Bill-ColeUS commented on #549
no interest... closing.

[2022-01-11 13:19] #549 closed

[2022-01-12 16:51] lucabartoli opened #556 "Syntax error in SyntaxCheck.php line 56 on docker image"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | Docker image : latest

Tried
`docker run -it --rm -v "$(pwd):/app" nunomaduro/phpinsights`

on a laravel project (wanted to run an analysis without actually running the project or loading dependencies)

I got
[code]

There are no other info, but please ask if something has to be

[2022-01-22 12:42] BlackScorp opened #557 "PHP 8.1 ENUMS are detected as GOTO Statements"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | v2.1.0

I use in my current Project PHP 8.1 new Feature enums

[code]
running phpinsights leads the part with enum Status: string into "Use of the GOTO language construct is discouraged" error

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉

[2022-01-25 13:54] julianstark999 commented on #557
[squizlabs/PHP_CodeSniffer](https://github.com/squizlabs/PHP_CodeSniffer) currently does not support Enums.
There is an Issue to Issue to track what needs to be done. https://github.com/squizlabs/PHP_CodeSniffer/issues/3479

[2022-01-26 08:03] lloricode opened #558 "Issue with fix with php8.1 constant"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | x.y.z

Hi, i was reported this from https://github.com/slevomat/coding-standard/issues/1331
can you help me to show what sniff caused the change?

thank you

[2022-01-28 17:59] BlackScorp commented on #557
Ah okay thank you, i close this ticket then

[2022-01-28 17:59] #557 closed

[2022-02-02 14:14] Seldaek opened #559 "Remove composer/composer dependency"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | x.y.z

Please do not rely on composer/composer, this tends to make a mess like https://github.com/composer/composer/discussions/10502

The way I see it from a quick look in the source, the only use case is checking for lock file validity, which really should be done via `composer

[2022-02-08 10:51] Borlabs-Ben opened #560 "ForbiddenGlobals ignores exclude config"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.1.0

The file in `exclude` is ignored by the [ForbiddenGlobals](https://phpinsights.com/insights/code.html#forbidden-globals) rule.

[code]

Example code:
[code]

[2022-02-10 08:29] divoto opened #561 "version problem in composer for clean Laravel 9."
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | x.y.z

On clean Laravel 9 i get error when using composer require:

`composer require nunomaduro/phpinsights --dev
Using version ^2.1 for nunomaduro/phpinsights
./composer.json has been updated
Running composer update nunomaduro/phpinsights
Loading composer repositories with pack

[2022-02-11 17:14] 50bhan commented on #560
@Borlabs-Ben I don't know what your problem is. Could you elaborate?

Because based on your explanation, the `WPDB` file is ignored and it's because it's in the `exclude` section. Isn't it the expected behavior?

[2022-02-11 17:33] 50bhan commented on #554
@katerss1 No, no code is perfect and of course, it depends. Because of the sniffs that you are using, the result would be different and it's not related to the code perfection. It's related to your expectation and config that you've chosen.

[2022-02-11 18:58] Borlabs-Ben commented on #560
The file is not ignored by the rule but it should. I still get the message of using global in WPDB.php

[2022-02-13 19:43] yoeriboven commented on #561
Yeah, I got the same on an upgraded installation instead of a clean one.

[2022-02-13 19:46] 50bhan commented on #561
Yes, there is an issue with dependencies. But you can fix it with `composer require nunomaduro/phpinsights --dev --with-all-dependencies` until the fix.

[2022-02-15 08:32] divoto commented on #561
Hi @50bhan . I have try it but without any success:
[code]

[2022-02-15 08:48] 50bhan commented on #561
@divoto It's odd! Because I was able to install the package on a clean L9.
<img width="1792" alt="Screen Shot 2022-02-15 at 12 17 21" src="https://user-images.githubusercontent.com/36772278/154025729-78467d75-72d2-4c14-921a-b47ddd235dae.png">

[2022-02-16 09:11] divoto commented on #561
What version of PHP. Mine is 8.0

[2022-02-16 10:07] divoto commented on #561
Hi @50bhan
I had time today to debug te error. It appears that was in conflict with **psr/simple-cache** that i had updated to 3.0 while phpinsights requires 1.0.*
Thanks for the support.

[2022-02-17 06:15] lloricode commented on #558
thank you

[2022-02-18 12:13] patrickomeara commented on #557
Just a note that the support has been merged into PHPCS but not yet released  https://github.com/squizlabs/PHP_CodeSniffer/pull/3478

[2022-02-22 00:07] lloricode opened #564 "Failed running fix command"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.1.0

Hi!,

after running `composer u`

[code]

it return this error
[code]

this is working as expected until running `composer u`

thank you

[2022-02-22 00:16] lloricode commented on #564
by running this command `composer require composer/composer:"dev-main#7328f5e"` it will be back to normal,

[2022-02-22 12:18] TAvsec commented on #561
Hi, I think that I have a connected issue. I managed to install phpinsights, but when I run `php artisan insights`, I get the following error:

[code]
This is my `composer.json` file:

[code]

I tried deleting `vendor` and `composer.lock`, as well as running `composer update`, but that did not fix the problem. Any ideas how could I fix the issue?

[2022-02-23 08:18] vaawebdev opened #565 "PHP Fatal error: Uncaught TypeError: Cannot assign Composer\PartialComposer to property NunoMaduro\PhpInsights\Domain\ComposerLoader::$composer of type ?Composer\Composer"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | v2.1.0

'preset' => 'laravel',

Running `./vendor/bin/phpinsights` results an error

Locked composer version "dev-main"

[code]

[2022-02-23 22:36] catabozan commented on #565
I'm getting the same error, just installed the library.

PHP: 8.1.3
Laravel: 9.2.0
phpinsights: 2.0.1

[2022-02-24 03:40] shomsy commented on #565
I have same error:

![image](https://user-images.githubusercontent.com/3872827/155453661-4a42c950-e035-45bb-aba5-a7a7e73025cb.png)

[2022-02-24 21:02] 50bhan commented on #565
The root of the issue is the composer. As the composer maintainer said in #559, we need to remove the `composer/composer` dependency. Because they split the class into a base class `PartialComposer` (https://github.com/composer/composer/pull/10547).

@nunomaduro @Jibbarth @olivernybroe Could you guys please help with this? As it's not possible to install the package anymore.

[2022-02-24 21:04] 50bhan commented on #561
@TAvsec Please follow this issue #565

[2022-02-24 22:02] nunomaduro commented on #565
The people reporting this issue, are free to make a pull request. Personally, I don't have time for this project. 👍🏻

[2022-02-25 09:51] Queopius commented on #565
Hello everyone! I have the same problem.
![Screenshot from 2022-02-25 10-48-23](https://user-images.githubusercontent.com/10995315/155693868-639fae72-f4e3-4a00-9c49-35e4011bf0d4.png)

[2022-03-04 09:51] tobigumo opened #567 "Issue on styling anonymous class with parentheses"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.1.0

In anonymous class style, I expected, class keyword, one space, parentheses, one space and opening curly brace.
but actual, no one space after class keyword.

## sample
test code
[code]
expected
[code]

actual
[code]

## reference
in [PHP-CS-Fixer](https://github.com/Frien

[2022-03-04 13:50] damek24 commented on #565
temp fix that worked for me:
in `src\Domain\ComposerLoader.php` change `fullLoad` parameter to true:
`self::$composer = (new Factory())->createComposer($io, ComposerFinder::getPath($collector), false, null, true);`

[2022-03-04 13:53] DannyvdSluijs commented on #565
That is what the pr in #566 does.

[2022-03-05 21:14] LocalHeroPro commented on #522
Update psr/simple-cache to v3 from v1 (2017 year)

[code]
or
[code]

[2022-03-08 00:44] cmgmyr commented on #565
fixed in #566

[2022-03-08 00:44] #565 closed

[2022-03-08 00:45] cmgmyr commented on #564
fixed in #566

[2022-03-08 00:45] #564 closed

[2022-03-08 00:45] cmgmyr commented on #561
fixed in #566

[2022-03-08 00:45] #561 closed

[2022-03-08 11:48] #560 closed

[2022-03-08 11:49] #510 closed

[2022-03-08 11:49] JustSteveKing commented on #510
Closing as no response for several months.

[2022-03-08 11:50] JustSteveKing commented on #166
Closing as no changes or updates for a couple of years. Will reinvestigate if this issue appears again

[2022-03-08 11:50] #166 closed

[2022-03-08 11:52] JustSteveKing commented on #260
No movement for years, closing to reassess at a later date if this becomes an issue again

[2022-03-08 11:52] #260 closed

[2022-03-08 11:52] JustSteveKing commented on #298
This is something that can be improved in wording and documentation

[2022-03-08 11:52] #298 closed

[2022-03-08 11:53] JustSteveKing commented on #295
No movement for a couple of years, closing with a view to look into if it becomes an issue moving forward

[2022-03-08 11:53] #295 closed

[2022-03-08 11:54] JustSteveKing commented on #302
Closing for now

[2022-03-08 11:54] #302 closed

[2022-03-08 11:56] JustSteveKing commented on #321
Closing for now, stale issue

[2022-03-08 11:56] #321 closed

[2022-03-08 11:57] JustSteveKing commented on #350
Gone stale, closing for now

[2022-03-08 11:57] #350 closed

[2022-03-08 11:58] JustSteveKing commented on #363
Keeping open for reference

[2022-03-08 12:00] JustSteveKing commented on #363
Looks like dependency investigation is needed for ongoing support, leaning on something like PHPStan over a specific coding standard might be worth investigating

[2022-03-08 12:01] JustSteveKing commented on #465
Question was answered, now stale - documentation improvements could highlight this

[2022-03-08 12:01] #465 closed

[2022-03-08 12:02] #468 closed

[2022-03-08 12:03] JustSteveKing commented on #469
Closing for now, reopen if still causing issue.

[2022-03-08 12:03] #469 closed

[2022-03-08 12:04] JustSteveKing commented on #475
PHP CS Fixer is not going to change this, will investigate options further. Closing for now, feel free to reopen if this becomes a priority

[2022-03-08 12:04] #475 closed

[2022-03-08 12:05] JustSteveKing commented on #493
Couldn't reproduce, changes in third part code standards causing issues - there will be an investigation into how we approach this.

[2022-03-08 12:05] #493 closed

[2022-03-08 12:06] #500 closed

[2022-03-08 12:07] JustSteveKing commented on #501
closing as issue has gone stale, if this needs investigating we will reopen

[2022-03-08 12:07] #501 closed

[2022-03-08 12:09] #511 closed

[2022-03-08 12:11] JustSteveKing commented on #517
Closing as PRs are open

[2022-03-08 12:11] #517 closed

[2022-03-08 12:14] JustSteveKing commented on #518
Sounds like the preset for Laravel caused the original issue, but it also limited. Will need to investigate how we run sniffs to see if we can create custom overrides? Closing for now, but will happily reopen should we need to.

There is a lot to go through with this library now with new PRs and changes that are in planning. Documentation on creating custom sniffs might be a good use of time here

[2022-03-08 12:14] #518 closed

[2022-03-08 12:16] JustSteveKing commented on #520
Closing as issue has gone stale. If this issue still persists we will investigate the reporting of these issue to see what improvements are needed.

[2022-03-08 12:16] #520 closed

[2022-03-08 12:17] JustSteveKing commented on #522
It sounds like circular dependencies are causing an issue. One of the upcoming tasks is to assess dependencies and see how we can handle these - so closing for now for further investigation.

[2022-03-08 12:17] #522 closed

[2022-03-08 12:18] #523 closed

[2022-03-08 12:19] #528 closed

[2022-03-08 12:19] JustSteveKing commented on #531
More insights into what the complexity means is needed in documentation. Closing as resolved

[2022-03-08 12:19] #531 closed

[2022-03-08 12:20] #532 closed

[2022-03-08 12:21] #537 closed

[2022-03-08 12:22] JustSteveKing commented on #544
Please provide a PR for this if you can, extending the complexity for none standard usage is something that increases library maintainance quite a lot.

[2022-03-08 12:22] #544 closed

[2022-03-08 12:22] JustSteveKing commented on #546
This would make a good PR, adding in an option to set timeouts would be cool.

[2022-03-08 12:23] JustSteveKing commented on #547
None issue - documentation needs clarifying what complexity measures and means

[2022-03-08 12:23] #547 closed

[2022-03-08 12:24] JustSteveKing commented on #548
Supporting the tilde symbol is not possible as this will only work on *nix systems not on all supported platforms. Closing as this is a none fix

[2022-03-08 12:24] #548 closed

[2022-03-08 12:25] JustSteveKing commented on #551
Closing until we see a PR come in

[2022-03-08 12:25] #551 closed

[2022-03-08 12:25] JustSteveKing commented on #553
Will investigate this one.

@alexmakii sorry new maintainers taking over so making notes. Is this still an issue for you?

[2022-03-08 12:26] #554 closed, assigned to nobody

[2022-03-08 12:27] JustSteveKing commented on #555
Will investigate and see what is going on here

@Sergiobop - sorry new maintainers taking over package, making notes on issues atm to take count of where we are. Are you still having this issue?

[2022-03-08 12:28] JustSteveKing commented on #556
@lucabartoli which PHP version are you running this on? Typically I see syntax errors on packages built in one PHP version ran in another one. Please check version support - and let me know if this is still an issue

[2022-03-08 12:29] #558 closed

[2022-03-08 12:30] JustSteveKing commented on #559
It sounds like the best approach for this is going to be building up a class around using composer as a process over using the library itself. Will move this to investigation stage - @Seldaek do you have any materials we can use to do a deeper integration with composer here?

[2022-03-08 12:53] Seldaek commented on #559
Not really sorry. I'm happy to help if you have specific questions.

[2022-03-08 13:01] Sergiobop commented on #555
Hey @JustSteveKing , thank you for your response. Yes, i still have the issue

[2022-03-08 13:07] JustSteveKing commented on #559
Thanks @Seldaek - I will chat with the other maintainer to see what we can do around this, and come back with any questions we might have.

[2022-03-08 13:08] JustSteveKing commented on #555
Thanks for the info @Sergiobop - will add it to the list as I know there have been a few issues with formatting

[2022-03-08 23:46] cmgmyr commented on #518
@JustSteveKing agreed about the documentation here. We might be able to eventually make custom sniffs that are more specific to Laravel too

[2022-03-09 10:02] lucabartoli commented on #556
@JustSteveKing it's a laravel project v^8.0, usually running on a normal 8.0-fpm-alpine

[2022-03-09 11:53] cmgmyr commented on #556
I verified the issue locally as well. The docker image is php 7.4. Once I changed it locally to 8.0 and rebuilt the image everything ran fine. I'm not sure why that line would be failing on 7.4

I'm going to need push access to docker hub first, but I think it might be a good idea to have tags for different php versions: 74, 80, 81

[2022-03-09 13:31] lucabartoli commented on #556
@cmgmyr great, thanks for your test!
If using a different php version for testing a codebase could be an issue, I too agree about creating different compiled images tagged by php version.
The strange thing is that laravel 8 is php ^7.3|^8.0 compatible, so I can run the same codebase with a php 7.4 and I can't understand why this could be an issue.

[2022-03-11 11:23] cmgmyr commented on #556
@lucabartoli yes, it's very strange. Right now I just bumped the PHP version in a new PR, but I've already pushed the new `latest` tag. Can you give it a try at your convenience? I've run it on a few projects and seems to be working fine on my end.

[2022-03-14 09:25] #556 closed

[2022-03-16 11:20] alexmakii commented on #553
@JustSteveKing
Yep, it still an issue. I've overpass this by adding additional step in pipelines, but...
It's an unexpected behavior, and I found this issue accidentally seen that my teammate added the obviously poorly written code in a test class.

As I understand, best option will be to add `check_tests: true` or `add_tests: true` till next major release. And make it default behavior on major re

[2022-03-17 15:00] Sergiobop commented on #565
Can we have a release with the fix @cmgmyr ? Thanks!

[2022-03-22 09:36] Sergiobop commented on #561
The problem is not solved @cmgmyr

  Problem 1
    - Root composer.json requires nunomaduro/phpinsights ^2.2 -> satisfiable by nunomaduro/phpinsights[v2.2.0].
    - nunomaduro/phpinsights v2.2.0 requires psr/simple-cache ^1.0 -> found psr/simple-cache[1.0.0, 1.0.1] but the package is fixed to 3.0.0 (lock file version) by a partial update and that version does not match. Make sure you list it as an

[2022-03-22 11:33] lucabartoli commented on #556
@cmgmyr it works, thanks!

[2022-03-23 14:03] peterfliszar opened #573 "Resolve dependency - psr/simple-cache v1.0 - lara 9.x"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 2.2.x

With Laravel 9.x installation, there is a conflict in dependencies.
- laravel require: "psr/simple-cache": "^1.0|^2.0|^3.0",
- phpinsights: "psr/simple-cache": "^1.0"

There is a workaround: locking all other packages to v1.0, it works fine, but this is only a workaround,

[2022-03-27 15:06] AyoobMH commented on #573
I believe this is a duplicate of #522

[2022-04-12 15:49] Krato commented on #573
Yes. But, how to resolve?

[2022-04-16 20:38] webard commented on #573
Look at usage https://github.com/nunomaduro/phpinsights/search?q=simplecache and make PR with newer version in composer.json, checking if everything works fine.

[2022-05-05 11:23] JustSteveKing commented on #553
This has moved to a discussion on a PR

[2022-05-05 11:23] #553 closed

[2022-05-05 11:25] JustSteveKing opened #576 "New major release - wishlist"
This issue is to keep a log on things the users of this package want. As maintainers we have a few ideas we would like to investigate, however we want to get ideas from people who use this package also so we can test ideas and get ideas to make this package better for all who use it.

[2022-05-05 11:26] JustSteveKing commented on #576
On thing we have weighed up is moving this package to its own organisation, taking the responsibility off of Nuno alone as a personal repo - but also to aid us in future efforts.

[2022-05-05 11:28] JustSteveKing commented on #576
Another option we are currently debating is a plugin ecosystem, where the base phpinights package will do basic custom tests and anything that requires a third party package is a plugin - allowing us to control dependency conflicts internally.

This would also allow users to create their own plugins to use either personally or to open source. The plugin ecosystem would be well documented and would

[2022-05-07 00:10] lupinitylabs opened #577 "Enum methods falsely reported as global helpers"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.2.0

I am getting a report that `Defining global helpers is prohibited` in an Enum with methods.
For example, consider the following Enum (doesn't make much sense, but it's for demo purposes only):

[code]

This will cause the following report:

[code]

If I understand the purp

[2022-05-07 02:59] lupinitylabs opened #578 "Enum definition triggers Discourage Goto error"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.2.0

[code]

This Enum will trigger the following error:
[code]

Looking at the Sniff class, it appears that it is listening for the T_GOTO_LABEL token, which does not seem to be listed in the official token list at https://www.php.net/manual/en/tokens.php, nor in the PHPTokeni

[2022-05-07 04:10] lupinitylabs commented on #286
I still encounter this exact same problem on version 2.2.0.
When putting an insights.php in the config dir of the app, it is ignored unless I invoke phpinsights using
[code]

[2022-05-11 19:05] AlexMartinFR commented on #286
I also have the same problem on a fresh project.

Can I do anything to help you debug this issue?

[2022-05-11 19:18] akosglue commented on #286
I guess you can reproduce it with these steps?
https://github.com/nunomaduro/phpinsights/issues/286#issuecomment-540749295

[2022-05-11 20:09] AlexMartinFR commented on #286
I got it.

I was running PHP Insights with the following command:

`./vendor/bin/phpinsights`
_(29 files analyzed)_

When doing so, the config file is ignored.

However, when we run it via artisan, the config file is properly taken into account:

`php artisan insights`
(28 files analyzed)

I can see that we made the same mistake, @lupinitylabs 🙃

[2022-05-13 09:41] salletti opened #579 "Unable to find composer binary folder"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.2.0

Step to reproduce bug

1) `composer require nunomaduro/phpinsights --dev`
2) `bin/phpinsights analyse src/Domain/`

Error:
<img width="1029" alt="Capture d’écran 2022-05-13 à 11 33 24" src="https://user-images.githubusercontent.com/3337106/168256876-62b1e8eb-5ec7-4536-8f

[2022-05-13 11:22] JustSteveKing commented on #579
@salletti thanks for reporting this, is this running within your projects root directory? And is your composer file in the same directory?

[2022-05-16 09:59] salletti commented on #579
Hi @JustSteveKing, thanks for replying. Yes I execute de analysis from root project and my composer file is in the root too.
And I use Symfony configuration.

[2022-05-27 14:46] cmgmyr commented on #573
Fixed in #580

[2022-05-27 14:46] #573 closed

[2022-05-31 17:58] Messhias opened #582 "Composer require issue with psr cache"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | I don't know
| Library version  | ^2.3

[code]

My composer.json:

[code]

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  https://www.patreon.com/nunomaduro
👉  https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=66BYDWAT92N6L
--

[2022-06-01 07:09] #582 closed

[2022-06-01 08:49] Messhias commented on #582
I saw here (https://github.com/nunomaduro/phpinsights/commit/4697df8300741268e75dad4f523a468734375deb), implemented to support the new version psr/cache, but it's not published yet, did you know when it'll release to packist?

[2022-06-01 10:18] Messhias commented on #556
I'm using this version:

[code]

And I'm getting this error as well on an Apple with M1.

Same error:
[code]

[2022-06-06 07:02] JustSteveKing commented on #582
Thanks now been released @Messhias 😄

[2022-06-06 17:42] tarlepp opened #583 "Possible false positive after updating to `2.4.0`"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.4.0

After updating to `2.4.0` I see following error:
[code]

And the related code:
[code]

I really think that error is false-positive - or am I missing something here?

<!--
Love PHP Insights? Please consider supporting us via Patreon or OpenCollective:
👉  https://www.patreon

[2022-06-13 07:05] JustSteveKing commented on #583
I completely agree, I have noticed this with `const` in PHP strongly typed, analysers seem to think it is incorrect. Which analyser did you use that is giving you this issue? Could you share your config?

[2022-06-13 07:06] JustSteveKing commented on #579
@salletti would you mind sharing your configuration with us at all so I can try to replicate this?

[2022-06-13 07:07] JustSteveKing commented on #578
Unfortunately I think Enum support in all tools is going to be slow progress to be introduced. This is an issue with a 3rd party dependency not the insights code, closing for now, but will keep an eye on the issue

[2022-06-13 07:07] #578 closed

[2022-06-13 07:09] #577 closed

[2022-06-13 07:10] JustSteveKing commented on #567
Hey @tobigumo do you have a copy of your configuration so we can see what we are dealing with?

[2022-06-13 07:13] #519 closed

[2022-06-13 07:16] tarlepp commented on #583
Sure, here is contents of `phpinsights.php` file:

[code]

[2022-06-16 09:12] DiplNext opened #584 "LogicException Unable to find data for Pivot Models in Laravel"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes/no
| Library version  | x.y.z

![image](https://user-images.githubusercontent.com/42368950/174036071-166e3f79-4278-473d-a16f-5050d5506016.png)
**DepartmentStaffStructure.php it's model for pivot table**
if I excluded this model all works perfectlly
<!--
Love PHP Insights? Please consider supporti

[2022-06-22 02:28] deniscsz commented on #584
I'm facing the same problem with `Actions` (https://laravelactions.com/).

[2022-06-22 07:02] JustSteveKing commented on #584
Thanks for reporting, we will look into this and see if we can replicate this issue

[2022-06-25 13:05] markkimsal commented on #556
Can confirm this happens on php 7.4.29 when running against a single blank file (just php open tag).

This version packaged via phpqa with php 7.4 does not work
[code]
[code]

This packaged version that is also v2.2.0 DOES work ... ?
[code]
[code]

[2022-06-28 23:10] guywarner commented on #584
I've got the same issue. I've tried to downgrade through all the versions (v2) and that just gives us different files throwing the error.

Some things that make no sense:

1. Works on 3 different locals. An Ubuntu and two Homestead vagrants
2. Fails in our CI/CD with this error
3. Adding `--fix` doesn't skip the cache. I could be wrong on it but it seems that should skip that portion throwing the

[2022-06-29 07:06] JustSteveKing commented on #584
Is there any chance of seeing what it is failing on class wise? Also the fll backtrace will help in seeing what is making it trip up 😃

[2022-06-29 07:11] #559 closed

[2022-06-29 23:01] guywarner commented on #584
I apologize that I didn't have enough time to fully attempt to debug this today. Here's some information that I was able to gather.

We are using docker in the CI runner: https://hub.docker.com/r/lorisleiva/laravel-docker (latest) running PHP 8.1

Error

[code]

Stack trace:
[code]

File:
[code]

If we remove the file then it will change to the next file in the folder. Remove the folder and it'll

[2022-07-07 14:05] RomkaLTU opened #586 "Run check only for changed files (pull request)"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Library version  | 2.4.0

Is it possible to run phpinsights only on changed file in pull request?

[2022-07-12 22:18] guywarner commented on #584
New development. Just suddenly started working again.

v2.4

But, after running `--fix` whatever files it changed, it breaks again—going to add it back into our regular CI/CD pipeline and see if we can pinpoint what's making it lose its mind.

[2022-07-13 07:08] JustSteveKing commented on #584
Thanks @guywarner - keep us updated?

[2022-07-13 18:06] LocalHeroPro opened #587 "Laravel custom rule - Unused parameter $attribute"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.4.0

Default custom rule for validation is: https://laravel.com/docs/9.x/validation#using-rule-objects.
So we don't have to use $attribute value and we need to use next value named $value.
But that app saying that $attribute is unused ;/ and showing `error`.
Can we omit that de

[2022-07-13 19:46] LocalHeroPro opened #588 "SuperfluousInterfaceNamingSniff - false possitive"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.4.0

[code]
and
https://www.php-fig.org/bylaws/psr-naming-conventions/

So why I can't have that suffux?

[2022-07-14 07:07] JustSteveKing commented on #588
This is coming from this package: `slevomat/coding-standard` which you are able to disable in config to get around.

[2022-07-14 07:07] #588 closed

[2022-07-14 07:23] LocalHeroPro commented on #588
I don't wanna go around. I wanna correct tests, so please reopen.

[2022-07-14 11:58] JustSteveKing commented on #588
You need to disable this check within your config

[2022-07-14 12:15] LocalHeroPro commented on #588
Why? That check working as expected with PHP FIG standards?

[2022-07-15 07:10] JustSteveKing commented on #588
From the `slevomat/coding-standard` docs:

[code]

This sniff will report on interfaces that suffix their name with `Interface`, which is why your code is being caught out here. I would recommend, as you are using a Contracts namespace, to rename these to Contract to avoid this sniff complaining

[2022-07-19 18:15] LocalHeroPro commented on #588
I fully understand that, but I want to know if that rule is compatible with FIG standards?

[2022-07-20 08:28] JustSteveKing commented on #588
@LocalHeroPro this sniff is not completely compatible with FIG

[2022-07-21 08:15] trothwell-carsguide opened #589 "Unparsable php code: syntax error or wrong phpdocs - PHP 8.1"
Q | A
-- | --
Bug report? | yes
Feature request? | no
Library version | 2.4.0 AND 2.0.0

Hello world!

Running into an issue when upgrading from PHP 8.0 to 8.1.8, same codebase now throwing the error **Unparsable php code: syntax error or wrong phpdocs**

**Code on these lines:**

This file is 142 lines with many more functions throughout yet these are the only parts picked up.

Many other standar

[2022-08-18 14:48] billypoke commented on #511
Pinning `friendsofphp/php-cs-fixer` at `3.9.5` worked for me as a temporary solution. `3.9.6` and `3.10.0` are both giving the error

[2022-08-18 14:58] billypoke commented on #511
@M1Screw sure thing. I had run a composer update only a few minutes before, and thankfully that was the only package that was updated so it was easy to backtrack to the problem

[2022-08-18 15:03] cpfpolkehn commented on #584
same strange problem here.

Within our team PHPInsights fails (with the `LogicException` mentioned above). It always fails for the same file, however the file is a random(?) different one for every team member and in our pipeline.

I put the following debugging code in `vendor/nunomaduro/phpinsights/src/Domain/Runner.php:run()`:

[code]

the output is that
- `$this->cache->has($cacheKey)` is `fals

[2022-08-18 15:12] pkarastelev commented on #511
This worked for me. Thanks!

[2022-08-18 15:49] catabozan opened #592 "ErrorException - Undefined array key "database""
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | ^2.3

Everything works fine on local environment, but a weird error appears on GitHub actions.

This is the error I get:
[code]
And this is the GitHub action:

[code]

Have you ever encountered this error before? What could be the possible cause of this?

[2022-08-18 16:05] eta-orionis commented on #511
I also confirm that pinning friendsofphp/php-cs-fixer at 3.9.5 solves the problem
(running on normal filesystem, no /app or docker)

[2022-08-18 16:49] billypoke opened #593 "php-cs-fixer > 3.9.5 causes LogicException in caching layer"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Library version  | 2.4.0

Pinning `friendsofphp/php-cs-fixer` at `3.9.5` works as a temporary solution. `3.9.6` and `3.10.0` are both giving the error

https://github.com/nunomaduro/phpinsights/blob/master/src/Domain/Runner.php#L183 This line is the source of the error

_Originally posted by @billy

[2022-08-18 19:40] cpfpolkehn commented on #584
in our case the root cause was / is https://github.com/nunomaduro/phpinsights/issues/593

[2022-08-19 04:52] real-splendid commented on #593
Recently, in phpinsights dependency (FriendsOfPHP/PHP-CS-Fixer) they substituted php-cs-fixer/diff with sebastian/diff. Since phpinsights used php-cs-fixer/diff and it was not locked in composer.json, It does not work anymore. This problem appeared as "LogicException Unable to find data for ...".

already fixed it in my PR
https://github.com/nunomaduro/phpinsights/pull/591

[2022-08-19 05:43] real-splendid commented on #593
https://github.com/nunomaduro/phpinsights/blob/984c1b333afcda5d2586d4b4a389939b80862900/src/Domain/Differ.php#L7 this line is the source of the error

and [#511 (comment)](https://github.com/nunomaduro/phpinsights/issues/511#issuecomment-1219588656) probably have a different source of error.
LogicException may occur when `Runner` start `Symfony\Component\Process\Process` and it may fail for differ

[2022-08-19 07:24] real-splendid commented on #584
my comment with some explanation
https://github.com/nunomaduro/phpinsights/issues/593#issuecomment-1220275535

In this case process failed because of `use PhpCsFixer\Diff\Differ as BaseDiffer;`
I did PR witch fix issue https://github.com/nunomaduro/phpinsights/pull/591

[2022-08-22 13:48] jeremyFreeAgent commented on #511
I also confirm that pinning friendsofphp/php-cs-fixer at 3.9.5 solves the problem.

[2022-08-24 11:16] patrickomeara commented on #593
I'm also having this issue. Thanks for writing it up @billypoke

To pin 3.9.5: ```composer require friendsofphp/php-cs-fixer:v3.9.5```

[2022-08-24 20:47] trianity commented on #511
I also confirm that pinning friendsofphp/php-cs-fixer at 3.9.5 solves the problem.

[2022-08-29 12:38] pelmered commented on #511
I still have this problem with friendsofphp/php-cs-fixer at `v3.10.0` and PHPInsights at `"v2.4.0`

[code]

[2022-08-29 13:09] FulgerX2007 commented on #593
Thank you, it helps.

[2022-09-01 05:58] lengjunbin-trec opened #596 "[Question] Is it possible to remove the star or contribution information？"
![image](https://user-images.githubusercontent.com/61955063/187841881-bcb0a136-131b-47d7-801c-f402cd3f7d00.png)
As shown above:I want to remove red box information.Anyone have a way？

[2022-09-01 07:40] renky commented on #593
I also had this problem with a nearly complete clean setup of a new laravel-project. I got the message
[code]

Pinning php-cs-fixer to version 3.9.5 helped.

[2022-09-02 01:30] lengjunbin-trec commented on #517
I checked `v2.2.0` kernel.php doesn't have this fixed.error happened.
@JustSteveKing
![image](https://user-images.githubusercontent.com/61955063/188039680-2ab161c5-e4a3-4bba-8fd1-fa90074290d5.png)

[2022-09-03 11:06] cmgmyr commented on #584
This should be fixed in `2.5.0`. Please let us know if you are still having issues

[2022-09-03 11:06] #584 closed

[2022-09-03 11:06] cmgmyr commented on #593
This should be fixed in `2.5.0`. Please let us know if you are still having issues

[2022-09-03 11:06] #593 closed

[2022-09-05 18:25] LocalHeroPro opened #598 "Abandon package php-cs-fixer/diff"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | no
| Library version  | 2.5.0

Run in terminal:
[code]

[2022-09-06 12:26] cmgmyr commented on #598
Yes, this package is recently abandoned. I should be able to update the dependency this week. Thank you for reporting

[2022-09-07 17:40] cmgmyr commented on #598
Fixed in `v2.6.0`

[2022-09-07 17:40] #598 closed

[2022-09-14 09:30] enigmatic-user commented on #37
I have the same problem on a Windows 10 (21H2) machine using Take Command v28 as terminal (same in CMD and PowerShell); it looks like in the first screenshot from @ghost.

It seems that the fg=black definition in the Console constants QUALITY, COMPLEXITY, STRUCTURE, and STYLE doesn't work correctly on Windows (at least not on my system); when I change it to fg=white, the percentages are clearly re

[2022-09-14 10:11] JustSteveKing commented on #37
Yeah I think unfortunately we have a tendency to only test this on mac at times. Happy to accept a PR on this?

[2022-09-15 07:05] JustSteveKing commented on #37
Thanks for this, just running the workflows not for due diligence. Both @cmgmyr and myself are in the process of planning the next stable version which will hopefully see some performance improvements alongside stability in the testing.

As soon as these workflows have ran I will merge, from the files I can see that it is only UI changing for the terminal so it shouldn't effect anything else

[2022-09-15 07:18] JustSteveKing commented on #37
@enigmatic-user new release includes this fix. As this is an accessibility fix I thought it made sense to get it out as soon as possible.

Thanks for your contribution!

[2022-09-16 16:42] enigmatic-user commented on #37
@JustSteveKing Thank you very much for merging this so quickly - and for working on this great package!

[2022-09-16 16:52] JustSteveKing commented on #37
You're most welcome!

I don't do much on the package atm though! We are planning the next major release atm though 🙂